{% extends '_base.html' %}

<!--  -->
{% block title %} Podcast {% endblock %}
<!--  -->

{% block banner %}
<!--  -->
{% endblock %}
<!--  -->
{% block content %}

{% if episods %}
<div class="w-full flex justify-center">
  <div class=" bg-white w-full border-b flex justify-center">
    <div class="h-full flex flex-col items-center justify-between w-full">
      {% for episod in episods %}
      
      <div class="w-full mb-12">
        <div class="text-3xl font-bold text-blue-800 my-3">
          {{ episod.title }}
        </div>
        <div class="text-xl text-blue-800 leading-tight my-1">
          {{ episod.embed|safe }}
        </div>
        <div class="text-lg text-blue-800 leading-tight mt-2 flex items-center">
          <div>
            <span>{{ episod.published_at }} </span> • <span>Invité : {{ episod.guest }}</span>
          </div>
        </div>
      </div>
      
      {% endfor %} 
    </div>
  </div>
</div>
{% endif %}

{% endblock %}
