{% extends '_base.html' %}

{% block banner %}
  
{% endblock %}

{% block title %}
Processus d'entrevue
{% endblock %}

<!--  -->
{% block content %}

<div class="w-full px-4 md:px-6 text-xl text-gray-800 leading-normal">
			
  <!--Title-->
  <div class="mb-4">
    <span class="text-base md:text-sm text-blue font-bold">&lt;<span> <a href="{% url 'episodes' %}" class="text-base md:text-sm text-blue font-bold no-underline hover:underline">Podcast</a></p>
    <h1 class="font-bold font-sans break-normal text-gray-900 pt-6 pb-2 text-3xl md:text-4xl">Processus d'entrevue</h1>
    <p class="text-sm md:text-base font-normal text-gray-600">Mise à jour 14 mai 2020</p>
  </div>

  
  <h2 class="py-2 font-semibold">
    Planification
  </h2>

  <p class="py-6"> 
    J'utilise <a href="http://vyte.in" target="_blank" rel="noopener noreferrer">http://vyte.in</a> pour planifier nos entretiens. Gardez un œil sur une invitation et lorsque vous la recevrez, votez pour un créneau horaire suggéré. Si aucun des jours / heures suggérés ne vous convient, n'hésitez pas à suggérer une heure qui fonctionnera avec votre horaire <br>
    Je suis dans le fuseau horaire de l'afrique de l’ouest GMT+0 et je vis les soirs de semaine pour les créneaux d'interview. Cela étant dit, je reconnais que les invités sont souvent dans des fuseaux horaires différents et je suis heureux de planifier en fonction de vos besoins.
  </p>

  <h2 class="py-2 font-semibold">
    Enregistrement de votre audio
  </h2>
  <p class="py-6">
    Afin de produire un podcast de haute qualité, j'utilise le service  <a href="https://zencastr.com/" target="_blank" rel="noopener noreferrer">Zencastr.com</a> pour gérer l'enregistrement audio direct de tous les participants via un navigateur. J'enverrai une URL à utiliser lors de l'entretien à l'avance. Une fois la conversation terminée, le fichier WAV de votre audio direct sera téléchargé automatiquement, veuillez donc laisser l'onglet du navigateur ouvert jusqu'à ce que cela soit terminé. C'est également une bonne idée d'avoir une paire d'écouteurs à utiliser pendant l'appel afin d'éviter les retours de vos enceintes.
  </p>

  <h2 class="py-2 font-semibold">
    Questions d'entrevue
  </h2>
  <p class="py-6">
    Avant l'entretien, je vous enverrai un lien vers les questions et les sujets que j'ai l'intention de couvrir. Cela vous permettra d'ajouter toutes les questions qui me manquent ou de fournir des commentaires sur les questions et les sujets que j'ai. S'il y a des questions auxquelles vous n'êtes pas à l'aise de répondre ou qui ne semblent pas pertinentes pour le sujet de la conversation, je serai heureux de les supprimer ou de les modifier.
  </p>

  <h2 class="py-2 font-semibold">
    Choix/Partage
  </h2>
  <p class="py-6">
    À la fin du podcast, j'aime inclure une section «choix». C'est là que nous avons la possibilité de partager avec le public tout ce que nous trouvons intéressant ou utile. Cela peut inclure n'importe quoi, à la fois technique et non. Quelques exemples sont un livre que vous aimez, un film que vous aimez, un style particulier de nourriture, une destination de vacances, votre passe-temps préféré… Tout ce que vous pensez que le public aimerait apprendre.
  </p>
	
  <h2 class="py-2 font-semibold">
    Publication et suivie
  </h2>

  <p class="py-6">
    Après l'entrevue, je modifierai l'enregistrement et je partagerai l'épisode dans un délai de 1 à 2 semaines. Étant donné que l'épisode est en cours de modification, ne vous inquiétez pas des malentendus ou des digressions pendant l'appel, car ils peuvent tous être corrigés après. Une fois l'épisode est prêt, je l'annoncerai via Twitter, YouTube et ma liste de diffusion et je vous informerai dès qu'il sera disponible. Si vous pouvez promouvoir l'épisode au sein de vos réseaux, ce serait apprécié.
  </p>
      
</div>


<!--  -->
{% endblock %}