{% extends "_dashboard_base.html" %} {% load static %} {% load crispy_forms_tags %} {% block title %} Gestion Chapitre {% endblock title %} {% block sidebar %} {% include "partials/_sidebar_dashboard.html" %} {% endblock sidebar %} {% block content %}

<div class="_215b15 _byt1458">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="course_tabs">
                    <nav>
                        <div class="nav nav-tabs tab_crse justify-content-center" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab" aria-selected="true">About</a>
                            <a class="nav-item nav-link" id="nav-courses-tab" data-toggle="tab" href="#nav-courses" role="tab" aria-selected="false">Courses Content</a>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="_215b17">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="course_tab_content">
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-about" role="tabpanel">
                            <div class="_htg451">
                                <div class="_htg452">
                                    <h3><i class='uil uil-file-download-alt icon_142'></i>Liste des leçons</h3>
                                    {% if messages %} {% for message in messages %}
                                    <div class="alert alert-info" role="alert">
                                        {{ message }}
                                    </div>
                                    {% endfor %} {% endif %}
                                </div>
                                <div class="_htgdrt mt-35">
                                    <div class="card_dash_right1 mb-2">
                                        <button class="create_btn_dash" data-toggle="modal" data-target="#new_lesson">Ajouter une leçon</button>
                                    </div>
                                    <div class="table-responsive mt-30">
                                        <table class="table ucp-table" id="lessons_list">
                                            <thead class="thead-s">
                                                <tr>
                                                    <th class="text-center" scope="col">#</th>
                                                    <th>Titre</th>
                                                    <th class="text-center" scope="col">Date de création</th>
                                                    <th class="text-center" scope="col">Archivé</th>
                                                    <th class="text-center" scope="col">Ordre</th>
                                                    <th class="text-center" scope="col">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                {% for lesson in lessons %}
                                                <tr id="{{lesson.id}}">
                                                    <td class="text-center">{{ forloop.counter }}</td>
                                                    <td id="{{lesson.name}}_{{lesson.id}}">{{ lesson.title }}</td>
                                                    <td class="text-center">{{ lesson.date_created|date:"D d M Y" }}
                                                    </td>

                                                    <td class="text-center">
                                                        <b class="course_active">
                                                            {% if lesson.drafted %}
                                                            Oui
                                                            {% else %}
                                                            Non
                                                            {% endif %}
                                                        </b>
                                                    </td>
                                                    <td class="text-center">{{ lesson.order }}</td>
                                                    <td class="text-center">
                                                        <div class="dropdown">
                                                            <a class="btn" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                <i class="fas fa-ellipsis-v"></i>
                                                            </a>
                                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                                <button id="edit_lesson" chapter_id="{{chapter.id}}" class="btn btn-sm">
                                                                    <a title="Edit" class="dropdown-item"
                                                                        data-toggle="modal"
                                                                        data-target="#edit_lesson_{{lesson.id}}">Modifier</a>
                                                                </button>
                                                                <button class="btn btn-sm">
                                                                    <a data-toggle="modal" data-target="#delete_lesson"
                                                                        title="Delete" class="dropdown-item">Supprimer
                                                                    </a>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>

                                                <!-- Update Lesson Modal-->
                                                <div class="modal fade edit_lesson" id="edit_lesson_{{lesson.id}}" tabindex="-1" role="dialog" aria-labelledby="editLessonModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h2 class="st_title" id="editLessonModalLabel"><i class="uil uil-analysis"></i>Modifier la leçon<b class="course_active">{{ lesson.title }}</b>
                                                                </h2>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: red">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <form id="edit-lesson" lesson_id={{lesson.id}} method="POST" data-url="{% url 'dashboard:update-lesson' lesson.id %}">
                                                                    {% csrf_token %}
                                                                    <div class="general_info10">
                                                                        <div class="row">
                                                                            {{ form_update.non_field_errors }}
                                                                            <div class="col-lg-6 col-md-12">
                                                                                <small id="titleHelp" class="text-danger">
                                                                                    {{ form_update.title.errors }}
                                                                                </small>
                                                                                <div class="ui search focus mt-10 lbel25">
                                                                                    <label for="{{ form_update.title.id_for_label }}">Titre</label>
                                                                                    <div class="ui left icon input swdh19">
                                                                                        {{ form_update.title }}
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-lg-6 col-md-12">
                                                                                <small id="textHelp" class="text-danger">
                                                                                    {{ form_update.text.errors }}
                                                                                </small>
                                                                                <div class="ui search focus mt-10 lbel25">
                                                                                    <label for="{{ form_update.text.id_for_label }}">Texte</label>
                                                                                    <div class="ui left icon input swdh19">
                                                                                        {{ form_update.text }}
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-lg-6 col-md-12">
                                                                                <small id="videoHelp" class="text-danger">
                                                                                    {{ form_update.video_id.errors }}
                                                                                </small>
                                                                                <div class="ui search focus mt-10 lbel25">
                                                                                    <label for="{{ form_update.video_id.id_for_label }}">Video</label>
                                                                                    <div class="ui left icon input swdh19">
                                                                                        {{ form_update.video_id }}
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-lg-6 col-md-12">
                                                                                <small id="videoHelp" class="text-danger">
                                                                                    {{ form_update.platform.errors }}
                                                                                </small>
                                                                                <div class="ui search focus mt-10 lbel25">
                                                                                    <label for="{{ form_update.platform.id_for_label }}">Plateform</label>
                                                                                    <div class="ui left icon input swdh19">
                                                                                        {{ form_update.platform }}
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-lg-6 col-md-6 col-sm-12 mt-30">
                                                                                <button type="submit" class="create_btn_dash">Enregistrer</button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Delete Lesson Modal-->
                                                <div class="modal fade" id="delete_lesson" tabindex="-1" role="dialog" aria-labelledby="delLessonModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h2 class="st_title" id="delLessonModalLabel"><i class="uil uil-analysis"></i>Supprimer la leçon <b class="course_active">{{ lesson.name }}</b>
                                                                </h2>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: red">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <form id="delete-lesson" method="POST" data-url="{% url 'dashboard:delete-lesson' lesson.id %}">
                                                                    {% csrf_token %}
                                                                    <div class="general_info10">
                                                                        <div class="row">
                                                                            <div class="col-12">
                                                                                <div class="ui search focus mt-10 lbel25">
                                                                                    <label for="{{ form_update.name.id_for_label }}">Êtes-vous sûr de vouloir supprimer cette leçon?</label>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-12">
                                                                                <button data-dismiss="modal" class="create_btn_dash btn-danger" style="float: right;">Annuler</button>
                                                                                <button type="submit" class="create_btn_dash mr-2" style="float: right;">Confirmer</button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endfor %}

                                            </tbody>
                                        </table>

                                        {% if lessons.has_other_pages %}
                                        <div class="main-p-pagination text-center">
                                            <nav aria-label="Page navigation example">
                                                <ul class="pagination">

                                                    {% if lessons.has_previous %}
                                                    <li class="page-item">
                                                        <a class="page-link" href="?page={{ lessons.previous_page_number }}" aria-label="Previous">
                                                            &laquo;
                                                        </a>
                                                    </li>
                                                    {% else %}
                                                    <li class="page-item disabled">
                                                        <a class="page-link" href="#" aria-label="Previous">
                                                            &laquo;
                                                        </a>
                                                    </li>
                                                    {% endif %} {% for i in lessons.paginator.page_range %} {% if lessons.number == i %}
                                                    <li class="page-item"><a class="page-link active" href="#">{{ i }}</a></li>
                                                    {% else %}
                                                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                                    {% endif %} {% endfor %} {% if lessons.has_next %}
                                                    <li class="page-item">
                                                        <a class="page-link" href="?page={{ lessons.next_page_number }}" aria-label="Next">
                                                            &raquo;
                                                        </a>
                                                    </li>
                                                    {% else %}
                                                    <li class="page-item disabled">
                                                        <a class="page-link" href="#" aria-label="Next">
                                                            &raquo;
                                                        </a>
                                                    </li>
                                                    {% endif %}

                                                </ul>
                                            </nav>
                                        </div>
                                        {% endif %}

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-courses" role="tabpanel">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Create Chapter Modal-->
<div class="modal fade" id="new_lesson" tabindex="-1" role="dialog" aria-labelledby="addLessonModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="st_title" id="addLessonModalLabel">
                    <i class="uil uil-analysis"></i> Créer une nouvelle leçon
                </h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: red">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="add-lesson" method="POST" data-url="{% url 'dashboard:create-lesson' course.slug %}">
                    {% csrf_token %}
                    <div class="general_info10">
                        <div class="row">
                            {{ form.non_field_errors }}
                            <div class="col-lg-6 col-md-12">
                                <small id="titleHelp" class="text-danger">
                                                                                    {{ form.title.errors }}
                                                                                </small>
                                <div class="ui search focus mt-10 lbel25">
                                    <label for="{{ form.title.id_for_label }}">Titre</label>
                                    <div class="ui left icon input swdh19">
                                        {{ form.title }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <small id="textHelp" class="text-danger">
                                                                                    {{ form.text.errors }}
                                                                                </small>
                                <div class="ui search focus mt-10 lbel25">
                                    <label for="{{ form.text.id_for_label }}">Texte</label>
                                    <div class="ui left icon input swdh19">
                                        {{ form.text }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <small id="videoHelp" class="text-danger">
                                                                                    {{ form.video_id.errors }}
                                                                                </small>
                                <div class="ui search focus mt-10 lbel25">
                                    <label for="{{ form.video_id.id_for_label }}">Video</label>
                                    <div class="ui left icon input swdh19">
                                        {{ form.video_id }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <small id="videoHelp" class="text-danger">
                                                                                    {{ form.platform.errors }}
                                                                                </small>
                                <div class="ui search focus mt-10 lbel25">
                                    <label for="{{ form.platform.id_for_label }}">Plateform</label>
                                    <div class="ui left icon input swdh19">
                                        {{ form.platform }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 mt-30">
                                <button type="submit" class="create_btn_dash">Enregistrer</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block extrajs %} {% block semantic %} {% endblock semantic %}
<script>
    $(document).ready(function() {
        $("#add-lesson").on('submit', function() {
            event.preventDefault();
            var $thisURL = $('form#add-lesson').attr('data-url');
            var nameInput = $("input[id=title]")

            $.ajax({
                type: "POST",
                url: $thisURL,
                data: {
                    'title': titleInput.val(),
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                dataType: 'json',
                success: function(data) {
                    console.log(data)
                    nameInput.val('')
                    $('#new_lesson').modal('toggle');
                    let editUrl = "dashboard/update-lesson/" + data['id'] + "/"

                    const tr_id = "lesson_" + data['id']
                    var new_line = '<tr id="' + tr_id + '">' +
                        '<td class="text-center">' + (data['order'] + 1) + '</td>' +
                        '<td>' + data['name'] + '</td>' +
                        '<td class="text-center">' + data['date_created'] + '</td>' +
                        '<td class="text-center"><b class="course_active">' + data['drafted'] + '</b></td>' +
                        '<td class="text-center">' + data['order'] + '</td>' +
                        '<td class="text-center"> <div class="dropdown">' +
                        '<a class="btn" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">' +
                        '<i class="fas fa-ellipsis-v"></i></a>' +
                        '<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">' +
                        '<button id="edit_lesson" course_id="' + data['course_id'] + '" class="btn btn-sm">' +
                        '<a href="' + editUrl + '"' +
                        'title="Edit" class="dropdown-item" data-toggle="modal"' +
                        'data-target="#edit_lesson">Modifier</a></button>' +
                        '</div></div></td>' +
                        '</tr>'

                    $('#lessons_list').append(new_line)

                },
                error: function(err) {}
            });
        })

        $("#edit-lesson").on('submit', function() {
            event.preventDefault();
            var $thisURL = $('form#edit-lesson').attr('data-url');
            var nameInput = $("input[id=update_title]")
            var lessonId = $('form#edit-lesson').attr('lesson_id')
            var modalDialog = $('#edit_lesson' + lessonId)

            /* $.ajax({
                type: "POST",
                url: $thisURL,
                data: {
                    'title': titleInput.val(),
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                dataType: 'json',
                success: function(data) {
                    // document.location.reload()
                    nameInput.val('')
                    $('#edit_lesson').modal('toggle');chapter
chapter
                }
            }); */
        })

    })
</script>
{% endblock extrajs %}