{% extends '_base.html' %}

{% load static %}

{% block title %}

{{ object.title }}

{% endblock %}
{% block header %}
  
{% endblock header %}

{% block banner %}
{% endblock %} 


{% block content %}

<!-- {% include "partials/_course_player.html" with lesson=lesson %} -->
{% include "partials/_course_lesson.html" with lesson=lesson %}

{% endblock %}


{% block extrajs %}
  <script>

// course lesson

document.getElementById('menuBtn').addEventListener('click', function () {
  document.getElementById('app').classList.add('opened');
});

document.getElementById('sideNavBg').addEventListener('click', function () {
  document.getElementById('app').classList.remove('opened');
});

  </script>
{% endblock extrajs %}