{% extends "_base.html" %}
{% load static %}

{% block title %}
Tous les cours
{% endblock title %}

{% block content %}

{% include "partials/_breadcrumbs.html" with previous="Accueil" previous_url="pages:home" current="Cours" text="Tous les cours" %}

<section class="paddingTop-50 paddingBottom-100 bg-light-v2">
  <div class="container">
    <div class="row">


      {% if courses %}

      {% for course in courses %}

      <div class="col-lg-4 col-md-6 marginTop-30">
        <div href="{% url 'course:course-overview' course.slug %}" class="card height-100p text-gray shadow-v1">
          <img class="card-img-top"
            src="{% if course.thumbnail %} {{ course.thumbnail.url }} {% else %} {% static 'images/mix/no-image-icon.png'  %} {% endif %}"
            alt="{{ course.title }}">
          <div class="card-body">
            <span class="badge position-absolute top-0 bg-success text-white" data-offset-top="-13">
              {{ course.categories.first }}
            </span>
            <a href="{% url 'course:course-overview' course.slug %}" class="h5">
              {{ course.title }}
            </a>
            <p class="my-3">
              <i class="ti-user mr-2"></i>
              {{ course.teacher.get_full_name|default_if_none:"Xarala" }}
            </p>
            <p class="mb-0">
              <i class="fas fa-star text-warning"></i>
              <i class="fas fa-star text-warning"></i>
              <i class="fas fa-star text-warning"></i>
              <i class="fas fa-star text-warning"></i>
              <i class="fas fa-star text-warning"></i>
              <span class="text-dark">5</span>
              <span>({{ course.count_students }})</span>
            </p>
          </div>
          <div class="card-footer media align-items-center justify-content-between">
            <ul class="list-unstyled mb-0">
              <li class="mb-1">
                <i class="ti-headphone small mr-2"></i>
                {{ course.count_lessons }} lectures
              </li>
              <li class="mb-1">
                <i class="ti-time small mr-2"></i>
                {{ course.count_duration }}
              </li>
            </ul>
            <h4 class="h5 text-right">

              {% if course.price %}
              <span class="text-primary"> {{ course.price }} XOF</span>
              {% else %}
              <span class="text-success">Gratuit</span>

              {% endif %}
            </h4>
          </div>
        </div>
      </div>

      {% endfor %}

      {% endif %}

    </div>

    {% include "partials/_pagination.html" %}

  </div> <!-- END container-->
</section>
{% endblock content %}