{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ object.title }}
{% endblock %}


{% block banner %}

{% endblock %}

{% block content %}

<section class="courses">
  <div class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2 mt-2">
          <h2 class="course-title text-center">{{ object.title }} - <span class="lesson-title">{{ lesson.title }}</span>
          </h2>
          <!-- /.course-title -->
          <div class="course-meta">
            <div class="course-video">
              <div class="embed-responsive embed-responsive-16by9 mb-4 rounded bg-light" id="videoWrapper">
                <iframe id="jsVimeoFrame" class="embed-responsive-item"
                  src="https://www.youtube.com/embed/{{ lesson.video_id }}?rel=0" frameborder="0" allowfullscreen=""
                  allow="autoplay; fullscreen"></iframe>
              </div>
            </div>
          </div>
          <div class="course-single-details">
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <a class="nav-item nav-link active" id="nav-1" data-toggle="tab" href="#description" role="tab"
                aria-controls="description" aria-selected="true">Description</a>
              <a class="nav-item nav-link" id="nav-2" data-toggle="tab" href="#curriculum" role="tab"
                aria-controls="curriculum" aria-selected="false">Curriculum</a>
              <a class="nav-item nav-link" id="nav-3" data-toggle="tab" href="#instructor" role="tab"
                aria-controls="instructor" aria-selected="false">Instructor</a>

            </div>

            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description">
                <h4 class="title">Description du cours</h4>
                {{ lesson.text|safe }}
              </div>
              <div class="tab-pane fade" id="curriculum" role="tabpanel" aria-labelledby="curriculum">
                <h4 class="title">Curriculum for this Course</h4>
                <div class="curriculum-details">

                  {% if object.get_chapters %}

                  {% for chapter in object.get_chapters %}
                  <div class="content-table">
                    <span class="title">{{ chapter.name }}</span>
                    <ul class="content-list">
                      {% if object.get_lessons  %}
                      {% for course in object.get_lessons  %}
                      {% if course.chapter.id == chapter.id %}
                      <li {% if course.id == lesson.id %} class="active-course" {% else %} class="" {% endif %}>
                        <span class="float-left"><a href="/courses/{{ object.slug }}/?lecture={{course.slug}}"><i
                              class="fa fa-play-circle""></i> {{ course.title }}
                            </a></span>
                          <span class=" float-right">1.5MB</span>
                        </liclass="active-course">
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                    </ul>
                  </div><!-- /.content-table -->
                  {% endfor %}
                  {% endif %}
                </div><!-- /.curriculum-details -->
              </div>

              <div class="tab-pane fade" id="instructor" role="tabpanel" aria-labelledby="instructor">
                <div class="author-bio">
                  <h3 class="title">Community</h3>
                  <div class="author-contents media">
                    <div class="author-details media-body">
                      <p>
                        There was a painful and uncontrollable squeaking mixed in with it, the words could be made out
                        at first but then there was a sort of echo which made them unclear, leaving the hearer unsure
                        whether he had heard properly or not.
                      </p>
                      <a href="#" class="load-more">Learn more <i class="fa fa-angle-double-right"></i></a>
                    </div>
                  </div>
                </div>
              </div>

              <!-- reviewss -->
            </div>
          </div><!-- /.course-single-details -->


          <!-- related course -->
        </div>
      </div><!-- /.row -->
    </div><!-- /.container -->
  </div><!-- /.section-padding -->
</section><!-- /.courses -->

{% endblock %}