{% extends '_base.html' %}

{% block banner %}
  
{% endblock %}

{% block title %}
  Liste des Cours
{% endblock %}

<!--  -->
{% block content %}
<!--  -->
{% include 'partials/alerts.html'%}
        <div class="max-w-5xl mx-auto flex justify-end">
          <h3
            class="font-display-italic font-bold text-5xl md:text-6xl italic leading-none mb-6 mt-2 ml-2"
          >
            Les cours disponbiles
          </h3>
        </div>
<!--  -->
{% include 'partials/_course-card.html'%}
<!--  -->
{% endblock %}

