{% extends '_base.html' %}

{% block style %}
<style>
    .error-text {
      font-size: 2rem;
    }

    @media (min-width: 768px) {
      .error-text {
        font-size: 1rem;
      }
    }

</style>
{% endblock style %}

{% block banner %}
  
{% endblock banner %}
  
{% block content %}
<div
class="h-full w-full bg-blue flex justify-center content-center flex-wrap"
>
<p class="font-sans text-white error-text">En cours de conception</p>
</div>

<div
class="absolute w-screen bottom-0 mb-6 text-white text-center font-sans text-xl"
>
<span class="opacity-50">Retour</span>
<a class="border-b" href="/">xarala.tech</a>
</div>
{% endblock content %}
