image: python:3.6

stages:
  - test
  - deploy

before_script:
  - apt-get update -qq && apt-get install -y -qq sshpass

all_tests:
  stage: test
  script:
    - sh ./sh_scripts/install.sh
    - cd src && pytest
  when: on_success
  only:
    - main

codestyle:
  stage: test
  script:
    - sh ./sh_scripts/install.sh
    - cd src && flake8
  when: on_success
  only:
    - main
