[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pycodestyle = "*"
autopep8 = "*"
flake8 = "*"

[packages]
Django = "==3.1.6"
Pillow = "==8.1.0"
mailchimp = "==2.0.9"
django-crispy-forms = "==1.11.0"
django-summernote = "==0.8.11.6"
gunicorn = "==20.0.4"
psycopg2-binary = "==2.8.6"
cloudinary = "==1.24.0"
django-jet = "==1.0.8"
sentry-sdk = "*"
graphene-django = "*"
django-graphql-jwt = "*"
django-cors-headers = "*"
whitenoise = "*"
django-allauth = "*"
celery = "==4.4.2"
flower = "==0.9.3"
django-embed-video = "*"
django-graphql-auth = "*"
django-import-export = "*"
pyjwt = "==1.7.1"
weasyprint = "*"
pytest-django = "*"
pytest = "*"
redis = "*"
social-auth-app-django = "*"
paydunya = "*"

[requires]
python_version = "3.6"
