{% extends '_base.html' %}
{% load static %}
{% block title %}
A propos de Xarala
{% endblock %}


{% block banner %}

{% endblock %}


{% block content %}
{% include "partials/_breadcrumbs.html" with previous=None previous_url="courses" current="Qui sommes nous" %}
<div class="mx-auto max-w-6xl bg-white py-20 px-12 lg:px-24 shadow-xl mb-24">
  <div class="mb-12">
    <h1 class="text-3xl lg:text-4xl text-center mb-6 tracking-wider">Qui sommes nous ?</h1>

    <p class="tracking-wide text-sm mb-6 leading-relaxed mx-auto max-w-xl text-center">Xarala Acadmey<br class="hidden md:block" />La technologie dans votre langue.</p>

    <p class="tracking-wide text-xs text-gray-600 leading-loose mx-auto max-w-xl text-center">Xarala, la technologie dans votre langue, est une plateforme d'apprentissage en ligne(E-Learning) qui
      permet à toute personne d'apprendre les nouvells technologies.</p>
  </div>

</div>
</div>




{% endblock %}