{% extends "_base.html" %}
{% load static %}

{% block title %}
Qui sommes-nous
{% endblock title %}


{% block content %}

<div class="page-section border-bottom-2">
  <div class="container page__container">
    <div class="row align-items-center">

      <div class="col-lg-5 mb-4 mr-auto text-center">
        <img class="wow fadeInLeft w-100 rounded" src="{% static 'assets/img/about/1.jpeg'  %}" alt="Qui sommes nous">
      </div>

      <div class=" col-lg-6">
        <h2>
          <span class="text-primary">Qui</span> Somme-nous ?
        </h2>
        <div class="width-4rem height-4 bg-primary rounded mt-4 marginBottom-40"></div>
        <p class="mb-5">
          <span class="text-primary bold">Xarala </span>signifie “La technologie”, en Wolof, est une plateforme
          d'apprentissage en ligne(E-Learning) qui permet à toute personne d'apprendre les nouvells technologies.
        </p>
        <ul class="list-unstyled list-style-icon list-icon-check-circle">
          <li><span class="material-icons icon-16pt text-50 mr-4pt">done</span>
            Formateurs professionels et experimentés
          </li>
          <li><span class="material-icons icon-16pt text-50 mr-4pt">done</span>
            Progressez dans votre vie
          </li>
          <li><span class="material-icons icon-16pt text-50 mr-4pt">done</span>
            Améliorerz votre niveau
          </li>
          <li><span class="material-icons icon-16pt text-50 mr-4pt">done</span>
            Contenu de qualité et accessible
          </li>
        </ul>
      </div> <!-- END col-lg-6 ml-auto-->
    </div> <!-- END row-->
  </div> <!-- END container-->
</div>





<div class="page-section border-bottom-2">
  <div class="container page__container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <h2>
          Ce que nous offrons
        </h2>
        <div class="width-4rem height-4 bg-primary rounded mt-4 marginBottom-40"></div>
        <p class="lead measure-lead">
          Nous offrons des formations professionnelles enseignées par des formateurs expérimentés et professionnels.
        </p>
        <div class="media mb-4">
          <span class="material-icons material-icons icon-32pt text-60 mr-4pt">high_quality</span>
          <div class="media-body pl-3">
            <h4 class="h5">Contenu de qualité</h4>
            <p class="lead measure-lead">
              Des contenus professionnels et accessibles quelques soit votre niveau ou votre langue.
            </p>
          </div>
        </div>
        <div class="media mb-4">
          <span class="material-icons material-icons icon-32pt text-60 mr-4pt">trending_up</span>
          <div class="media-body pl-3">
            <h4 class="h5">Nous parlons votre langue</h4>
            <p>
              Vivez une expérience unique en apprenant la technologie dans une langue que vous maitrisez. <br>
              Promouvoir la technologie dans les langues locales africaines

            </p>
          </div>
        </div>
      </div> <!-- END col-lg-6 ml-auto-->
      <div class="col-lg-5 mb-4 mr-auto text-center">
        <img class="wow fadeInRight w-100 rounded" src="{% static 'assets/img/about/2.jpeg'  %}" alt="">
      </div>
    </div> <!-- END row-->
  </div> <!-- END container-->
</div>





<div class="page-section border-bottom-2 bg-white">
  <div class="container page__container">
    <div class="page-headline text-center">
      <h2>Fonctionnalités uniques</h2>
      <p class="lead measure-lead mx-auto text-70">Vous cherchez une carrière garantie? Choisissez
        Xarala.</p>
    </div>

    <div class="row align-items-center">
      <div class="d-flex col-md align-items-center border-bottom border-md-0 mb-16pt pb-16pt pb-md-0">
        <div class="rounded-circle bg-dark w-64 h-64 d-inline-flex align-items-center justify-content-center mr-16pt">
          <i class="material-icons text-white">subscriptions</i>
        </div>
        <div class="flex">
          <div class="card-title mb-4pt">Formation pratique</div>
          <p class="card-subtitle text-70">Explorez un large éventail de compétences.</p>
        </div>
      </div>
      <div class="d-flex col-md align-items-center border-bottom border-md-0 mb-16pt pb-16pt pb-md-0">
        <div class="rounded-circle bg-dark w-64 h-64 d-inline-flex align-items-center justify-content-center mr-16pt">
          <i class="material-icons text-white">verified_user</i>
        </div>
        <div class="flex">
          <div class="card-title mb-4pt">Mentorat personnalisé</div>
          <p class="card-subtitle text-70">Soyez entourés par des coaches très expérimentés.</p>
        </div>
      </div>
      <div class="d-flex col-md align-items-center border-bottom border-md-0 mb-16pt pb-16pt pb-md-0">
        <div class="rounded-circle bg-dark w-64 h-64 d-inline-flex align-items-center justify-content-center mr-16pt">
          <i class="material-icons text-white">update</i>
        </div>
        <div class="flex">
          <div class="card-title mb-4pt">Accès illimité</div>
          <p class="card-subtitle text-70">Personnalisez la plateforme selon votre besoin.</p>
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="d-flex col-md align-items-center border-bottom border-md-0 mb-16pt mb-md-0 pb-16pt pb-md-0">
        <div class="rounded-circle bg-dark w-64 h-64 d-inline-flex align-items-center justify-content-center mr-16pt">
          <i class="material-icons text-white">code</i>
        </div>
        <div class="flex">
          <div class="card-title mb-4pt">Projets réels</div>
          <p class="card-subtitle text-70">Venez travailler sur des projets abmitieux</p>
        </div>
      </div>
      <div class="d-flex col-md align-items-center border-bottom border-md-0 mb-16pt mb-md-0 pb-16pt pb-md-0">
        <div class="rounded-circle bg-dark w-64 h-64 d-inline-flex align-items-center justify-content-center mr-16pt">
          <i class="material-icons text-white">layers</i>
        </div>
        <div class="flex">
          <div class="card-title mb-4pt">Certificat</div>
          <p class="card-subtitle text-70">Votre certificat, vous attend.</p>
        </div>
      </div>
      <div class="d-flex col-md align-items-center">
        <div class="rounded-circle bg-dark w-64 h-64 d-inline-flex align-items-center justify-content-center mr-16pt">
          <i class="material-icons text-white">accessibility</i>
        </div>
        <div class="flex">
          <div class="card-title mb-4pt">Problem solving</div>
          <p class="card-subtitle text-70">Soyez créative et apprenez à résoudre des problèmes.
          </p>
        </div>
      </div>
    </div>

  </div>
</div>

{% endblock content %}