{% extends 'base.html' %}
<!--  -->

{% block banner %} {% endblock %}
<!--  -->
{% block content %}
<!--  -->
<div class="container">
  <div class="row mb-5">
    <div class="col-12 text-center pt-3">
      <h4>Rejoignez la communaté</h4>
      <p>
        Suivez-nous sur les differents réseaux sociaux
      </p>
    </div>
  </div>

  <!--start code-->
  <div class="row mb-3">
    <div class="col-sm-4 offset-sm-4">
      <!--widget area-->
      <ul class="row mx-0 list-unstyled social-three text-center mb-5">
        <!--twitter-->
        <li class="col-4 col-sm-3 col-md-4 py-3 bg-twitter col-lg-4">
          <a
            class="d-block text-white"
            href="http://bit.ly/xaralaTwitter"
            target="_blank"
          >
            <i class="fab fa-twitter fa-2x"></i>
            <!-- <span class="d-block">5,867</span> -->
            <small class="d-block">Follow</small>
          </a>
        </li>
        <!--facebook-->
        <li class="col-4 col-sm-3 col-md-4 py-3 bg-facebook col-lg-4">
          <a
            class="d-block text-white"
            href="https://xarala.tech/xarala221/"
            target="_blank"
          >
            <i class="fab fa-facebook fa-2x"></i>
            <!-- <span class="d-block">5,867</span> -->
            <small class="d-block">Suivre</small>
          </a>
        </li>
        <!--instagram-->
        <li class="col-4 col-sm-3 col-md-4 py-3 bg-instagram col-lg-4">
          <a
            class="d-block text-white"
            href="https://xarala.tech/xarala221/"
            target="_blank"
          >
            <i class="fab fa-instagram fa-2x"></i>
            <!-- <span class="d-block">4,856</span> -->
            <small class="d-block">Suivre</small>
          </a>
        </li>
        <!--youtube-->
        <li class="col-4 col-sm-3 col-md-4 py-3 bg-youtube col-lg-4">
          <a
            class="d-block text-white"
            href="http://bit.ly/xaralaYouTube"
            target="_blank"
          >
            <i class="fab fa-youtube fa-2x"></i>
            <!-- <span class="d-block">2,419</span> -->
            <small class="d-block">S'abonner</small>
          </a>
        </li>
        <!--dicord-->
        <li class="col-4 col-sm-3 col-md-4 py-3 bg-dicord col-lg-4">
          <a
            class="d-block text-white"
            href="https://xarala.tech/xarala221/"
            target="_blank"
          >
            <i class="fab fa-discord fa-2x"></i>
            <!-- <span class="d-block">1,215</span> -->
            <small class="d-block">Rejoindre</small>
          </a>
        </li>
        <!--github-->
        <li class="col-4 col-sm-3 col-md-4 py-3 bg-github col-lg-4">
          <a
            class="d-block text-white"
            href="github.com/xarala221/"
            target="_blank"
          >
            <i class="fab fa-github fa-2x"></i>
            <!-- <span class="d-block">1,786</span> -->
            <small class="d-block">Contribuer</small>
          </a>
        </li>
        <!--end google-->
      </ul>
      <!--end widget area-->
    </div>
  </div>
  <!--end code-->
</div>
{% endblock %}
