{% extends "_base.html" %}
{% load static %}

{% block title %}
La communauté de Xarala
{% endblock title %}


{% block content %}

<section class="padding-y-100 border-bottom">
  <div class="container">
    <div class="row align-items-center">

      <div class="col-lg-5 mb-4 mr-auto text-center">
        <img class="wow fadeInLeft w-100 rounded" src="{% static 'assets/img/about/1.jpeg'  %}" alt="Qui sommes nous">
      </div>

      <div class=" col-lg-6">
        <h2>
          <span class="text-primary">Qui</span> Somme-nous ?
        </h2>
        <div class="width-4rem height-4 bg-primary rounded mt-4 marginBottom-40"></div>
        <p class="mb-5">
          <span class="text-primary">Xarala</span> c’est un mot Wolof qui signifie “La technologie” est une plateforme
          d'apprentissage en ligne(E-Learning) qui permet à toute personne d'apprendre les nouvells technologies. <br>
          l'idée est de permettre tout un chacun d'apprendre la technologie(bientôt tous les domaines) quelques soit la
          langue qu'il parle, son niveau d'études...
          L’objectif de <span class="text-primary">Xarala</span> est de devenir la référence numéro 1 de e-learning en
          Afrique.
        </p>
        <ul class="list-unstyled list-style-icon list-icon-check-circle">
          <li>
            Formateurs professionels et experimentés
          </li>
          <li>
            Progressez dans votre vie
          </li>
          <li>
            Améliorerz votre niveau
          </li>
          <li>
            Contenu de qualité et accessible
          </li>
        </ul>
      </div> <!-- END col-lg-6 ml-auto-->
    </div> <!-- END row-->
  </div> <!-- END container-->
</section>



<section class="padding-y-100 bg-light-v4">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 text-center">
        <h2>
          Rejoignez notre communauté
        </h2>
        <div class="width-4rem height-4 bg-primary rounded mt-4 marginBottom-40 mx-auto"></div>
      </div>
      <div class="col-lg-4 col-md-6 marginTop-30 wow fadeInUp" data-wow-delay=".1s">
        <a href="http://bit.ly/xaralaYouTube"
          class="card height-100p text-center p-4 p-md-5 transition hover:shadow-v3">
          <span class="iconbox iconbox-lg bg-danger mx-auto">
            <i class="ti-youtube font-size-24"></i>
          </span>
          <h5 class="my-4">
            YouTube
          </h5>
        </a>
      </div>

      <div class="col-lg-4 col-md-6 marginTop-30 wow fadeInUp" data-wow-delay=".2s">
        <a href="https://discord.gg/2gZqqp5" class="card height-100p text-center p-4 p-md-5 transition hover:shadow-v3">
          <span class="iconbox iconbox-lg bg-success text-white mx-auto">
            <i class="ti-server font-size-24"></i>
          </span>
          <h5 class="my-4">
            Discord
          </h5>
        </a>
      </div>

      <div class="col-lg-4 col-md-6 marginTop-30 wow fadeInUp" data-wow-delay=".3s">
        <a href="https://twitter.com/xarala221"
          class="card height-100p text-center p-4 p-md-5 transition hover:shadow-v3">
          <span class="iconbox iconbox-lg bg-primary text-white mx-auto">
            <i class="ti-twitter font-size-24"></i>
          </span>
          <h5 class="my-4">
            Twitter</h5>
        </a>
      </div>

      <div class="col-lg-4 col-md-6 marginTop-30 wow fadeInUp" data-wow-delay=".1s">
        <a href="https://web.facebook.com/xarala"
          class="card height-100p text-center p-4 p-md-5 transition hover:shadow-v3">
          <span class="iconbox iconbox-lg bg-info text-white mx-auto">
            <i class="ti-facebook font-size-24"></i>
          </span>
          <h5 class="my-4">
            Facebook
          </h5>
        </a>
      </div>

      <div class="col-lg-4 col-md-6 marginTop-30 wow fadeInUp" data-wow-delay=".2s">
        <a href="https://linkedin.com/in/xarala221"
          class="card height-100p text-center p-4 p-md-5 transition hover:shadow-v3">
          <span class="iconbox iconbox-lg bg-warning text-white mx-auto">
            <i class="ti-linkedin font-size-24"></i>
          </span>
          <h5 class="my-4">
            Linkedin
          </h5>
        </a>
      </div>

      <div class="col-lg-4 col-md-6 marginTop-30 wow fadeInUp" data-wow-delay=".3s">
        <a href="https://github.com/xarala221"
          class="card height-100p text-center p-4 p-md-5 transition hover:shadow-v3">
          <span class="iconbox iconbox-lg bg-dark text-white mx-auto">
            <i class="ti-github font-size-24"></i>
          </span>
          <h5 class="my-4">
            Github
          </h5>
        </a>
      </div>

    </div> <!-- END row-->
  </div> <!-- END container-->
</section>



{% endblock content %}