{% extends 'base.html' %}
<!--  -->
{% block content %}
<!--  -->
{% include 'partials/alerts.html'%}
<!--  -->
<section class="popular-courses">
  <div class="section-padding">
    <div class="container">
      <div class="top-content">
        <div class="left-content float-left">
          <h2 class="section-title">Formation populaire</h2>
          <p>Les compétences les plus attendues</p>
        </div>
        <!-- /.left-content -->

        <div class="owl-controls float-right"></div>
        <!-- /.owl-controls -->
      </div>
      <!-- /.top-content -->

      {% if courses %}

      <div class="course-items with-slider">
        <div id="course-slider" class="course-slider owl-carousel">
          {% for course in courses %}

          <div class="item">
            <div class="item-thumb">
              <img src="{% if course.thumbnail %} {{ course.thumbnail.url }} {% else %}  {% endif %}" alt="Item Thumbnail" />
              <div class="avatar">
                <img class="rounded-circle" src="{% if course.teacher.avatar %} {{ course.teacher.avatar.url }} {% else %} {% endif %}" alt="Avatar Image" />
              </div>
              <!-- /.avatar -->
            </div>
            <!-- /.item-thumb -->
            <div class="item-details">
              <h3 class="item-title">
                <a href="{% url 'course-overview'  course.slug %}">
                  {{ course.title }}</a>
              </h3>
              <!-- /.item-title -->
              <span class="instructor"><a href="#">{{ course.teacher.get_full_name }}</a></span><!-- /.instructor -->
              <div class="details-bottom">
                <div class="course-price float-left">
                  <span class="currency">$ </span><span class="price">{{ course.price }}</span>
                </div>
                <!-- /.course-price -->
                <!-- <div class="rating float-right">
                  <input type="hidden" class="rating-tooltip-manual" data-filled="fas fa-star" data-empty="far fa-star"
                    data-fractions="2" />
                </div> -->
                <!-- /.rating -->
              </div>
              <!-- /.details-bottom -->

              <div class="item-meta">
                <span><i class="icons icon-people"></i>
                  {{ course.students.all.count }}</span>
                <span><i class="icons icon-clock"></i> {{ course.count_duration }}</span>
                <span><i class="icons icon-bubble"></i> 0</span>
              </div>
              <!-- /.item-meta -->
            </div>
            <!-- /.item-details -->
          </div>
          <!-- /.item -->
          {% endfor %}
        </div>
      </div>
      {% else %}

      <div class="alert alert-info text-center">
        <p class="lead">Pas de formation disponible!</p>
      </div>

      {% endif %}
    </div>
  </div>
</section>

<section class="recent-posts black-bg">
  <div class="section-padding">
    <div class="container">
      <div class="top-content">
        <div class="left-content float-left">
          <h2 class="section-title">Derniere minute</h2>
          <p>Derniere publication de Xarala</p>
        </div>
        <!-- /.left-content -->
        <div class="owl-controls float-right"></div>
        <!-- /.owl-controls -->
      </div>
      <!-- /.top-content -->

      <div id="post-slider" class="post-slider owl-carousel">
        {% if posts %} {% for post in posts %}

        <div class="item">
          <article class="post">
            <div class="entry-thumbnail radius">
              <img src="{{ post.image.url }}" alt="Post Thumbnail" />
            </div>
            <!-- /.entry-thumbnail -->
            <div class="entry-content">
              <h3 class="entry-title">
                <a href="{% url 'blog-detail' post.slug %}">{{ post.title }}</a>
              </h3>
              <!-- /.entry-title -->
              <div class="entry-meta">
                <span class="author"><i class="icon-user"></i>
                  <a href="#">{{ post.author.get_full_name }}</a></span><!-- /.author -->
                <span class="time"><i class="icon-calendar"></i> {{ post.date_created|date:'d/m/Y' }}</span>
                <!-- /.time -->
              </div>
              <!-- /.entry-meta -->
            </div>
            <!-- /.entry-content -->
          </article>
          <!-- /.post -->
        </div>
        {% endfor %} {% endif %}
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.section-padding -->
</section>
<!-- /.recent-posts -->

{% endblock %}