{% extends '_base.html' %}
<!--  -->
{% block banner %}
{% include "partials/_slider.html" with carousel=carousel %}
{% endblock banner %}
{% block content %}
<!--  -->
{% include 'partials/alerts.html'%}
<!--  -->
 

<div class="courses py-10">
  {% include 'partials/_course-card.html'%}
  <div class="course-button text-center pb-4">
    <a href="{% url 'courses' %}" class="inline-block bg-blue font-condensed text-primary py-2 px-5 text-white rounded-full hover:shadow-lg hover:bg-blue-600 hover:text-white">
      Voir tous les Tutoriels
    </a>
  </div>
</div>

{% include "partials/_top_categories.html" with categories=categories %}

{% include "partials/_become_teacher_banner.html" with carousel=carousel %}
<!--  -->

{% endblock %}
