{% extends "_base.html" %}
{% load static %}

{% block title %}
Bienvenue chez Xarala.
{% endblock title %}

{% block content %}
<div class="mdk-box mdk-box--bg-white-35 bg-white js-mdk-box mb-0" data-effects="parallax-background blend-background">
  <div class="mdk-box__bg">
    <div class="mdk-box__bg-front" style="background-image: url({% static 'public/images/5.jpg' %})">
    </div>
  </div>
  <div
    class="mdk-box__content d-flex align-items-center justify-content-center container page__container text-center py-112pt"
    style="min-height: 656px;">
    <div class="card card--transparent mb-0">
      <div class="card-body px-32pt py-24pt">
        <h1>Prenez votre carrière en main.</h1>
        <p class="lead measure-lead mx-auto mb-32pt">Choisissez Xarala et bénéficiez de l’Emploi
          Garanti. Explorez un large éventail de compétences avec nos tutoriels professionnels..
        </p>

        <a href="#" class="btn btn-lg btn-accent btn--raised mb-16pt">Commencez ici</a>

        <p class="mb-0"><a href="#"><strong>Êtes-vous formateur?</strong></a></p>

      </div>
    </div>
  </div>
</div>

<div class="page-section border-bottom-2 bg-white">
  <div class="container page__container">
    <div class="page-headline text-center">
      <h2>Fonctionnalités uniques</h2>
      <p class="lead measure-lead mx-auto text-70">Vous cherchez une carrière garantie? Choisissez
        Xarala.</p>
    </div>

    <div class="row align-items-center">
      <div class="d-flex col-md align-items-center border-bottom border-md-0 mb-16pt pb-16pt pb-md-0">
        <div class="rounded-circle bg-dark w-64 h-64 d-inline-flex align-items-center justify-content-center mr-16pt">
          <i class="material-icons text-white">subscriptions</i>
        </div>
        <div class="flex">
          <div class="card-title mb-4pt">Formation pratique</div>
          <p class="card-subtitle text-70">Explorez un large éventail de compétences.</p>
        </div>
      </div>
      <div class="d-flex col-md align-items-center border-bottom border-md-0 mb-16pt pb-16pt pb-md-0">
        <div class="rounded-circle bg-dark w-64 h-64 d-inline-flex align-items-center justify-content-center mr-16pt">
          <i class="material-icons text-white">verified_user</i>
        </div>
        <div class="flex">
          <div class="card-title mb-4pt">Mentorat personnalisé</div>
          <p class="card-subtitle text-70">Soyez entourés par des coaches très expérimentés.</p>
        </div>
      </div>
      <div class="d-flex col-md align-items-center border-bottom border-md-0 mb-16pt pb-16pt pb-md-0">
        <div class="rounded-circle bg-dark w-64 h-64 d-inline-flex align-items-center justify-content-center mr-16pt">
          <i class="material-icons text-white">update</i>
        </div>
        <div class="flex">
          <div class="card-title mb-4pt">Accès illimité</div>
          <p class="card-subtitle text-70">Personnalisez la plateforme selon votre besoin.</p>
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="d-flex col-md align-items-center border-bottom border-md-0 mb-16pt mb-md-0 pb-16pt pb-md-0">
        <div class="rounded-circle bg-dark w-64 h-64 d-inline-flex align-items-center justify-content-center mr-16pt">
          <i class="material-icons text-white">code</i>
        </div>
        <div class="flex">
          <div class="card-title mb-4pt">Projets réels</div>
          <p class="card-subtitle text-70">Venez travailler sur des projets abmitieux</p>
        </div>
      </div>
      <div class="d-flex col-md align-items-center border-bottom border-md-0 mb-16pt mb-md-0 pb-16pt pb-md-0">
        <div class="rounded-circle bg-dark w-64 h-64 d-inline-flex align-items-center justify-content-center mr-16pt">
          <i class="material-icons text-white">layers</i>
        </div>
        <div class="flex">
          <div class="card-title mb-4pt">Certificat</div>
          <p class="card-subtitle text-70">Votre certificat, vous attend.</p>
        </div>
      </div>
      <div class="d-flex col-md align-items-center">
        <div class="rounded-circle bg-dark w-64 h-64 d-inline-flex align-items-center justify-content-center mr-16pt">
          <i class="material-icons text-white">accessibility</i>
        </div>
        <div class="flex">
          <div class="card-title mb-4pt">Problem solving</div>
          <p class="card-subtitle text-70">Soyez créative et apprenez à résoudre des problèmes.
          </p>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="page-section border-bottom-2">
  <div class="container page__container">
    <div class="page-separator">
      <div class="page-separator__text">Dernier cours</div>
    </div>

    <div class="row card-group-row">

      {% include "partials/_course_card.html" with courses=courses %}

    </div>
  </div>
</div>

<div class="page-section border-bottom-2">
  <div class="container page__container">
    <div class="page-separator">
      <div class="page-separator__text">parcours d'apprentissage</div>
    </div>


    <div class="row card-group-row mb-lg-8pt">
      {% include 'partials/_path_card.html' with course_paths=course_paths %}
    </div>

  </div>
</div>

<div class="page-section border-bottom-2">
  <div class="container page__container">

    <div class="page-separator">
      <div class="page-separator__text">LE BLOG</div>
    </div>

    <div class="row card-group-row">

      {% include "partials/_blog_card.html" with posts=posts %}

    </div>

  </div>
</div>

{% endblock content %}