{% extends "_base.html" %}
{% load static %}

{% block title %}
Merci de nous avoir contacté
{% endblock title %}


{% block content %}

<section class="padding-y-150">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2><i class="fas fa-check-circle text-success mr-1"></i> Merci</h2>
        <h4 class="my-4">Merci de nous avoir contacté!</h4>
        <!-- <p>
          Your order has been placed and will be processed as soon as possible.
          You will be receiving an email shortly with confirmation of your order. <br>
          Your oredr number : <strong>54BGRFD0457</strong>
        </p> -->
        <a href="/" class="btn btn-primary mt-4">Retour à l'accueil</a>
      </div>
    </div> <!-- END row-->
  </div> <!-- END container-->
</section>


{% endblock %}