{% extends '_base.html' %}
{% load static %}
{% block title %}
A propos de Xarala
{% endblock %}


{% block banner %}

{% endblock %}


{% block content %}
{% include "partials/_breadcrumbs.html" with previous=None previous_url="courses" current="Merci" %}
<div class="mx-auto max-w-6xl bg-white py-20 px-12 lg:px-24 shadow-xl mb-24">
  <div class="mb-12">
    <h1 class="text-3xl lg:text-4xl text-center mb-6 tracking-wider">Merci</h1>

    <p class="tracking-wide text-sm mb-6 leading-relaxed mx-auto max-w-xl text-center">
      Merci de nous avoir contacté! Nous vous contacterons prochainement.</p>

  </div>

</div>
</div>




{% endblock %}