{% extends "_base.html" %}
{% load static %}

{% block title %}
Parcours d'apprentissage
{% endblock title %}

{% block content %}


<div class="section3125">
  <div class="sa4d25">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-12 col-lg-12">
            {% for path in learning_path  %}
            <div class="bg_blog2">
						    <img src="{% if path.thumbnail %}
                                {{ path.thumbnail.url }}
                                {% elif path.thumbnail_url %}
                                {{ path.thumbnail_url }}
                                {% else %}{% static 'images/logo.png'  %}
                                {% endif %}" alt="{{ path.title }}" alt=""
                            >
						</div>
						<div class="vew120 frc123">
							<div class="vdtodt55">
								<span class="vdt24">109k views</span>
								<span class="vdt24">{{ path.created_at | date:"d, M, Y"}} </span>
							</div>
							<p>
								{{ path.title}}
							</p>
						</div>
						<div class="vew120 mt-35 mb-30">			
							{{ path.description|safe }}
						</div>
                    {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock content %}