{% extends "_base.html" %}
{% load static %}

{% block meta %}
<meta property="og:url" content="{{ request.get_host }}/{{ post.slug }}" />
<meta property="og:title" content="{{ post.title }}" />
<meta property="og:image" content="{% if post.thumbnail %}
            {{ post.thumbnail.url }}
            {% elif post.thumbnail_url %}
            {{ post.thumbnail_url }}
            {% else %}{% static 'images/logo.png'  %}
            {% endif %}" />
<meta property="og:image:alt" content="{{ post.title }}" />

<meta name="twitter:image" content="{% if post.thumbnail %}
            {{ post.thumbnail.url }}
            {% elif post.thumbnail_url %}
            {{ post.thumbnail_url }}
            {% else %}{% static 'images/logo.png'  %}
            {% endif %}" />
<meta property="twitter:image:alt" content="{{ post.title }}" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@xaralatech" />
{% endblock meta %}

{% block title %}
Le blog de Xarala - {{ post.title }}
{% endblock title %}

{% block content %}
<div class="section3125">
  <div class="faq1256">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-md-8">
          <div class="bg_blog2">
            <img src="
            {% if post.thumbnail %}
            {{ post.thumbnail.url }}
            {% elif post.thumbnail_url %}
            {{ post.thumbnail_url }}
            {% else %}{% static 'images/logo.png'  %}
            {% endif %}" alt="{{ post.title }}" class="img-fluid">
          </div>
          <div class="vew120 frc123">
            <div class="vdtodt55">
              <span class="vdt24">Par : {{ post.author.get_full_name }}</span>
              <span class="vdt24">{{ post.date_created|date:"d, M, Y" }}</span>
            </div>
            <p>{{ post.description|safe }}</p>
          </div>
          <div class="vew120 mt-35 mb-30">
            {{ post.content|safe }}
          </div>


        </div>
        <!-- <div class="col-md-12">
          <div class="blog_pagination">
            <a href="#" class="bp_left">
              <i class="uil uil-angle-double-left"></i>
              <div class="kslu15">
                <div class="prevlink">Previous</div>
                <div class="prev_title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
              </div>
            </a>
            <a href="#" class="bp_right">
              <div class="kslu16">
                <div class="prevlink1">Next</div>
                <div class="prev_title1">Vestibulum vulputate nulla quis dignissim ultricies.</div>
              </div>
              <i class="uil uil-angle-double-right"></i>
            </a>
          </div>
        </div> -->

      </div>
    </div>
  </div>

</div>


{% endblock content %}