{% extends "_base.html" %}
{% load static %}

{% block title %}
Qui sommes-nous ?
{% endblock title %}


{% block content %}
<div class="new-section ">
  <div class="sa4d25">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="title129 mt-35 mb-35">
            <h2>Changez de dimension à travers un apprentissage rigoureux</h2>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <div class="title589 text-center">
            <h2>Nos fonctionnalités</h2>
            <p>Avec notre plateforme, vous avez accès à :</p>
            <img class="line-title" src="{% static 'images/line.svg' %}" alt="" />
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="feature125">
            <i class="uil uil-mobile-android-alt text-info"></i>
            <h4>Apprentissage sur mobile</h4>
            <p>
              Nous sommes présents sur Playstore et App store pour diversifier
              et rendre plus agréable votre expérience avec nous.
            </p>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="feature125">
            <i class="uil uil-users-alt text-success"></i>
            <h4>Mentorat personnalisé</h4>
            <p>
              Nous vous proposons un soutien académique et technique
              pour vous aider à monter en comptétences.
            </p>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="feature125">
            <i class="uil uil-award text-danger"></i>
            <h4>Certification</h4>
            <p>
              Obtenez un certificat à la fin de chaque cours.
              Ce qui enrichira à coup sûr votre CV et augmentera votre crédibilité.
            </p>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="feature125">
            <i class="uil uil-dollar-alt text-warning"></i>
            <h4>Tarif accessible</h4>
            <p>
              Nos tarifs sont très abordables et chaque
              personne peut se former quelques soit son budget.
            </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="title478">
            <h2>Qui sommes-nous ?</h2>
            <img class="line-title" src="{% static 'images/line.svg' %}" alt="" />
            <p>
              <span class="text-primary">Xarala</span> c’est un mot Wolof (langue sénégalaise) qui
              signifie “La technologie” est une plateforme d'apprentissage en
              ligne (E-Learning) qui permet à toute personne d'apprendre les
              nouvelles technologies.
            </p>
            <p>
              L'idée est de donner à tout un chacun, la possibilité d'apprendre la
              technologie (bientôt tous les domaines) quelques soit la langue qu'il
              parle, son niveau d'études... Notre objectif est de devenir la référence
              numéro 1 de e-learning en Afrique.
            </p>
            <ul class="fa-ul mt-4">
              <li class="p-2"><span class="fa-li"><i class="fas fa-check-circle text-primary"></i></span>Formateurs
                professionels et experimentés</li>
              <li class="p-2"><span class="fa-li"><i class="fas fa-check-circle text-primary"></i></span>Progressez dans
                votre vie</li>
              <li class="p-2"><span class="fa-li"><i class="fas fa-check-circle text-primary"></i></span>Améliorez votre
                niveau</li>
              <li class="p-2"><span class="fa-li"><i class="fas fa-check-circle text-primary"></i></span>Contenu de
                qualité et accessible</li>
            </ul>
          </div>
        </div>
        <div class="col-md-6">
          <div class="story125">
            <img src="{% static 'images/about/stroy_img.png' %}" alt="" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <div class="title589 text-center">
            <h2>Une présence globale</h2>
            <p>
              <span class="text-primary">Xarala</span> est rapidement entrain de devenir l'un grand marché de
              l'enseignement et de l'apprentissage en mettant en contact des centaines d'étudiants avec les compétences
              dont ils ont besoin pour réussir dans le monde professionel.
            </p>
            <img class="line-title" src="{% static 'images/line.svg' %}" alt="" />
          </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6">
          <div class="p__metric">
            25k
            <span>Instructeurs</span>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6">
          <div class="p__metric">
            95k
            <span>Cours</span>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6">
          <div class="p__metric">
            40M
            <span>d'inscrits aux cours</span>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6">
          <div class="p__metric">
            50+
            <span>Langues</span>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6">
          <div class="p__metric">
            595+
            <span>Partenaires</span>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6">
          <div class="p__metric">
            295
            <span>Pays</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <div class="title589 text-center">
            <h2>L'équipe</h2>
            <p>
              Un mélange parfait de créativité, de rigueur et de magie technique.
            </p>
            <img class="line-title" src="{% static 'images/line.svg' %}" alt="" />
          </div>
        </div>
        <div class="d-flex align-items-center">
          <div class="col-lg-3">
            <div class="jmio125 ">
              <img src="{% static 'images/about/ousseynou.jpg' %}" alt="" />
            </div>
          </div>
          <div class="col-lg-8">
            <div class="jmio125">
              <p>
                <br>
                <h2>Ousseynou</h2>
                <span>Fondateur & Software developer</span><br><br>
                <span>Aspire à mettre en place la prochaine génération de plateforme d'apprentissage en ligne.</span>
                <div class="edututs_links_social">
                  <ul class="tutor_social_links">
                    <li><a href="#" class="fb"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#" class="tw"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#" class="ln"><i class="fab fa-linkedin-in"></i></a></li>
                    <li><a href="#" class="yu"><i class="fab fa-youtube"></i></a></li>
                  </ul>
                </div>
              </p>
              <a href="#" class="crer_btn_link">Join Our Team</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




{% include "partials/_download_apps.html" %}

{% endblock content %}