{% extends "_base.html" %} 
{% load static %} 

{% block title %} 
  Qui sommes-nous ?
{% endblock title %} 


{% block content %}
<div class="wrapper _bg4586 _new89">
  <div class="_215cd2">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">			
          <div class="title129 mt-35 mb-35">	
            <h2>Changez de dimension à travers un apprentissage rigoureux</h2>
          </div>
        </div>
      </div>
    </div>
	</div>
  <div class="_215td5">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="title589 text-center">
            <h2>Nos fonctionnalités</h2>
            <p>Avec notre cursus, vous avez accès à :</p>
            <img class="line-title" src="{% static 'images/line.svg' %}" alt="" />
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="feature125">
            <i class="uil uil-mobile-android-alt text-info"></i>
            <h4>Apprentissage sur mobile</h4>
            <p>
              Nous sommes présents sur Playstore et App store pour diversifier 
              et rendre plus agréable votre expérience avec nous.
            </p>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="feature125">
            <i class="uil uil-users-alt text-success"></i>
            <h4>Mentorat personnalisé</h4>
            <p>
              Nous vous proposons un soutien académique et technique 
              pour vous aider à monter en comptétences.
            </p>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="feature125">
            <i class="uil uil-award text-danger"></i>
            <h4>Certification</h4>
            <p>
              Obtenez un certificat à la fin de chaque cours. 
              Ce qui enrichira à coup sûr votre CV et augmentera votre crédibilité.
            </p>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="feature125">
            <i class="uil uil-dollar-alt text-warning"></i>
            <h4>Tarif accessible</h4>
            <p>
              Nos tarifs sont très abordables et chaque 
              personne peut se former quelques soit son budget. 
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="_215zd5">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="title478">
            <h2>Qui sommes-nous ?</h2>
            <img class="line-title" src="{% static 'images/line.svg' %}" alt="" />
            <p>
              <span class="text-primary">Xarala</span> c’est un mot Wolof (langue sénégalaise) qui
              signifie “La technologie” est une plateforme d'apprentissage en
              ligne (E-Learning) qui permet à toute personne d'apprendre les
              nouvelles technologies. 
            </p>
            <p>
              L'idée est de donner à tout un chacun, la possibilité d'apprendre la
              technologie (bientôt tous les domaines) quelques soit la langue qu'il
              parle, son niveau d'études... Notre objectif est de devenir la référence
              numéro 1 de e-learning en Afrique.
            </p>
            <ul class="fa-ul mt-4">
              <li class="p-2"><span class="fa-li"><i class="fas fa-check-circle text-primary"></i></span>Formateurs professionels et experimentés</li>
              <li class="p-2"><span class="fa-li"><i class="fas fa-check-circle text-primary"></i></span>Progressez dans votre vie</li>
              <li class="p-2"><span class="fa-li"><i class="fas fa-check-circle text-primary"></i></span>Améliorez votre niveau</li>
              <li class="p-2"><span class="fa-li"><i class="fas fa-check-circle text-primary"></i></span>Contenu de qualité et accessible</li>
            </ul>
          </div>
        </div>
        <div class="col-md-6">
          <div class="story125">
            <img src="{% static 'images/about/stroy_img.png' %}" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="_215td5">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="title589 text-center">
            <h2>Une présence globale</h2>
            <p>
              <span class="text-primary">Xarala</span> est rapidement entrain de devenir l'un grand marché de l'enseignement et de l'apprentissage en mettant en contact des centaines d'étudiants avec les compétences dont ils ont besoin pour réussir dans le monde professionel.
            </p>
            <img class="line-title" src="{% static 'images/line.svg' %}" alt="" />
          </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6">
          <div class="p__metric">
            25k
            <span>Instructeurs</span>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6">
          <div class="p__metric">
            95k
            <span>Cours</span>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6">
          <div class="p__metric">
            40M
            <span>d'inscrits aux cours</span>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6">
          <div class="p__metric">
            50+
            <span>Langues</span>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6">
          <div class="p__metric">
            595+
            <span>Partenaires</span>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6">
          <div class="p__metric">
            295
            <span>Pays</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="_215xd5">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="title589 text-center">
            <h2>L'équipe</h2>
            <p>
              Un mélange parfait de créativité, de rigueur et de magie technique.
            </p>
            <img class="line-title" src="{% static 'images/line.svg' %}" alt="" />
          </div>
        </div>
        
        <div class="d-flex align-items-center">
          <div class="col-lg-3">
            <div class="jmio125 ">
              <img src="{% static 'images/about/ousseynou.jpg' %}" alt="" />
            </div>
          </div>
          <div class="col-lg-8">
            <div class="jmio125">
              <p>
                <br>
                <h2>Ousseynou</h2>
                <span>Fondateur & Software developer</span><br><br>
                <span>Aspire à mettre en place la prochaine génération de plateforme d'apprentissage en ligne.</span>
                <div class="edututs_links_social">
                  <ul class="tutor_social_links">
                    <li><a href="#" class="fb"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#" class="tw"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#" class="ln"><i class="fab fa-linkedin-in"></i></a></li>
                    <li><a href="#" class="yu"><i class="fab fa-youtube"></i></a></li>
                  </ul>
                </div>
              </p>
              
              <a href="#" class="crer_btn_link">Join Our Team</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% comment %}
<div class="_215td5">
  <section class="padding-y-100 border-bottom">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-5 mb-4 mr-auto text-center">
          <img
            class="wow fadeInLeft w-100 rounded"
            src="{% static 'assets/img/about/1.jpeg'  %}"
            alt="Qui sommes nous"
          />
        </div>

        <div class="col-lg-6">
          <h2><span class="text-primary">Qui</span> Somme-nous ?</h2>
          <div
            class="width-4rem height-4 bg-primary rounded mt-4 marginBottom-40"
          ></div>
          <p class="mb-5 line-height">
            <span class="text-primary">Xarala</span> c’est un mot Wolof qui
            signifie “La technologie” est une plateforme d'apprentissage en
            ligne(E-Learning) qui permet à toute personne d'apprendre les
            nouvells technologies. <br />
            l'idée est de permettre tout un chacun d'apprendre la
            technologie(bientôt tous les domaines) quelques soit la langue qu'il
            parle, son niveau d'études... L’objectif de
            <span class="text-primary">Xarala</span> est de devenir la référence
            numéro 1 de e-learning en Afrique.
          </p>
          <ul class="list-unstyled list-style-icon list-icon-check-circle">
            <li>Formateurs professionels et experimentés</li>
            <li>Progressez dans votre vie</li>
            <li>Améliorerz votre niveau</li>
            <li>Contenu de qualité et accessible</li>
          </ul>
        </div>
        <!-- END col-lg-6 ml-auto-->
      </div>
      <!-- END row-->
    </div>
    <!-- END container-->
  </section>

  <section class="padding-y-100">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <h2>Ce que nous offrons</h2>
          <div
            class="width-4rem height-4 bg-primary rounded mt-4 marginBottom-40"
          ></div>
          <p class="mb-5">
            Nous offrons des formations professionnelles enseignées par des
            formateurs expérimentés et professionnels.
          </p>
          <div class="media mb-4">
            <i class="ti-blackboard text-primary font-size-30 mt-2"></i>
            <div class="media-body pl-3">
              <h4 class="h5">Contenu de qualité</h4>
              <p>
                Des contenus professionnels et accessibles quelques soit votre
                niveau ou votre langue.
              </p>
            </div>
          </div>
          <div class="media mb-4">
            <i class="ti-crown text-primary font-size-30 mt-2"></i>
            <div class="media-body pl-3">
              <h4 class="h5">Nous parlons votre langue</h4>
              <p>
                Vivez une expérience unique en apprenant la technologie dans une
                langue que vous maitrisez. <br />
                Promouvoir la technologie dans les langues locales africaines
              </p>
            </div>
          </div>
        </div>
        <!-- END col-lg-6 ml-auto-->
        <div class="col-lg-5 mb-4 mr-auto text-center">
          <img
            class="wow fadeInRight w-100 rounded"
            src="{% static 'assets/img/about/2.jpeg'  %}"
            alt=""
          />
        </div>
      </div>
      <!-- END row-->
    </div>
    <!-- END container-->
  </section>

  <section class="padding-y-100 bg-light-v4">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 text-center">
          <h2>Fonctionnalités uniques</h2>
          <div
            class="width-4rem height-4 bg-primary rounded mt-4 marginBottom-40 mx-auto"
          ></div>
        </div>
        <div
          class="col-lg-4 col-md-6 marginTop-30 wow fadeInUp"
          data-wow-delay=".1s"
        >
          <div
            class="card height-100p text-center p-4 p-md-5 transition hover:shadow-v3"
          >
            <span class="iconbox iconbox-lg bg-primary mx-auto">
              <i class="ti-blackboard font-size-24"></i>
            </span>
            <h5 class="my-4">Formation professionnelle</h5>
            <p>
              Vivez une expérience unique avec des formations enseignées par des
              professionnels et experts.
            </p>
          </div>
        </div>

        <div
          class="col-lg-4 col-md-6 marginTop-30 wow fadeInUp"
          data-wow-delay=".2s"
        >
          <div
            class="card height-100p text-center p-4 p-md-5 transition hover:shadow-v3"
          >
            <span class="iconbox iconbox-lg bg-success text-white mx-auto">
              <i class="ti-user font-size-24"></i>
            </span>
            <h5 class="my-4">Mentorat personnalisé</h5>
            <p>
              Soyez entourés par des coaches très expérimentés et disponibles
              pour vous pousser à atteindre votre objectif.
            </p>
          </div>
        </div>

        <div
          class="col-lg-4 col-md-6 marginTop-30 wow fadeInUp"
          data-wow-delay=".3s"
        >
          <div
            class="card height-100p text-center p-4 p-md-5 transition hover:shadow-v3"
          >
            <span class="iconbox iconbox-lg bg-danger text-white mx-auto">
              <i class="ti-money font-size-24"></i>
            </span>
            <h5 class="my-4">Tarif accessible</h5>
            <p>
              Nos tarifs sont très abordables et chaque personne peut se former
              quelques soit son budget.
            </p>
          </div>
        </div>

        <div
          class="col-lg-4 col-md-6 marginTop-30 wow fadeInUp"
          data-wow-delay=".1s"
        >
          <div
            class="card height-100p text-center p-4 p-md-5 transition hover:shadow-v3"
          >
            <span class="iconbox iconbox-lg bg-info text-white mx-auto">
              <i class="ti-crown font-size-24"></i>
            </span>
            <h5 class="my-4">Projets réels</h5>
            <p>
              Nous vous donnons des projets qui représente des problèmes au
              quotidien et des cas d'utilisation réels.
            </p>
          </div>
        </div>

        <div
          class="col-lg-4 col-md-6 marginTop-30 wow fadeInUp"
          data-wow-delay=".2s"
        >
          <div
            class="card height-100p text-center p-4 p-md-5 transition hover:shadow-v3"
          >
            <span class="iconbox iconbox-lg bg-warning text-white mx-auto">
              <i class="ti-support font-size-24"></i>
            </span>
            <h5 class="my-4">Expérience unique</h5>
            <p>Personnalisez la plateforme selon votre cas d'utilisation.</p>
          </div>
        </div>

        <div
          class="col-lg-4 col-md-6 marginTop-30 wow fadeInUp"
          data-wow-delay=".3s"
        >
          <div
            class="card height-100p text-center p-4 p-md-5 transition hover:shadow-v3"
          >
            <span class="iconbox iconbox-lg bg-dark text-white mx-auto">
              <i class="ti-check-box font-size-24"></i>
            </span>
            <h5 class="my-4">Problem solving mindset</h5>
            <p>
              Soyez créative et apprenez à résoudre des problèmes complexes.
            </p>
          </div>
        </div>
      </div>
      <!-- END row-->
    </div>
    <!-- END container-->
  </section>

  <section class="padding-y-100 wow fadeIn">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center mb-4">
          <h2>L'équipe</h2>
          <div
            class="width-4rem height-4 bg-primary rounded mt-4 marginBottom-40 mx-auto"
          ></div>
        </div>

        <div class="col-lg-6 mt-2 wow fadeInUp">
          <div class="row">
            <div class="col-md-6 my-2">
              <img
                src="{% static 'assets/img/about/ousseynou.jpg'  %}"
                alt=""
              />
            </div>
            <div class="col-md-6 my-4">
              <h4 class="mb-0">Ousseynou</h4>
              <p class="text-muted mb-0">Founder &amp; Software developer</p>
              <p class="my-4">
                Building the next genration of e-learning platform.
              </p>
              <ul class="list-inline">
                <li class="list-inline-item">
                  <a href="" class="btn btn-facebook iconbox iconbox-xs"
                    ><i class="ti-facebook"></i
                  ></a>
                </li>
                <li class="list-inline-item">
                  <a href="" class="btn btn-twitter iconbox iconbox-xs"
                    ><i class="ti-twitter"></i
                  ></a>
                </li>
                <li class="list-inline-item">
                  <a href="" class="btn btn-google-plus iconbox iconbox-xs"
                    ><i class="ti-google"></i
                  ></a>
                </li>
                <li class="list-inline-item">
                  <a href="" class="btn btn-linkedin iconbox iconbox-xs"
                    ><i class="ti-linkedin"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <!-- <div class="col-lg-6 mt-2 wow fadeInUp">
          <div class="row">
            <div class="col-md-6 my-2">
              <img src="{% static 'assets/img/placeholder-1.jpg'  %}" alt="">
            </div>
            <div class="col-md-6 my-4">
              <h4 class="mb-0">
                Mbaye Mbengue
              </h4>
              <p class="text-muted mb-0">
                Web &amp; Mobile Developer
              </p>
              <p class="my-4">
                Building the product that peaple love using it.
              </p>
              <ul class="list-inline">
                <li class="list-inline-item">
                  <a href="" class="btn btn-facebook iconbox iconbox-xs"><i class="ti-facebook"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href="" class="btn btn-twitter iconbox iconbox-xs"><i class="ti-twitter"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href="" class="btn btn-google-plus iconbox iconbox-xs"><i class="ti-google"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href="" class="btn btn-linkedin iconbox iconbox-xs"><i class="ti-linkedin"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div> -->

        <!-- <div class="col-lg-6 mt-2 wow fadeInUp">
          <div class="row">
            <div class="col-md-6 my-2">
              <img src="{% static 'assets/img/placeholder-1.jpg'  %}" alt="">
            </div>
            <div class="col-md-6 my-4">
              <h4 class="mb-0">
                Samba Bery Kaan
              </h4>
              <p class="text-muted mb-0">
                Software developer &amp; Coach
              </p>
              <p class="my-4">
                Just do it.
              </p>
              <ul class="list-inline">
                <li class="list-inline-item">
                  <a href="" class="btn btn-facebook iconbox iconbox-xs"><i class="ti-facebook"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href="" class="btn btn-twitter iconbox iconbox-xs"><i class="ti-twitter"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href="" class="btn btn-google-plus iconbox iconbox-xs"><i class="ti-google"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href="" class="btn btn-linkedin iconbox iconbox-xs"><i class="ti-linkedin"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div> -->
      </div>
      <!-- END row-->
    </div>
    <!-- END container-->
  </section>
</div>
{% endcomment %} 

{% endblock content %}
