{% extends "_base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
{{ title }}
{% endblock title %}


{% block content %}


<div class=" _bg4586">

  <div class="contact1256">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <a href="#" class="contact_link_step">
            <img src="{% static 'images/help_icon.svg' %}" alt="">
            <h4>Centre d'aide</h4>
          </a>
        </div>
        <div class="col-lg-3 col-md-6">
          <a href="{% url 'blog:posts' %}" class="contact_link_step">
            <img src="{% static 'images/blog_icon.svg' %}" alt="">
            <h4>Tutoriels</h4>
          </a>
        </div>
        <div class="col-lg-3 col-md-6">
          <a href="#" class="contact_link_step">
            <img src="{% static 'images/career_icon.svg' %}" alt="">
            <h4>Carrière</h4>
          </a>
        </div>
        <div class="col-lg-3 col-md-6">
          <a href="#" class="contact_link_step">
            <img src="{% static 'images/developer_icon.svg' %}" alt="">
            <h4>Instructeur</h4>
          </a>
        </div>
        <div class="col-lg-8 mt-5">
          <div class="text-center">
            <form method="POST" class="card p-4 p-md-5 shadow-v1">
              {% csrf_token %}
              <p class="lead mt-2">
                Vous pouvez contacter notre équipe d'experts
                24/7 de 8h00 à 20h00
              </p>
              {% include "partials/_alerts.html" %}
              <div class="row mt-5 mx-0 text-left">
                <div class="col-md-4 mb-4">
                  {{ form.full_name|as_crispy_field }}
                </div>
                <div class="col-md-4 mb-4">
                  {{ form.email|as_crispy_field }}
                </div>
                <div class="col-md-4 mb-4">
                  {{ form.phone|as_crispy_field }}
                </div>
                <div class="col-12">
                  {{ form.message|as_crispy_field }}

                  <div class="mb-2">
                    <div class="g-recaptcha" data-sitekey="{{ GOOGLE_RECAPTCHA_SITE_KEY }}"></div>
                  </div>

                  <button type="submit" class="btn1542 btn-block">Envoyer</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="contact_info">
            <div class="checkout_title">
              <h4>Contact Information</h4>
              <img src="{% static 'images/line.svg' %}" alt="">
            </div>
            <ul class="contact_list_info">
              <li>
                <div class="txt_cntct">
                  <span class="cntct_895">
                    <i class="uil uil-location-point"></i>
                    Adresse :
                  </span>
                  <p>Dakar, Sénégal 🇸🇳</p>
                </div>
              </li>
              <li>
                <div class="txt_cntct">
                  <span class="cntct_895">
                    <i class="uil uil-envelope"></i>
                    Email :
                  </span>
                  <p>contact@xarala.co</p>
                </div>
              </li>
              <li>
                <div class="txt_cntct">
                  <span class="cntct_895">
                    <i class="uil uil-mobile-android-alt"></i>
                    Téléphone :
                  </span>
                  <p> +221 77 992 99 52</p>
                </div>
              </li>
            </ul>
            <div class="edututs_links_social">
              <ul class="tutor_social_links">
                <li><a target="_blank" href="https://web.facebook.com/xarala" class="fb"><i
                      class="fab fa-facebook-f"></i></a></li>
                <li><a target="_blank" href="https://twitter.com/xaralatech" class="tw"><i
                      class="fab fa-twitter"></i></a></li>
                <li><a target="_blank" href="https://linkedin.com/in/xarala221" class="ln"><i
                      class="fab fa-linkedin-in"></i></a></li>
                <li><a target="_blank" href="http://bit.ly/xaralaYouTube" class="yu"><i class="fab fa-youtube"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block extrajs %}
<script src='https://www.google.com/recaptcha/api.js?hl=fr'></script>
{% endblock extrajs %}