{% extends "_base.html" %}
{% load static %}

{% block content %}

<div class="section3125">
    <h4 class="item_title">Cours en vedette</h4>
    <a href="{% url 'course:courses' %}" class="see150">Voir Tout</a>
    <div class="la5lo1">
        <div class="owl-carousel featured_courses owl-theme">
            {% for course in courses %}
            {% include "partials/_course-card.html" with course=course %}
            {% endfor %}
        </div>
    </div>
</div>
<div class="section3125 mt-30">
    <h4 class="item_title">Cours les plus récents</h4>
    <a href="{% url 'course:courses' %}" class="see150">Voir Tout</a>
    <div class="la5lo1">
        <div class="owl-carousel featured_courses owl-theme">
            {% for course in courses %}
            {% include "partials/_course-card.html" with course=course %}
            {% endfor %}
        </div>
    </div>
</div>
<div class="section3126">
    <div class="row">
        <div class="col-xl-6 col-lg-12 col-md-6">
            <div class="value_props">
                <div class="value_icon">
                    <i class='uil uil-history'></i>
                </div>
                <div class="value_content">
                    <h4>Allez à votre rythme</h4>
                    <p>Profitez d'un accès à vie aux cours sur Xarala.co</p>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-12 col-md-6">
            <div class="value_props">
                <div class="value_icon">
                    <i class='uil uil-user-check'></i>
                </div>
                <div class="value_content">
                    <h4>Mentorat</h4>
                    <p>Vous serez mentoré par les meilleurs formateurs.</p>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-12 col-md-6">
            <div class="value_props">
                <div class="value_icon">
                    <i class='uil uil-play-circle'></i>
                </div>
                <div class="value_content">
                    <h4>Trouvez des cours vidéo sur presque tous les sujets</h4>
                    <p>Construisez votre bibliothèque pour votre carrière et votre croissance personnelle</p>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-12 col-md-6">
            <div class="value_props">
                <div class="value_icon">
                    <i class='uil uil-presentation-play'></i>
                </div>
                <div class="value_content">
                    <h4>+10 cours en ligne</h4>
                    <p>Explorez une variété de sujets nouveaux</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section3125 mt-50">
    <h4 class="item_title">Nos formateurs</h4>
    <a href="#" class="see150">Voir Tout</a>
    <div class="la5lo1">
        <div class="owl-carousel top_instrutors owl-theme">

            {% for teacher in teachers %}
            {% include "partials/_teacher-card.html" with teacher=teacher %}
            {% endfor %}

        </div>
    </div>
</div>

{% endblock content %}