{% extends "_base.html" %}
{% load static %}

{% block title %}
Condition d'utilisation des données
{% endblock title %}

{% block content %}
<section class="padding-y-80">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2>POLITIQUE DE CONFIDENTIALITÉ</h2>
        <div class="width-4rem height-4 bg-primary rounded mt-4 marginBottom-40 mx-auto"></div>
      </div>
      <div class="col-md-12">
        <div class="mb-5">
          <h4 class="mb-3">
            POLITIQUE DE CONFIDENTIALITÉ ET DONNÉES PERSONNELLES
          </h4>
          <p>
            Les droits à la protection de vos informations – L'essentiel des Règles de confidentialité ainsi que des
            conditions d'utilisation de vos informations par Xarala.co
          </p>
        </div>
        <h4 class="mb-3">
          1.Introduction
        </h4>
        <p>
          Dans le cadre de son activité de formation professionnelle et pratique <span
            class="text-primary">Xarala</span> est amenée à traiter des informations vous concernant.
        </p>
        <p>
          Par exemple, en
          remplissant un formulaire d'inscription, en achetant une formation, en vous inscrivant à un événement que nous
          organisons, en participant à une formation, en naviguant sur nos sites Internet ou nos applications mobiles et
          numériques, vous nous transmettez des informations dont certaines sont de nature à vous identifier (« données
          personnelles »).
        </p>
        <h4 class="mb-4">
          2. Application
        </h4>
        <p>
          Les présentes Règles de confidentialité s'appliquent à toute information que nous collectons ou utilisons sur
          les sites et dans les applications. <br>
          Données que nous collectons : <br>
          <ul class="list-unstyled list-style-icon list-icon-angle-right">
            <li>
              Noms, prénoms, civilité, date de naissance ;
            </li>
            <li>
              Adresse postale, adresse e-mail, numéro de téléphone ;
            </li>
            <li>
              Identifiant et mot de passe crypté utilisés pour vous identifier sur nos sites ou nos applications ;
              Informations cryptées relatives à vos moyens de paiement (notamment numéro de carte bancaire, compte OM
              etc...) ;

            </li>
            <li>
              Toute autre information que vous souhaitez porter à notre connaissance.
            </li>
          </ul>
        </p>

        <h4 class="mb-4">
          3. Utilisation des cookies :
        </h4>
        <p>
          Un cookie est un fichier texte déposé lors de la consultation d’un site, d’une application ou d’une publicité
          en ligne et stocké dans un espace spécifique du disque dur de votre ordinateur ou de votre appareil mobile.
          Les cookies sont gérés par votre navigateur Internet et seul l’émetteur d’un cookie peut décider de la lecture
          ou de la modification des informations qui y sont contenues.
        </p>
        <p>
          Nous utilisons des cookies afin de personnaliser et d'optimiser votre expérience en ligne. Vous avez la
          possibilité de désactiver les cookies, toutefois, cela peut limiter votre utilisation de certaines
          fonctionnalités ou fonctions de nos sites et applications.
        </p>

        <h4 class="mb-4">
          4. Informations de contact :
        </h4>
        <p>
          Vous pouvez nous contacter en ligne, si vous avez des questions ou des observations à propos de nos pratiques
          de confidentialité. Vous pouvez également nous écrire à l'adresse suivante : contact@xarala.co
        </p>

      </div>
    </div> <!-- END row-->
  </div> <!-- END container-->
</section> <!-- END -->

{% endblock content %}