{% extends "_base.html" %} 
{% load static %} 

{% block title %} 
  Condition d'utilisation des données 
{% endblock title %} 



{% block content %}


<div class="container pt-4">
    <div class="row">
        <div class="col-md-12">
            <div class="title478 text-center">
                <h3 class="text-uppercase">
                    Politique de confidentialité et données personnelles
                </h3>
                <img class="line-title" src="{% static 'images/line.svg' %}" alt="" />
                <p>
                    Les droits à la protection de vos informations – L'essentiel des Règles de confidentialité
                    ainsi que des conditions d'utilisation de vos informations par Xarala.co
                </p>
            </div>
            <h4 class="mb-3">
                1. Introduction
            </h4>
            <p>
                Dans le cadre de son activité de formation professionnelle et pratique <span
                    class="text-primary">Xarala</span> est amenée à traiter des informations vous concernant.
            </p>
            <p>
                Par exemple, en remplissant un formulaire d'inscription, en achetant une formation, en vous
                inscrivant à un événement que nous organisons, en participant à une formation, en naviguant sur
                nos sites Internet ou nos applications mobiles et numériques, vous
                nous transmettez des informations dont certaines sont de nature à vous identifier (« données
                personnelles »).
            </p>
            <h4 class="mb-3">
                2. Application
            </h4>
            <p>
                Les présentes Règles de confidentialité s'appliquent à toute information que nous collectons ou
                utilisons sur les sites et dans les applications. <br> Données que nous collectons : <br>
                <ul class="fa-ul">
                    <li class="p-2"><span class="fa-li"><i class="fas fa-check-circle text-primary"></i></span>
                        <span class="text-secondary">Noms, prénoms, civilité, date de naissance ;</span>
                    </li>
                    <li class="p-2"><span class="fa-li"><i class="fas fa-check-circle text-primary"></i></span>
                        <span class="text-secondary">Adresse postale, adresse e-mail, numéro de téléphone
                            ;</span>
                    </li>
                    <li class="p-2"><span class="fa-li"><i class="fas fa-check-circle text-primary"></i></span>
                        <span class="text-secondary">Identifiant et mot de passe crypté utilisés pour vous
                            identifier sur nos sites ou nos applications ; Informations cryptées relatives à vos
                            moyens de paiement (notamment numéro de carte bancaire, compte OM etc...) ;</span>

                    </li>
                    <li class="p-2"><span class="fa-li"><i class="fas fa-check-circle text-primary"></i></span>
                        <span class="text-secondary">Toute autre information que vous souhaitez porter à notre
                            connaissance.</span>
                    </li>
                </ul>
            </p>

            <h4 class="mb-3">
                3. Utilisation des cookies :
            </h4>
            <p>
                Un cookie est un fichier texte déposé lors de la consultation d’un site, d’une application ou
                d’une publicité en ligne et stocké dans un espace spécifique du disque dur de votre ordinateur
                ou de votre appareil mobile. Les cookies sont gérés par votre
                navigateur Internet et seul l’émetteur d’un cookie peut décider de la lecture ou de la
                modification des informations qui y sont contenues.
            </p>
            <p>
                Nous utilisons des cookies afin de personnaliser et d'optimiser votre expérience en ligne. Vous
                avez la possibilité de désactiver les cookies, toutefois, cela peut limiter votre utilisation de
                certaines fonctionnalités ou fonctions de nos sites et applications.
            </p>

            <h4 class="mb-3">
                4. Informations de contact :
            </h4>
            <p>
                Vous pouvez nous contacter en ligne, si vous avez des questions ou des observations à propos de
                nos pratiques de confidentialité. Vous pouvez également nous écrire à l'adresse suivante : <span
                    class="text-primary">contact@xarala.co</span>
            </p>

        </div>
    </div>
    <!-- END row-->
</div>

<!-- END -->

{% endblock content %}