{% extends "admin/base.html" %}
{% load static %}

{% block branding %}

<img class="logo" src="{% static 'images/logo/logo.png' %}" width="85" alt="Logo xarala">

{% endblock %}
{% block extrastyle %}
<link rel="stylesheet" href="{% static 'css/admin.css' %}">
{% endblock %}
{% block usertools %}
<div id="user-tools">
  Bienvenue,
  <strong>{{ user }}</strong>.

  <a href="/">Site</a> /
  <a href="{% url 'password_change' %}">Modifier votre mot de passe</a> /

  <a href="{% url 'logout' %}">Déconnexion</a>

</div>
{% endblock %}