{% extends "_dashboard_base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} {{ title }} {% endblock title %}

{% block sidebar %}
{% include "partials/_sidebar_dashboard.html" %}
{% endblock sidebar %}

{% block content %} {% include 'partials/_courses.html' %} {% endblock %}

{% block extrajs %}
<script>
    $(document).ready(function() {
        $("#submit_course").on("click", function() {
            const courseId = $(this).attr("course_id")
            let confirmation = confirm('Etes-vous sûr de vouloir soumettre ce cours?'); 
            if (confirmation)
                $.ajax({
                    type: "POST",
                    url: '{% url "dashboard:submit-course" %}',
                    data: {
                        'id': courseId,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    dataType: 'json',
                    success: function(data) {
                        document.location.reload()
                    }
                });
        })

        $("#publish_course").on("click", function() {
            const courseId = $(this).attr("course_id")
            let confirmation = confirm('Etes-vous sûr de vouloir soumettre ce cours?'); 
            if (confirmation)
                $.ajax({
                    type: "POST",
                    url: '{% url "dashboard:submit-course" %}',
                    data: {
                        'id': courseId,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    dataType: 'json',
                    success: function(data) {
                        document.location.reload()
                    }
                });
        })

        $("button#draft_course").on("click", function() {
            const courseId = $(this).attr("course_id")
            let confirmation = confirm('Etes-vous sûr de vouloir archiver ce cours?'); 
            if (confirmation)
                $.ajax({
                    type: "POST",
                    url: '{% url "dashboard:draft-course" %}',
                    data: {
                        'id': courseId,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    dataType: 'json',
                    success: function(data) {
                        document.location.reload()
                    }
                });
        })
    })
</script> 
{% endblock extrajs %}

