{% extends "_dashboard_base.html" %} 
{% load static %} 
{% load crispy_forms_tags %} 

{% block title %} {{ title }} {% endblock title %} 

{% block sidebar %} 
    {% include "partials/_sidebar_dashboard.html" %}
{% endblock sidebar %} 

{% block content %} {% include 'partials/_tutorials.html' %} {% endblock %}

{% block extrajs %} 
{% block semantic %} {% endblock semantic %}

<script>
    $(document).ready(function () {

        $(document).on('click', ".submit-tutorial-btn", function () {

            var $tutorialId = $(this).attr('tutorial_id')
            $(document).on('click', ".submit-submitted-tutorial-data", function (event) {
                event.preventDefault();
                var $form = '#submit-tutorial-' + $tutorialId
                var $thisURL = $($form).attr('data-url');
                var $modalDialog = $('#submit_tutorial_' + $tutorialId)

                $.ajax({
                    type: "POST",
                    url: $thisURL,
                    data: {
                        'id': $tutorialId,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    dataType: 'json',
                    success: function (data) {
                        $modalDialog.modal('hide')
                        var $statusCell = $('tr#tutorial_' + $tutorialId +
                            ' td b#status-' + $tutorialId)
                        $statusCell.html('Soumis')
                    }
                });
            })
        })

        $(document).on('click', ".publish-tutorial-btn", function () {

            var $tutorialId = $(this).attr('tutorial_id')
            $(document).on('click', ".submit-published-tutorial-data", function (event) {
                event.preventDefault();
                var $form = '#publish-tutorial-' + $tutorialId
                var $thisURL = $($form).attr('data-url');
                var $modalDialog = $('#publish_tutorial_' + $tutorialId)

                $.ajax({
                    type: "POST",
                    url: $thisURL,
                    data: {
                        'id': $tutorialId,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    dataType: 'json',
                    success: function (data) {
                        $modalDialog.modal('hide')
                        var $lineToPublish = $('tr#tutorial_' + $tutorialId)
                        var $statusCell = $('tr#tutorial_' + $tutorialId +
                            ' td b#status-' + $tutorialId)
                        $statusCell.html('Publié')
                    }
                });
            })
        })

        $(document).on('click', ".draft-tutorial-btn", function () {

            var $tutorialId = $('.draft-tutorial-btn').attr('tutorial_id')
            console.log($tutorialId)
            $(document).on('click', ".submit-drafted-tutorial-data", function (event) {
                event.preventDefault();
                var $form = '#draft-tutorial-' + $tutorialId
                var $thisURL = $($form).attr('data-url');
                var $modalDialog = $('#draft_tutorial_' + $tutorialId)

                $modalDialog.modal('toggle')

                $.ajax({
                    type: "POST",
                    url: $thisURL,
                    data: {
                        'id': $tutorialId,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    dataType: 'json',
                    success: function (data) {
                        $modalDialog.modal('hide')
                        var tutorialSlug = data['tutorial_slug']
                        var viewUrl = "{% url 'dashboard:tutorial_overview' 123 %}"
                            .replace('123', tutorialSlug)
                        var $statusCell = $('tr#tutorial_' + $tutorialId +
                            ' td b#status-' + $tutorialId)
                        var $actionsCell = $('tr#tutorial_' + $tutorialId +
                            ' div#actions-' + $tutorialId)

                        $actionsCell.html(
                            '<button class="btn btn-sm"> <a href = "' +
                            viewUrl + '"' +
                            'title = "View" class="dropdown-item">Aperçu</a></button>' 
                        )
                        $statusCell.html('Archivé')
                    } 
                });
            })
        })
    })
</script>
{% endblock extrajs %}