{% extends "_base.html" %}
{% load static %}

{% block title %}
Les articles de {{ tag }}
{% endblock title %}


{% block content %}

{% include "partials/_breadcrumbs.html" with previous="Blog" previous_url="blog:posts" current=tag text="Tous les articles" %}

<section class="paddingTop-50 paddingBottom-100 bg-light-v2">
  <div class="container">
    <div class="row align-items-start">
        
      <div class="col-lg-12 order-1 order-lg-2">

        {% include "partials/_blog-list.html" with posts=posts %}
      </div> <!-- END col-lg-9 -->
    
    </div> <!-- END row-->
    {% include "partials/_pagination.html" %}

  </div> <!-- END container-->
</section>


{% endblock %}