{% extends 'base.html' %}


{% block title %}
Authentification
{% endblock %}


{% block banner %}

{% endblock %}

{% block content %}



<section id="login" class="bg-light py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="card">
          <div class="card-header  text-light">
            <h4>
              Ravis de vous retrouver!</h4>
          </div>
          <div class="card-body">
            <!-- Alerts -->
            {% include 'partials/alerts.html' %}
            <form action="{% url 'login' %}" method="POST">
              {% csrf_token %}
              <div class="form-group">
                <label for="email">Email :<span class="text-danger">*</span></label>
                <input type="email" name="email" class="form-control" placeholder="Votre email" required>
              </div>
              <div class="form-group">
                <label for="password">Mot de passe :<span class="text-danger">*</span></label>
                <input type="password" name="password" class="form-control" required>
              </div>
              <input type="submit" value="Se connecter" class="btn btn-secondary btn-block">
              <p class="mt-3">
                Vous n'avez pas de compte?
                <a href="{% url 'register' %}" class="btn-auth">S'inscrire</a>
              </p>
            </form>
            <div class="social-login">
              <button class="btn btn-danger  mb-2 btn-block text-light">
                <a href="#" class="text-light">Se connecter avec Instagram</a>
              </button>
              <button class="btn btn-primary mb-2 btn-block text-light">
                <a href="{% url 'social:begin' 'facebook' %}" class="text-light">Se connecter avec Facebook
                </a>
              </button>
              <button class="btn btn-info mb-2 btn-block text-light">
                <a href="#" class="text-light">Se connecter avec LinkedIn</a>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}