{% extends 'base.html' %}


{% block title %}
Authentification
{% endblock %}


{% block banner %}

{% endblock %}

{% block content %}



<section class="login-register">
  <div class="section-padding">
    <div class="container">
      <div class="contents text-center">
        <!-- Alerts -->
        {% include 'partials/alerts.html' %}
        <h2 class="section-title">Nous sommes ravis de vous retrouver</h2>

        <form class="sign-in-form" id="sign-in-form" method="post">
          {% csrf_token %}
          <p class="form-input">
            <input type="email" name="email" id="user_login" class="input" placeholder="Email" required>
          </p>

          <p class="form-input">
            <input type="password" name="password" id="user_pass" class="input" placeholder="Password" required="">
          </p>

          <p class="checkbox">
            <input name="rememberme" type="checkbox" class="rememberme float-left" value="Remember Me">
            Rester connecté
            <a href="{% url 'password_reset' %}" class="float-right" title="Récupérez votre mot de passe perdu">Mot de
              passe
              oublié?</a>
          </p>

          <p class="form-input">
            <input type="submit" name="wp-submit" id="wp-submit" class="btn" value="Connexion">
          </p>

        </form>

        <div class="login-social">
          <h2 class="section-title">Connexion avec</h2>
          <button class="btn facebook"><i class="fab fa-facebook"></i> Facebook</button>
          <button class="btn twitter"><i class="fab fa-twitter"></i> Twitter</button>
          <button class="btn google"><i class="fab fa-google-plus"></i> Google</button>
        </div><!-- /.login-social -->

        <p class="register">
          Pas encore membre ? <a href="{% url 'register' %}">Inscrivez-vous.</a>
        </p>
      </div><!-- /.contents -->
    </div><!-- /.container -->
  </div><!-- /.section-padding -->
</section><!-- /.login-register -->


{% endblock %}