{% extends 'base.html' %}

{% block title %}
Authentification, inscription
{% endblock %}

{% block banner %}

{% endblock %}


{% block content %}


<section class="login-register">
  <div class="section-padding">
    <div class="container">
      <div class="contents text-center">
        <!-- Alerts -->
        {% include 'partials/alerts.html' %}
        <h2 class="section-title">Inscrivez-vous et commencez à apprendre !</h2>

        <form class="register-form" id="register-form" method="post">
          {% csrf_token %}
          <p class="form-input">
            <input type="email" name="email" id="user_email" class="input" placeholder="Email" required="">
          </p>

          <p class="form-input">
            <input type="password" name="password" id="user_pass" class="input" placeholder="Mot de passe" required="">
          </p>

          <p class="form-input">
            <input type="password" name="password2" id="confirm_pass" class="input" placeholder="Repeter mot de passe"
              required="">
          </p>

          <p class="checkbox">
            <input name="rememberme" type="checkbox" class="rememberme float-left" value="Remember Me" required>
            En cliquant, j'accepte
            <a href="#" class="" title="Acceptez les conditions générales">les conditions générales</a>
          </p>

          <p class="form-input">
            <input type="submit" name="wp-submit" id="wp-submit" class="btn" value="Inscription">
          </p>

        </form>

        <div class="login-social">
          <h2 class="section-title">Inscription avec</h2>
          <button class="btn facebook"><i class="fab fa-facebook"></i> Facebook</button>
          <button class="btn twitter"><i class="fab fa-twitter"></i> Twitter</button>
          <button class="btn google"><i class="fab fa-google-plus"></i> Google</button>
        </div><!-- /.login-social -->

        <p class="register">
          Vous etes membre? <a href="{% url 'login' %}">Connectez-vous.</a>
        </p>
      </div><!-- /.contents -->
    </div><!-- /.container -->
  </div><!-- /.section-padding -->
</section><!-- /.login-register -->

{% endblock %}