{% extends "_base.html" %}
{% load static %}

{% block title %}
Reinitialiation de mot de passe
{% endblock title %}


{% block content %}

<section class="page-section border-bottom-2 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mx-auto">
        <div class="card shadow-v2">
          <div class="card-header px-lg-5 border-bottom">
            <h4 class="mt-4">
              E-mail de réinitialisation envoyé
            </h4>
          </div>
          <div class="card-body">
            <p class="marginBottom-40">
              Vous allez recevoir sous peu un message. <br>
              Celui-ci contient un lien de vérification qui vous permettra de
              changer de mot de passe.
            </p>
          </div>
        </div>
      </div>
    </div> <!-- END row-->
  </div> <!-- END container-->
</section>

{% endblock content %}