{% extends "_base.html" %}
{% load static %}

{% block title %}
Changement de mot de passe
{% endblock title %}


{% block content %}

<section class="padding-y-100 bg-light">
  {% include 'partials/_alerts.html' %}
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mx-auto">
        <div class="card shadow-v2">
          <div class="card-header border-bottom">
            <h4 class="mt-4">
              Changement de mot de passe
            </h4>
          </div>
          <div class="card-body">
            <form method="POST" class="px-lg-4">
              {% csrf_token %}
              <div class="input-group input-group--focus mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text bg-white ti-lock"></span>
                </div>
                <input type="password" name="password1" class="form-control border-left-0 pl-0"
                  placeholder="Nouveau Mot de passe" required>
              </div>
              <div class="input-group input-group--focus mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text bg-white ti-lock"></span>
                </div>
                <input type="password" name="password2" class="form-control border-left-0 pl-0"
                  placeholder="Confirmation Mot de passe" required>
              </div>
              <button type="submit" class="btn btn-block btn-primary">Changer</button>
            </form>
          </div>
        </div>
      </div>
    </div> <!-- END row-->
  </div> <!-- END container-->
</section>

{% endblock content %}