{% extends "_base.html" %}
{% load static %}

{% block title %}
Reinitialiation de mot de passe
{% endblock title %}


{% block content %}

<section class="padding-y-100 bg-light">
  {% include 'partials/alerts.html' %}
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mx-auto">
        <div class="card shadow-v2">
          <div class="card-header px-lg-5 border-bottom">
            <h4 class="mt-4">
              Le mot de passe a été réinitialisé avec succès.
            </h4>
          </div>
          <div class="card-body">
            <p class="marginBottom-40">
              <a href="{% url 'login' %}" class="btn btn-primary">Connexion</a>
            </p>
          </div>
        </div>
      </div>
    </div> <!-- END row-->
  </div> <!-- END container-->
</section>

{% endblock content %}