{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Reinitialiation de mot de passe<{% endblock %} {% block banner %} {% endblock %} {% block content %}
  <section class="login-register">
  <div class="section-padding">
    <div class="container">
      <div class="contents text-center">
        <!-- Alerts -->
        {% include 'partials/alerts.html' %}
        <h2 class="section-title">Reinitialiation de mot de passe</h2>
        <p class="text-muted">
          Indiquez l’adresse
          e-mail du compte afin de recevoir un e-mail
          et réinitialiser votre mot de passe.
        </p>
        <form class="sign-in-form" id="sign-in-form" action="{% url 'password_reset' %}" method="post">
          {% csrf_token %}

          <p class="form-input">
            {{ form.email|as_crispy_field }}
          </p>
          <p class="form-input">
            <input type="submit" name="wp-submit" id="wp-submit" class="btn" value="Envoyer">
          </p>

        </form>

      </div><!-- /.contents -->
    </div><!-- /.container -->
  </div><!-- /.section-padding -->
  </section><!-- /.login-register -->




  {% endblock %}