{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}

Reinitialiation de mot de passe

{% endblock %}
<!--  -->
{% block banner %} 
<!--  -->
{% endblock %} 

{% block content %}
  <section class="auth-section max-w-sm mx-auto px-6">
            <!-- Alerts -->
{% include 'partials/alerts.html' %}
    <div class="text-center font-semibold text-black">
      Reinitialiation de mot de passe
    </div>
    <p class="text-muted">
      Indiquez l’adresse
      e-mail du compte afin de recevoir un e-mail
      et réinitialiser votre mot de passe.

    </p>
    <form action="{% url 'password_reset' %}" method="post">
      {% csrf_token %}
      <div class="mb-4">
        <label class="block text-md font-light mb-2" for="username">Email</label>
        <input class="w-full bg-drabya-gray border-gray-500 appearance-none border p-4 font-light leading-tight focus:outline-none focus:shadow-outline" type="email" name="email" id="email" placeholder="me@gmail.com" required>
        <!-- {{ form.email|as_crispy_field }} -->
      </div>
 

    
      <div class="flex items-center justify-between mb-5">
        <button class="bg-indigo-600 hover:bg-blue-700 text-white font-light py-2 px-6 rounded focus:outline-none focus:shadow-outline" type="submit">
          Envoyer
        </button>
      </div>
    </form>

  </section>
{% endblock %}