{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Reset Password{% endblock %}

{% block banner %}

{% endblock %}

{% block content %}


<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card">
        <div class="card-header ">
          <h2>Reset Password</h2>
        </div>
        <div class="card-body">
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <!-- <a href="{% url 'home' %}" class="btn btn-success">Back</a> -->
            <button type="submit" class="btn btn-primary btn-block">Change Password</button>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>

{% endblock %}