{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}

Reinitialiation de mot de passe

{% endblock %}
<!--  -->
{% block banner %} 
<!--  -->
{% endblock %} 

{% block content %}
  <section class="auth-section max-w-sm mx-auto px-6">
            <!-- Alerts -->
{% include 'partials/alerts.html' %}
    <div class="text-center font-semibold text-black">
      E-mail de réinitialisation envoyé
    </div>
    <p class="text-muted">
      Vous allez recevoir sous peu un message. <br>
      Celui-ci contient un lien de vérification qui vous permettra de
      changer de mot de passe.
  
    </p>


  </section>
{% endblock %}