{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}

Reinitialiation de mot de passe

{% endblock %}
<!--  -->
{% block banner %} 
<!--  -->
{% endblock %} 

{% block content %}
  <section class="auth-section max-w-sm mx-auto px-6">
            <!-- Alerts -->
{% include 'partials/alerts.html' %}
    <div class="text-center font-semibold text-black">
      Le mot de passe a été réinitialisé avec succès.
    </div>

     <p class="text-center mt-2">
       <a href="{% url 'login' %}" class="bg-blue-600 hover:bg-blue-700 text-white text-sm px-4 py-2  rounded-full">Connexion</a>
     </p>
  



  </section>
{% endblock %}