{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Reset Password{% endblock %}

{% block banner %}

{% endblock %}

{% block content %}


<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card">
        <div class="card-header ">
          <h2>Reset Password</h2>
        </div>

        <div class="card-body">
          <h3>Hurray! Your password has been changed.</h3>
          <a href="{% url 'login' %}">Click here to Login</a>
        </div>

      </div>
    </div>
  </div>
</div>

{% endblock %}