{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Reset Password{% endblock %}

{% block banner %}

{% endblock %}

{% block content %}


<section class="login-register">
  <div class="section-padding">
    <div class="container">
      <div class="contents text-center">
        <!-- Alerts -->
        {% include 'partials/alerts.html' %}
        <h2 class="section-title">Changement de mot passe</h2>

        <form class="sign-in-form" id="sign-in-form" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <p class="form-input">
            <input type="password" name="new_password1" id="id_new_password1" class="input"
              placeholder="Nouveau mot de passe" required="">
          </p>
          <p class="form-input">
            <input type="password" name="new_password2" id="id_new_password2" class="input" placeholder="Confirmation"
              required="">
          </p>

          <p class="form-input">
            <input type="submit" name="wp-submit" id="wp-submit" class="btn" value="Modifier le mot de passe">
          </p>

        </form>
      </div>
    </div>
  </div>
</section>


{% endblock %}