<aside class="col-lg-3">
  <div class="card border border-light marginTop-30 shadow-v1">
    <h4 class="card-header border-bottom mb-0 h6">Choose Category</h4>
    <ul class="card-body list-unstyled mb-0">
      <li class="mb-2"><a href="">All Courses</a></li>
      <li class="mb-2"><a href="">Web Development</a></li>
      <li class="mb-2"><a href="">Mobile Apps</a></li>
      <li class="mb-2"><a href="">Business</a></li>
      <li class="mb-2"><a href="">IT & Software</a></li>
      <li class="mb-2"><a href="">Data Science</a></li>
      <li class="mb-2"><a href="">Design</a></li>
      <li class="mb-2"><a href="">Marketing</a></li>
    </ul>
  </div>
  <div class="card border border-light marginTop-30 shadow-v1">
    <h4 class="card-header border-bottom mb-0 h6">Filter By</h4>
    <ul class="card-body list-unstyled mb-0">
      <li class="mb-2"><a href="">All Courses</a></li>
      <li class="mb-2"><a href="">Featured Courses</a></li>
      <li class="mb-2"><a href="">Popular Courses</a></li>
      <li class="mb-2"><a href="">Starting Soon</a></li>
      <li class="mb-2"><a href="">Intermediate</a></li>
      <li class="mb-2"><a href="">Advanced</a></li>
    </ul>
  </div>
  <div class="card border border-light marginTop-30 shadow-v1">
    <h4 class="card-header border-bottom mb-0 h6">By Cost</h4>
    <ul class="card-body list-unstyled mb-0">
      <li class="mb-2"><a href="">All Courses</a></li>
      <li class="mb-2"><a href="">Paid Courses</a></li>
      <li class="mb-2"><a href="">Free Courses</a></li>
    </ul>
  </div>
  <div class="card marginTop-30 shadow-v1 hover:parent">
    <img class="hover:zoomin" src="assets/img/262x230/9.jpg" alt="">
    <div class="card-img-overlay text-white bg-black-0_6">
      <h4 class="card-title">
        Enriched Learning Experiences
      </h4>
      <p class="my-3">
        Get unlimited access to 2,000 of Educati’s top courses for your team.
      </p>
      <a href="#" class="btn btn-white">Join Now</a>
    </div>
  </div>
</aside> <!-- END col-lg-3 -->