<section class="padding-y-100 bg-info">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mx-auto text-center text-white">
        <h2>
          Devenir formateur
        </h2>
        <p class="lead my-4">
          <!-- Valorisez vos compétences
          Share your knowledge and reach millions of students across the globe. Join the world's largest online learning
          marketplace. -->
          Voulez-vous gagner de l'argent en formant les autres et en partageant vos compétences aux autres ? Devenez
          instructeur Xarala!
        </p>
        <a href="{% url 'pages:become-teacher' %}" class="btn btn-white mt-2">Commencer maintenant</a>
      </div>
    </div>
  </div>
</section>