<aside class="col-lg-3">

  <div class="widget widget_search marginTop-40">
    <form action="" method="POST">
      <div class="input-group">
        <input type="text" class="form-control border-0 pr-0 pl-3 py-3" placeholder="Rechercher" required="">
        <button type="submit" class="input-group-btn btn bg-white">
          <span class="ti-search"></span>
        </button>
      </div>
    </form>
  </div> <!-- END widget-->

  <div class="widget shadow-v1">
    <h2 class="widget-title">
      Tags
    </h2>
    <ul>
      {% for tag in tags %}
      <li><a href="#">{{ tag.name }} ({{ tag.post_set.count }})</a></li>
      {% endfor %}
    </ul>
  </div> <!-- END widget-->

  <div class="widget shadow-v1">
    <h2 class="widget-title">
      Ads
    </h2>
    <!-- adds banner here -->
  </div> <!-- END widget-->

  <div class="widget shadow-v1">
    <h2 class="widget-title">
      À la une
    </h2>
    <!-- <div class="mb-4">
      <a href="">
        <img src="assets/img/blog/recent/1.jpg" alt="">
      </a>
      <a href="" class="my-2 d-block">
        Ultimate Web Designer & Developer Course
      </a>
      <p>
        <a href="" class="text-primary"> Nur Jaman</a> - 3 Feb, 2018
      </p>
    </div> -->
  </div> <!-- END widget-->

  <div class="widget shadow-v1">
    <h2 class="widget-title">
      Archives
    </h2>
    <!-- <ul>
      <li><a href="">December 2017 (5)</a></li>
      <li><a href="">November 2017 (4)</a></li>
      <li><a href="">January 2016 (10)</a></li>
      <li><a href="">March 2015 (22)</a></li>
      <li><a href="">May 2014 (6)</a></li>
      <li><a href="">October 2012 (16)</a></li>
    </ul> -->
  </div> <!-- END widget-->


  <div class="widget shadow-v1">
    <h2 class="widget-title">
      Restez connecter
    </h2>
    <!-- <form action="" method="POST">
      <input type="text" class="form-control" placeholder="Enter email">
      <button class="btn btn-primary mt-3">S'inscrire</button>
    </form> -->
  </div> <!-- END widget-->

  <div class="widget shadow-v1">
    <h2 class="widget-title">
      Suivez-nous
    </h2>
    <div class="group">
      <a href="http://bit.ly/xaralaYouTube" class="btn btn-light iconbox bg-danger-onhover color-gray-v4 m-1">
        <i class="ti-youtube"></i>
      </a>
      <a href="http://bit.ly/xaralaTwitter" class="btn btn-light iconbox bg-primary-onhover color-gray-v4 m-1">
        <i class="ti-twitter"></i>
      </a>
      <a href="https://www.linkedin.com/in/xarala221/"
        class="btn btn-light iconbox bg-primary-onhover color-gray-v4 m-1">
        <i class="ti-linkedin"></i>
      </a>
      <!-- <a href="#" class="btn btn-light iconbox bg-primary-onhover color-gray-v4 m-1">
        <i class="ti-instagram"></i>
      </a> -->
    </div>
  </div> <!-- END widget-->

</aside> <!-- END col-lg-3 -->