{% load static %}
{% if posts %}

{% for post in posts %}

<div class="list-card marginTop-40">

  <div class="col-md-4 px-md-0">
    <a href="{{ post.get_absolute_url }}">
      <img class="w-100" src="
          {% if post.thumbnail %}
          {{ post.thumbnail.url }}
          {% elif post.image_url %}
          {{ post.image_url }}
          {% else %}{% static 'images/logo.png'  %}
          {% endif %}" alt="{{ post.title }}">
    </a>
  </div>

  <div class="col-md-8 px-md-0">
    <div class="card height-100p shadow-v1">
      <div class="card-body">
        <a href="{{ post.get_absolute_url }}" class="h4 mb-3">
          {{ post.title }}
        </a>
        <p class="mb-0">
          {{ post.description|safe|truncatewords:"20" }}
        </p>
      </div>
      <div class="card-footer">
        <div class="media">
          <img class="iconbox" src="{% if post.author.avatar %} {{ post.author.avatar.url }} {% else %} {% static 'images/logo.png' %}
            {% endif %}" alt="{{ post.author.get_full_name }}">
          <div class="media-body ml-4">
            <a href="#" class="text-primary"> {{ post.author.get_full_name }}</a> <br>
            {{ post.date_created|date:"d, M, Y" }} - <a href="{% url 'blog:blog_tag' post.tags.first  %}"
              class="text-primary">dans {{ post.tags.first }}</a>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- END col-md-8-->
</div> <!-- END list-card-->

{% endfor %}

{% endif %}