{% load static %}


{% if posts %}

{% for post in posts %}
<div class="col-lg-4 mt-5">
  <div class="card">
    <img class="rounded" src=" {% if post.image %}
      {{ post.image.url }}
      {% elif post.image_url %}
      {{ post.image_url }}
      {% else %}{% static 'assets/img/placeholder-1.jpg'  %}
      {% endif %}" alt="{{ post.title }}" alt="{{ post.title }}">
    <div class="card-body px-0">
      <a href="{% url 'blog:blog_tag' post.tags.first %}" class="text-primary">{{ post.tags.first }}</a>
      <a href="{{ post.get_absolute_url }}" class="h4 my-2">
        {{ post.title }}
      </a>
      <p>
        {{ post.date_created|date:"d, M, Y" }} - par <a href="#"
          class="text-primary">{{ post.author.get_full_name }}</a>
      </p>
    </div>
  </div>
</div>
{% endfor %}

{% endif %}