{% load static %}

<div class="course-card">
  <div class="mt-0 ml-8 mb-8 pt-2 text-center">
    <h2 class="text-3xl">{% if title %} {{ title }} {% else %} Tutoriels populaires {% endif %}</h2>
    <p class="text-2xl text-grey leading-tight tracking-wide">{% if title %} Les Tutoriels de {{ title }} {% else %}Les
      compétences demandées par les recruteurs.{% endif %}</p>
  </div>
  <div class="flex flex-wrap w-full h-full -mt-4">

    {% if courses %}

    {% for course in courses %}
    <div class=" w-full sm:w-1/2 md:w-1/4  lg:my-5 my-4 px-2">

      <div class="course-items bg-white border rounded-b-md shadow-lg overflow-hidden m-0 p-0">
        <a href="{% url 'course-overview' course.slug %}">
          <img
            src="{% if course.thumbnail %} {{ course.thumbnail.url }} {% else %} {% static 'images/mix/no-image-icon.png'  %} {% endif %}" />
        </a>
        <div class="ml-3">
          <a href="{% url 'course-overview' course.slug %}">
            <h1 class="font-bold mb-2">
              {{ course.title }}
            </h1>
          </a>
          <!-- <h2 class="text-sm text-gray-800 mb-2">{{ course.teacher.get_full_name }}</h2> -->
          <div class="mb-2 text-sm text-gray-800">
            <div class="flex items-center mt-2 mb-2 text-gray-700">
              <img class="h-6 w-6 fill-current" src="{% static 'images/svgs/students.svg' %}" alt="Students" />
              <h1 class="px-2 text-sm text-gray-800">


                {{ course.count_students|default_if_none:"10" }}
                {% if course.count_students > 1 %} Étudiants {% else %} Étudiant
                {% endif %}

              </h1>
            </div>
            <div class="flex items-center mt-2 mb-2 text-gray-700">
              <img class="h-6 w-6 fill-current" src="{% static 'images/svgs/teacher.svg' %}" alt="Teacher" />
              <h1 class="px-2 text-sm text-gray-800">
                {{ course.teacher.get_full_name|default_if_none:"Xarala" }}
              </h1>
            </div>
            <span class="flex">
              <svg fill="currentColor" viewBox="0 0 20 20" class="h-5 text-teal-600">
                <path
                  d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                </path>
              </svg>
              <svg fill="currentColor" viewBox="0 0 20 20" class="h-5 text-teal-600">
                <path
                  d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                </path>
              </svg>
              <svg fill="currentColor" viewBox="0 0 20 20" class="h-5 text-teal-600">
                <path
                  d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                </path>
              </svg>
              <svg fill="currentColor" viewBox="0 0 20 20" class="h-5 text-teal-600">
                <path
                  d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                </path>
              </svg>
              <svg fill="currentColor" viewBox="0 0 20 20" class="h-5 text-gray-200">
                <path
                  d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                </path>
              </svg>
            </span>
            <div class="flex items-center mt-2 mb-2 text-gray-700">
              <img class="h-6 w-6 fill-current" src="{% static 'images/svgs/language.svg' %}" alt="Langue" />
              <h1 class="px-2 text-sm text-gray-800">
                {{ course.language.name|default_if_none:"Wolof" }}
              </h1>
            </div>
          </div>
          <div class="flex justify-end mr-4 mb-4">
            <span class="text-sm  mr-3 mt-1 line-through">{{ course.original_price }} FCFA</span>
            <h1 class="text-lg font-bold">
              {% if course.price %}
              {{ course.price }}
              {% else %}
              0
              {% endif %}
              FCFA
            </h1>
          </div>
        </div>
        <a href="{% url 'course-overview' course.slug %}"
          class="bg-blue w-full flex justify-center py-2 text-white font-semibold transition duration-300 hover:bg-teal-500">
          Voir le cours
        </a>

      </div>


    </div>
    {% endfor %}

    {% endif %}

  </div>
</div>