{% load static %}

<div class="row">
    <div class="col-lg-12">
        <h2 class="st_title"><i class="uil uil-book-alt"></i>Cours</h2>
    </div>

    {% if user.is_teacher %}
    <div class="col-md-12">
        <div class="card_dash1">
            <div class="card_dash_left1">
                <i class="uil uil-video"></i>
                <h1>Passez à la création de vos cours</h1>
            </div>
            <div class="card_dash_right1">
                <a href="{% url 'dashboard:create-course' %}"><button class="create_btn_dash">Créer votre
                        cours</button></a>
            </div>
        </div>
    </div>
    {% endif %}
</div>

<div class="row">
    <div class="col-md-12">
        <div class="my_courses_tabs">
            {% include "partials/_courses_table.html" %}
        </div>
    </div>
</div>