<div class="w-full h-full">
  <div class="w-full h-full" id="videoWrapper">
    <iframe id="jsVimeoFrame" class="embed-responsive-item w-full h-full"
      src="https://www.youtube.com/embed/{{ course.get_introudction.video_id }}?rel=0" frameborder="0"
      allowfullscreen="" allow="autoplay; fullscreen"></iframe>
    
    </div>
    <div class="mt-8 text-center">
      <a
        href="{% if button_text == 'Enroller'  %}{% url 'subscribe_user_to_course' course.slug %}{% else %}/courses/{{ course.slug }}/?lecture={{course.get_introudction.slug}}{% endif %}"
        class="bg-blue text-gray-100 px-5 py-3 font-semibold rounded"
        >{{ button_text }}</a
      >
    </div>



  <div class="w-full md:w-3/5 mx-auto p-8">
    <h2 class="m-2">Contenu de la formation</h2>
    <div class="shadow-md">
      {% if object.course_chapters.all %}
      {% for chapter in object.course_chapters.all %}
      <div class="tab w-full overflow-hidden border-t">
        <input
          class="absolute opacity-0"
          id="tab-single-{{ chapter.id }}"
          type="radio"
          name="tabs2"
        />
        <label
          class="block p-5 leading-normal cursor-pointer"
          for="tab-single-{{ chapter.id }}"
          >{{ chapter.name }}</label
        >
        {% if chapter.course_lessons.all  %}
        {% for lesson in chapter.course_lessons.all  %}
        {% if lesson.chapter.id == chapter.id %}
        <div
        class="tab-content overflow-hidden border-l-2 bg-gray-100 border-indigo-500 leading-normal"
      >
        <p class="px-5">
          {{ lesson.title }}
        </p>
      </div>
          {% endif %}
          {% endfor %}
          {% endif %}
      </div>
      {% endfor %}
      {% endif %}
    </div>
  </div>

</div>

