{% load static %}

<div class="item">
  <div class="fcrse_1 mb-20">
    <a href="{{ course.get_absolute_url }}" class="fcrse_img">
      <img
        src="{% if course.thumbnail %} {{ course.thumbnail.url }} {% else %} {% static 'assets/img/placeholder-1.jpg' %} {% endif %}"
        alt="{{ course.title }}">
      <div class="course-overlay">
        <span class="play_btn1"><i class="uil uil-play"></i></span>
        <div class="crse_timer">
          {{ course.price }} XOF
        </div>
      </div>
    </a>
    <div class="fcrse_content">
      <a href="{{ course.get_absolute_url }}" class="crse14s">{{ course.title }}</a>
      <div class="vdtodt">
        <span class="vdt14">Langue : {{ course.language.name }}</span>
        <span class="vdt14">{{ course.count_lessons }} Vidéos</span>
      </div>
      <div class="vdtodt">
        <span class="vdt14">Par : <a href="#">{{ course.teacher.get_full_name|default_if_none:"Xarala" }}</a></span>
        <span class="vdt14">dans : {{ course.categories.first }}</span>
      </div>
    </div>


    {% if course.price > 0 %}
    <a href="#" class="text-light">
      <button class="btn-block btn_adcart">Ajouter au panier</button>
    </a>
    {% elif course in request.user.courses_enrolled.all %}
    <a href="/courses/{{ course.slug }}/?lecture={{course.get_introudction.slug}}" class="text-light">
      <button class="btn-block btn_adcart">Continue</button></a>
    {% else %}
    <a href="{% url 'course:subscribe_user_to_course' course.slug %}" class="text-light">
      <button class="btn-block btn_adcart">S'inscrire</button></a>
    {% endif %}



  </div>

</div>