{% load static %}

<div class="row">
  <div class="col-lg-12">
    <h2 class="st_title"><i class="uil uil-book-alt"></i>Cours</h2>
  </div>

  {% if user.is_teacher %}
  <div class="col-md-12">
    <div class="card_dash1">
      <div class="card_dash_left1">
        <i class="uil uil-video"></i>
        <h1>Passez à la création de vos cours</h1>
      </div>
      <div class="card_dash_right1">
        <a href="{% url 'dashboard:create-course' %}"
          ><button class="create_btn_dash">Créer votre cours</button></a
        >
      </div>
    </div>
  </div>
  {% endif %}
</div>

<div class="row">
  <div class="col-md-12">
    <div class="my_courses_tabs">
      <div class="table-responsive mt-30">
        <table class="table ucp-table">
          <thead class="thead-s">
            <tr>
              <th class="text-center" scope="col">#</th>
              <th>Titre</th>
              <th class="text-center" scope="col">Date de création</th>
              <th class="text-center" scope="col">Prix (F CFA)</th>

              {% if user.is_teacher or user.is_staff %}
              <th class="text-center" scope="col">Etudiants</th>
              {% endif %}
              <th class="text-center" scope="col">Catégorie</th>
              <th class="text-center" scope="col">Statut</th>
              <th class="text-center" scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            {% for course in courses %}
            <tr id="course_{{course.id}}">
              <td class="text-center">{{ forloop.counter }}</td>
              <td>{{ course.title }}</td>
              <td class="text-center">
                {{ course.date_created|date:"d-m-Y" }}
              </td>
              <td class="text-center">
                {{ course.price|floatformat|default_if_none:"0" }}
              </td>

              {% if user.is_teacher or user.is_staff %}
              <td class="text-center">
                {{ course.students.count|default_if_none:"0" }}
              </td>
              {% endif %}

              <td class="text-center">
                {% for category in course.categories.all %}
                <a href="#">{{ category.name|default_if_none:"" }}</a> 
                {% endfor  %}
              </td>
              <td class="text-center">
                <b class="course_active" id="status-{{course.id}}">
                  {% if course.drafted %} Archivé 
                  {% elif course.published %}
                  Publié 
                  {% elif course.submitted %} Soumis 
                  {% else %} En attente 
                  {% endif %}
                </b>
              </td>
              <td class="text-center">
                <div class="dropdown">
                  <a
                    class="btn"
                    href="#"
                    role="button"
                    id="dropdownMenuLink"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    <i class="fas fa-ellipsis-v"></i>
                  </a>
                  <div
                    class="dropdown-menu"
                    aria-labelledby="dropdownMenuButton"
                  >
                    <button class="btn btn-sm">
                      <a
                        href="{% url 'course:course-overview' course.slug %}"
                        title="View"
                        class="dropdown-item"
                        >Aperçu</a
                      >
                    </button>
                    <button class="btn btn-sm">
                      <a
                        href="{% url 'dashboard:manage-course' course.slug %}"
                        title="Manage"
                        class="dropdown-item"
                        >Gestion</a
                      >
                    </button>
                    {% if user.is_teacher and not course.submitted and not course.published %} 
                    {% if course.get_chapters and course.count_lessons %}
                    <button
                      id="submit_course"
                      class="btn btn-sm"
                    >
                      <a
                        href="#"
                        title="Submit"
                        class="dropdown-item submit-course-btn"
                        course_id="{{course.id}}"
                        data-toggle="modal"
                        data-target="#submit_course_{{course.id}}"
                        >Soumettre</a
                      >
                    </button>
                    {% endif %} 
                    {% endif %} 
                    {% if user.is_teacher and not course.drafted %}
                    <button class="btn btn-sm">
                      <a
                        href="{% url 'dashboard:update-course' course.id %}"
                        title="Edit"
                        class="dropdown-item"
                        >Modifier</a
                      >
                    </button>
                    {% endif %} 
                    {% if user.is_teacher and not course.drafted %}
                    <button
                      id="draft_course"
                      class="btn btn-sm"
                    >
                      <a href="#" title="Draft" course_id="{{course.id}}"
                      data-toggle="modal"
                      data-target="#draft_course_{{course.id}}" class="dropdown-item draft-course-btn"
                        >Archiver</a
                      >
                    </button>
                    {% endif %} 
                    {% if user.is_staff and course.submitted and not course.published %}
                    <button
                      id="publish_course"
                      class="btn btn-sm"
                    >
                      <a href="#" title="Publish" 
                      course_id="{{course.id}}"
                      data-toggle="modal"
                      data-target="#publish_course_{{course.id}}" class="dropdown-item publish-course-btn"
                        >Publier</a
                      >
                    </button>
                    {% endif %}
                  </div>
                </div>
              </td>
            </tr>

            <!-- Submit Course Modal-->
            <div
              class="modal fade submit_course"
              id="submit_course_{{course.id}}"
              tabindex="-1"
              role="dialog"
              aria-labelledby="submitCourseModalLabel"
              aria-hidden="true"
            >
              <div
                class="modal-dialog modal-lg modal-dialog-centered"
                role="document"
              >
                <div class="modal-content">
                  <div class="modal-header">
                    <h2 class="st_title" id="submitCourseModalLabel">
                      <i class="uil uil-analysis"></i>Soumettre le cours
                      <b class="course_active">{{ course.title }}</b>
                    </h2>
                    <button
                      type="button"
                      class="close"
                      data-dismiss="modal"
                      aria-label="Close"
                      style="color: red"
                    >
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div
                      id="submit-course-{{course.id}}"
                      method="POST"
                      data-url="{% url 'dashboard:submit-course' %}"
                    >
                      {% csrf_token %}
                      <div class="general_info10">
                        <div class="row">
                          <div class="col-12">
                            <div class="ui search focus mt-10 lbel25">
                              <label>
                                Êtes-vous sûr de vouloir soumettre ce cours?
                              </label>
                            </div>
                          </div>
                          <div class="col-12">
                            <button
                              data-dismiss="modal"
                              class="create_btn_dash btn-danger"
                              style="float: right"
                            >
                              Annuler
                            </button>
                            <button
                              type="button"
                              class="create_btn_dash mr-2 submit-submitted-course-data"
                              style="float: right"
                            >
                              Confirmer
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Publish Course Modal-->
            <div
              class="modal fade publish_course"
              id="publish_course_{{course.id}}"
              tabindex="-1"
              role="dialog"
              aria-labelledby="publishCourseModalLabel"
              aria-hidden="true"
            >
              <div
                class="modal-dialog modal-lg modal-dialog-centered"
                role="document"
              >
                <div class="modal-content">
                  <div class="modal-header">
                    <h2 class="st_title" id="publishCourseModalLabel">
                      <i class="uil uil-analysis"></i>Publier le cours
                      <b class="course_active">{{ course.title }}</b>
                    </h2>
                    <button
                      type="button"
                      class="close"
                      data-dismiss="modal"
                      aria-label="Close"
                      style="color: red"
                    >
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div
                      id="publish-course-{{course.id}}"
                      method="POST"
                      data-url="{% url 'dashboard:submit-course' %}"
                    >
                      {% csrf_token %}
                      <div class="general_info10">
                        <div class="row">
                          <div class="col-12">
                            <div class="ui search focus mt-10 lbel25">
                              <label>
                                Êtes-vous sûr de vouloir publier ce cours?
                              </label>
                            </div>
                          </div>
                          <div class="col-12">
                            <button
                              data-dismiss="modal"
                              class="create_btn_dash btn-danger"
                              style="float: right"
                            >
                              Annuler
                            </button>
                            <button
                              type="button"
                              class="create_btn_dash mr-2 submit-published-course-data"
                              style="float: right"
                            >
                              Confirmer
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Draft Course Modal-->
            <div
              class="modal fade draft_course"
              id="draft_course_{{course.id}}"
              tabindex="-1"
              role="dialog"
              aria-labelledby="draftCourseModalLabel"
              aria-hidden="true"
            >
              <div
                class="modal-dialog modal-lg modal-dialog-centered"
                role="document"
              >
                <div class="modal-content">
                  <div class="modal-header">
                    <h2 class="st_title" id="draftCourseModalLabel">
                      <i class="uil uil-analysis"></i>Archiver le cours
                      <b class="course_active">{{ course.title }}</b>
                    </h2>
                    <button
                      type="button"
                      class="close"
                      data-dismiss="modal"
                      aria-label="Close"
                      style="color: red"
                    >
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div
                      id="draft-course-{{course.id}}"
                      method="POST"
                      data-url="{% url 'dashboard:draft-course' %}"
                    >
                      {% csrf_token %}
                      <div class="general_info10">
                        <div class="row">
                          <div class="col-12">
                            <div class="ui search focus mt-10 lbel25">
                              <label>
                                Êtes-vous sûr de vouloir archiver ce cours?
                              </label>
                            </div>
                          </div>
                          <div class="col-12">
                            <button
                              data-dismiss="modal"
                              class="create_btn_dash btn-danger"
                              style="float: right"
                            >
                              Annuler
                            </button>
                            <button
                              type="button"
                              class="create_btn_dash mr-2 submit-drafted-course-data"
                              style="float: right"
                            >
                              Confirmer
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </tbody>
        </table>

        {% if courses.has_other_pages %}
        <div class="main-p-pagination text-center">
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              {% if courses.has_previous %}
              <li class="page-item">
                <a
                  class="page-link"
                  href="?page={{ courses.previous_page_number }}"
                  aria-label="Previous"
                >
                  &laquo;
                </a>
              </li>
              {% else %}
              <li class="page-item disabled">
                <a class="page-link" href="#" aria-label="Previous">
                  &laquo;
                </a>
              </li>
              {% endif %} {% for i in courses.paginator.page_range %} 
              {% if courses.number == i %}
              <li class="page-item">
                <a class="page-link active" href="#">{{ i }}</a>
              </li>
              {% else %}
              <li class="page-item">
                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
              </li>
              {% endif %} {% endfor %} {% if courses.has_next %}
              <li class="page-item">
                <a
                  class="page-link"
                  href="?page={{ courses.next_page_number }}"
                  aria-label="Next"
                >
                  &raquo;
                </a>
              </li>
              {% else %}
              <li class="page-item disabled">
                <a class="page-link" href="#" aria-label="Next"> &raquo; </a>
              </li>
              {% endif %}
            </ul>
          </nav>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
