<!doctype html>
{% load static %}

<html class="no-js" lang="en-US">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title> xarala Academy -
    {% block title %}
    Cours en ligne | La technologie dans votre langue
    {% endblock %}
  </title>
  <meta name="description" content="xarala Academy - Cours en ligne - La technologie dans votre langue">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <!-- favicon -->
  <link rel="icon" href="{% static 'images/logo/logo.png' %}" sizes="32x32">
  <link rel="icon" href="{% static 'images/logo/logo.png' %}" sizes="192x192">
  <link rel="apple-touch-icon-precomposed" href="{% static 'images/logo/logo.png' %}">


  <!-- Import Template Icons CSS Files -->
  <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/simple-line-icons.css' %}">

  <!-- Import Bootstrap CSS File -->
  <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">

  <!-- Import Owl Carousel CSS File -->

  <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">

  <!-- TimeTo Countdown CSS Files -->
  <link rel="stylesheet" href="{% static 'assets/css/timeTo.css' %}">

  <!-- Import Template's CSS Files -->
  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">


</head>


<body>