{% load static %}

<div class="_215td5">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="title589 text-center">
          <h2>Installez Xarala sur votre téléphone.</h2>
          <p>Xarala est votre compagnon de tous les jours, même lorsque vous disposez de données limitées ou
            d'une
            connexion lente.</p>
          <img class="line-title" src="{% static 'images/line.svg' %}" alt="">
        </div>
      </div>
      <div class="col-lg-12">
        <div class="btn-appstore text-center pt-2">
          <a href="http://bit.ly/xaralaIOS" target="_blank" class="tm-btn btn-outline-dark">
            <img src="{% static 'images/itunes_header.svg' %}" alt="Xarala Application mobile"> App
            Store</a>
          <a href="https://play.google.com/store/apps/details?id=com.xaralamobile" target="_blank"
            class="tm-btn btn-outline-dark">
            <img src="{% static 'images/gplay_header.svg' %}" alt="Xarala Application mobile"> Google
            Play</a>
        </div>
      </div>
    </div>
  </div>
</div>