{% load static %}
<footer class="site-footer">
  <div class="footer-top bg-dark text-white-0_6 pt-5 paddingBottom-100">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6 mt-5">
          <img src="{% static 'assets/img/xarala-white.png' %}" alt="Logo" height="70">
          <div class="margin-y-40">
            <p>
              L’informatique dans votre langue <br>Jàng Xarala yu yees yi ci sa làkk
            </p>
          </div>
          <ul class="list-inline">
            <li class="list-inline-item"><a class="iconbox bg-white-0_2 hover:primary" href=""><i class="ti-facebook">
                </i></a></li>
            <li class="list-inline-item"><a class="iconbox bg-white-0_2 hover:primary" href=""><i class="ti-twitter">
                </i></a></li>
            <li class="list-inline-item"><a class="iconbox bg-white-0_2 hover:primary" href=""><i class="ti-linkedin">
                </i></a></li>
            <li class="list-inline-item"><a class="iconbox bg-white-0_2 hover:primary" href=""><i
                  class="ti-pinterest"></i></a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 mt-5">
          <h4 class="h5 text-white">Nous contacter</h4>
          <div class="width-3rem bg-primary height-3 mt-3"></div>
          <ul class="list-unstyled marginTop-40">
            <li class="mb-3"><i class="ti-headphone mr-3"></i><a href="tel:+221779929952">+221 77 992 99 52 </a></li>
            <li class="mb-3"><i class="ti-email mr-3"></i><a href="mailto:contact@xarala.co">contact@xarala.co</a>
            </li>
            <li class="mb-3">
              <div class="media">
                <i class="ti-location-pin mt-2 mr-3"></i>
                <div class="media-body">
                  <span> Sicap Mbao, Dakar, Sénégal/Afrique</span>
                </div>
              </div>
            </li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-6 mt-5">
          <h4 class="h5 text-white">Liens rapides</h4>
          <div class="width-3rem bg-primary height-3 mt-3"></div>
          <ul class="list-unstyled marginTop-40">
            <li class="mb-2"><a href="page-about.html">Qui sommes-nous</a></li>
            <li class="mb-2"><a href="page-contact.html">Nous contacter</a></li>
            <li class="mb-2"><a href="page-sp-student-profile.html">Formation</a></li>
            <li class="mb-2"><a href="page-sp-admission-apply.html">Blog</a></li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-6 mt-5">
          <h4 class="h5 text-white">Newslatter</h4>
          <div class="width-3rem bg-primary height-3 mt-3"></div>
          <div class="marginTop-40">
            <p class="mb-4">Abonnez-vous pour obtenir des mises à jour et des informations. Ne vous inquiétez pas, nous
              n'enverrons pas de spam!</p>
            <form class="marginTop-30" action="#" method="POST">
              <div class="input-group">
                <input type="text" placeholder="Enter your email" class="form-control py-3 border-white" required="">
                <div class="input-group-append">
                  <button class="btn btn-primary" type="submit">S'inscrire</button>
                </div>
              </div>
            </form>
          </div>
        </div>

      </div> <!-- END row-->
    </div> <!-- END container-->
  </div> <!-- END footer-top-->

  <div class="footer-bottom bg-black-0_9 py-5 text-center">
    <div class="container">
      <p class="text-white-0_5 mb-0">&copy; 2020 Xarala. All rights reserved. Created by <a
          href="https://twitter.com/xarala221" target="_blunk">Xarala221</a></p>
    </div>
  </div> <!-- END footer-bottom-->
</footer> <!-- END site-footer -->