{% load static %}
<div class="bg-dark border-top-2 mt-auto">
  <div class="container page__container page-section d-flex flex-column">
    <p class="text-white-70 brand mb-24pt">
      <img class="brand-icon" src="{% static 'public/images/logo/xarala-white.png' %}" width="30" alt="Xarala">
      Xarala
    </p>
    <p class="measure-lead-max text-white-50 small mr-8pt">Xarala est une plateforme d'apprentissage en
      ligne(E-Learning) qui permet à toute personne d'apprendre les nouvells technologies.</p>
    <p class="mb-8pt d-flex">
      <a href="{% url 'pages:about' %}" class="text-white-70 text-underline mr-8pt small">À propos</a>
      <a href="{% url 'pages:contact' %}" class="text-white-70 text-underline mr-8pt small">Contact</a>
      <a href="{% url 'pages:privacy_policy' %}" class="text-white-70 text-underline small">Politique de
        confidentialité</a>
    </p>
    <p class="text-white-50 small mt-n1 mb-0">Copyright 2020 &copy; All rights reserved.</p>
  </div>
</div>