<header class="site-header bg-dark text-white-0_5" data-dark-overlay="6">
  <div class="container">
    <div class="row align-items-center justify-content-between mx-0">
      <ul class="list-inline d-none d-lg-block mb-0">
        <li class="list-inline-item mr-3">
          <div class="d-flex align-items-center">
            <i class="ti-email mr-2"></i>
            <a href="mailto:contact@xarala.co">contact@xarala.co</a>
          </div>
        </li>
        <li class="list-inline-item mr-3">
          <div class="d-flex align-items-center">
            <i class="ti-headphone mr-2"></i>
            <a href="tel:+221779929952">+221779929952</a>
          </div>
        </li>
      </ul>
      <ul class="list-inline mb-0">
        <li class="list-inline-item mr-0 p-3 border-right border-left border-white-0_1">
          <a href="https://web.facebook.com/xarala"><i class="ti-facebook"></i></a>
        </li>
        <li class="list-inline-item mr-0 p-3 border-right border-white-0_1">
          <a href="http://bit.ly/xaralaTwitter"><i class="ti-twitter"></i></a>
        </li>
        <li class="list-inline-item mr-0 p-3 border-right border-white-0_1">
          <a href="http://bit.ly/xaralaYouTube"><i class="ti-youtube"></i></a>
        </li>
      </ul>
      <ul class="list-inline mb-0">

        {% if request.user.is_authenticated %}

        <li class="list-inline-item mr-0 p-md-3 p-2 border-right border-left border-white-0_1 bg-primary">
          <a href="{% url 'dashboard:dashboard' %}">Dashboard</a>
        </li>

        <li class="list-inline-item mr-0 p-md-3 p-2 border-right border-left border-white-0_1">
          <a href="javascript:{document.getElementById('logout').submit()}">Déconnexion
            <form action="{% url 'logout' %}" method="POST" id="logout">
              {% csrf_token %}
              <input type="hidden" />
            </form>
          </a>
        </li>

        {% else %}

        <li class="list-inline-item mr-0 p-md-3 p-2 border-right border-left border-white-0_1">
          <a href="{% url 'login' %}">Connexion</a>
        </li>
        <li class="list-inline-item mr-0 p-md-3 p-2 border-right border-white-0_1 bg-primary">
          <a href="{% url 'register' %}">Inscription</a>
        </li>

        {% endif %}


      </ul>
    </div> <!-- END END row-->
  </div> <!-- END container-->
</header><!-- END site header-->