<div class="flex bg-gray-100 py-12 justify-center">
  <div class="p-12 text-center max-w-2xl">
    <h1 class="md:text-3xl text-3xl font-bold">
      Prenez Votre carrière en main.
    </h1>
    <p class="text-xl font-normal mt-4 text-center">
      Des compétences qui n'attendent que vous <br />
      Progressez dans votre vie et améliorerz votre niveau.
    </p>
    <div class="mt-6 flex justify-center h-12 relative">
      <a
        class="flex shadow-md hover:bg-gray-300 hover-text-dark font-medium absolute py-2 px-4 cursor-pointer bg-blue rounded-full text-lg tr-mt svelte-jqwywd text-white"
        href="{% url 'register' %}"
      >
        Bien débuter
      </a>
    </div>
  </div>
</div>
