{% load static %}
<nav class="ec-nav sticky-top bg-white">
  <div class="container">
    <div class="navbar p-0 navbar-expand-lg">
      <div class="navbar-brand">
        <a class="logo-default" href="{% url 'pages:home' %}"><img alt="Logo xarala"
            src="{% static 'assets/img/logo.png' %}" height="70"></a>
      </div>
      <span aria-expanded="false" class="navbar-toggler ml-auto collapsed" data-target="#ec-nav__collapsible"
        data-toggle="collapse">
        <div class="hamburger hamburger--spin js-hamburger">
          <div class="hamburger-box">
            <div class="hamburger-inner"></div>
          </div>
        </div>
      </span>
      <div class="collapse navbar-collapse when-collapsed" id="ec-nav__collapsible">
        <ul class="nav navbar-nav ec-nav__navbar ml-auto">

          <li class="nav-item">
            <a class="nav-link" href="{% url 'pages:home' %}">Accueil</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'course:courses' %}">Formation</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'course:learning-path' %}">Parcours</a>
          </li>

          <li class="nav-item nav-item__has-dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="{% url 'pages:about' %}">La plateforme</a>
            <div class="dropdown-menu">
              <ul class="list-unstyled">
                <li><a class="nav-link__list" href="{% url 'pages:about' %}">A propos</a></li>
                <li>
                  <a class="nav-link__list" href="{% url 'pages:community' %}">Communauté</a>
                </li>
                <li>
                  <a class="nav-link__list" href="{% url 'pages:faq' %}"> FAQs </a>
                </li>
                <li>
                  <a class="nav-link__list" href="{% url 'pages:contact' %}">Nous contacter</a>
                </li>
                <li>
                  <a class="nav-link__list" href="{% url 'pages:team' %}"> Nos intervenants </a>
                </li>
              </ul>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'blog:posts' %}"> Blog </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'shop:products' %}"> Boutique </a>
          </li>
        </ul>
      </div>
      <div class="nav-toolbar">
        <ul class="navbar-nav ec-nav__navbar">
          <li class="nav-item">
            <a class="nav-link site-search-toggler" href="#">
              <i class="ti-search"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div> <!-- END container-->
</nav> <!-- END ec-nav -->