{% load static %}

<div class="posts">
  <div class="mt-3 ml-8 mb-0 pt-2 text-center">
    <h2 class="text-6xl">Derniers articles</h2>
    <p class="text-2xl text-grey leading-tight tracking-wide">Des bonnes pratiques de développement.</p>
  </div>
  <div class="flex flex-wrap w-full h-full -mt-4">
    {% if posts %} {% for post in posts %}
    <div class="w-full sm:w-1/2 md:w-1/4 my-10 px-2">
      <div
        class="post-items bg-white shadow-lg rounded-lg overflow-hidden m-0 p-1"
      >
        <div class="">
          <h2 class="text-lg text-blue font-medium text-3xl text-center">
            <a href="{{ post.get_absolute_url }}">
              {{ post.title }}
            </a>
          </h2>
        </div>
        <div class="post-meta m-2">
          <div class="flex items-center mt-2 mb-2 text-gray-700">
            <img
              class="h-6 w-6 fill-current"
              src="{% static 'images/svgs/teacher.svg' %}"
              alt="Auteur"
            />
            <h1 class="px-2 text-sm">
              Auteur :
              <strong>
                {{ post.author.get_full_name|default_if_none:"Xarala"}}
                </strong>
            </h1>
          </div>
        </div>

        <a href="{{ post.get_absolute_url }}">
          <img
            class="object-contain h-48 w-full  mt-2"
            src="
              {% if post.image %}
                {{ post.image.url }}
              {% elif post.image_url %}
              {{ post.image_url }}
              {% else %} {% static 'images/mix/no-image-icon.png'  %}
              {% endif %}"
            alt="{{ post.title }}"
          />
        </a>
      </div>
    </div>
    {% endfor %} {% endif %}
  </div>
</div>
