{% load static %}

<div class="item">
  <div class="fcrse_1 mb-20">
    <a href="{{ post.get_absolute_url }}" class="fcrse_img">
      <img src="
      {% if post.image %}
      {{ post.image.url }}
      {% elif post.image_url %}
      {{ post.image_url }}
      {% else %}{% static 'images/logo.png'  %}
      {% endif %}" alt="{{ post.title }}">
      <div class="post-overlay">
        <span class="play_btn1"><i class="uil uil-play"></i></span>
        <div class="crse_timer">
          {{ post.tags.first }}
        </div>
      </div>
    </a>
    <div class="fcrse_content">
      <div class="eps_dots more_dropdown">
        <a href="#"><i class="uil uil-ellipsis-v"></i></a>
        <div class="dropdown-content">
          <span><i class="uil uil-share-alt"></i>Partager</span>
          <span><i class="uil uil-heart"></i>Ajouter au favoris</span>
        </div>
      </div>
      <div class="vdtodt">

        {{ post.date_created|date:"d, M, Y" }}
      </div>
      <a href="{{ post.get_absolute_url }}" class="crse14s">{{ post.title }}</a>
      <a href="#" class="crse-cate">{{ post.description|safe|truncatewords:"20" }}</a>
      <div class="auth1lnkprce">
        <p class="cr1fot">Par <a href="#">{{ post.author.get_full_name }}</a></p>
      </div>
    </div>
  </div>
</div>