{% load static %}

<ul>


    <div class="left_section">
        <h6 class="left_title">Cours</h6>
        <ul>
            <li class="menu--item">
                <a href="{% url 'dashboard:courses' %}" class="menu--link" title="Vos cours">
                    <i class='uil uil-video menu--icon'></i>
                    <span class="menu--label">Vos cours</span>
                </a>
            </li>
            <li class="menu--item">
                <a href="{% url 'dashboard:create-course' %}" class="menu--link" title="Nouveau cours">
                    <i class='uil uil-plus-circle menu--icon'></i>
                    <span class="menu--label">Nouveau cours</span>
                </a>
            </li>
        </ul>
    </div>



    <div class="left_section">
        <h6 class="left_title">Tutoriels</h6>
        <ul>
            <li class="menu--item">
                <a href="{% url 'dashboard:tutorials' %}" class="menu--link" title="Vos tutos">
                    <i class='uil uil-book-reader menu--icon'></i>
                    <span class="menu--label">Vos tutos</span>
                </a>
            </li>
            <li class="menu--item">
                <a href="{% url 'dashboard:create-tutorial' %}" class="menu--link" title="Nouveau tutoriel">
                    <i class='uil uil-plus-circle menu--icon'></i>
                    <span class="menu--label">Nouveau tutoriel</span>
                </a>
            </li>
        </ul>
    </div>


    <li class="menu--item">
        <a href="instructor_notifications.html" class="menu--link" title="Notifications">
            <i class="uil uil-bell menu--icon"></i>
            <span class="menu--label">Notifications</span>
        </a>
    </li>
    {% if request.user.is_student %}
    <li class="menu--item">
        <a href="instructor_my_certificates.html" class="menu--link" title="My Certificates">
            <i class="uil uil-award menu--icon"></i>
            <span class="menu--label">Mes Certificats</span>
        </a>
    </li>
    {% endif %}
</ul>