<ul>
  <div class="left_section">
    <h6 class="left_title">Cours</h6>
    <ul>
      <li class="menu--item">
        <a href="{% url 'dashboard:all_courses' %}" class="menu--link" title="Vos cours">
          <i class='uil uil-video menu--icon'></i>
          <span class="menu--label">Tous les cours</span>
        </a>
      </li>
      <li class="menu--item">
        <a href="{% url 'dashboard:unpublished_courses' %}" class="menu--link" title="Vos cours">
          <i class='uil uil-step-backward menu--icon'></i>
          <span class="menu--label">Cours non publié</span>
        </a>
      </li>
      <li class="menu--item">
        <a href="{% url 'dashboard:published_courses' %}" class="menu--link" title="Vos cours">
          <i class='uil uil-step-forward menu--icon'></i>
          <span class="menu--label">Cours publié</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="left_section">
    <h6 class="left_title">Tutoriels</h6>
    <ul>
      <li class="menu--item">
        <a href="{% url 'dashboard:all_tutorials' %}" class="menu--link" title="Vos tutos">
          <i class='uil uil-book-reader menu--icon'></i>
          <span class="menu--label">Tous les tutos</span>
        </a>
      </li>
      <li class="menu--item">
        <a href="{% url 'dashboard:published_tutorials' %}" class="menu--link" title="Vos tutos">
          <i class='uil uil-link-alt menu--icon'></i>
          <span class="menu--label">Tutos publiés</span>
        </a>
      </li>
      <li class="menu--item">
        <a href="{% url 'dashboard:unpublished_tutorials' %}" class="menu--link" title="Vos tutos">
          <i class='uil uil-link-h menu--icon'></i>
          <span class="menu--label">Tutos non publiés</span>
        </a>
      </li>

    </ul>
  </div>

  <div class="left_section">
    <h6 class="left_title">Formateurs</h6>
    <ul>
      <li class="menu--item">
        <a href="{% url 'dashboard:tutorials' %}" class="menu--link" title="Vos tutos">
          <i class='uil uil-users-alt menu--icon'></i>
          <span class="menu--label">Tous les formateus</span>
        </a>
      </li>
      <li class="menu--item">
        <a href="{% url 'dashboard:tutorials' %}" class="menu--link" title="Vos tutos">
          <i class='uil uil-user-plus menu--icon'></i>
          <span class="menu--label">Formateurs validés</span>
        </a>
      </li>
      <li class="menu--item">
        <a href="{% url 'dashboard:tutorials' %}" class="menu--link" title="Vos tutos">
          <i class='uil uil-user-times menu--icon'></i>
          <span class="menu--label">Formateurs non validés</span>
        </a>
      </li>

    </ul>
  </div>

  <div class="left_section">
    <h6 class="left_title">Apprenants</h6>
    <ul>
      <li class="menu--item">
        <a href="{% url 'dashboard:tutorials' %}" class="menu--link" title="Vos tutos">
          <i class='uil uil-user menu--icon'></i>
          <span class="menu--label">Tous les apprenants</span>
        </a>
      </li>
      <li class="menu--item">
        <a href="{% url 'dashboard:tutorials' %}" class="menu--link" title="Vos tutos">
          <i class='uil uil-user-check menu--icon'></i>
          <span class="menu--label">Apprenants enrollés</span>
        </a>
      </li>
      <li class="menu--item">
        <a href="{% url 'dashboard:tutorials' %}" class="menu--link" title="Vos tutos">
          <i class='uil uil-user-minus menu--icon'></i>
          <span class="menu--label">Apprenants non enrollés</span>
        </a>
      </li>

    </ul>
  </div>
  <div class="left_section">
    <h6 class="left_title">Logs</h6>
    <ul>
      <li class="menu--item">
        <a href="{% url 'dashboard:logs' %}" class="menu--link" title="Vos tutos">
          <i class='uil uil-bug menu--icon'></i>
          <span class="menu--label">Tous les logs</span>
        </a>
      </li>
    </ul>
  </div>


</ul>