{% load static %}

<div class="item">
  <div class="fcrse_1 mb-20">
    <div class="tutor_img">
      <a href="#"><img src="{% if teacher.avatar %} {{ teacher.avatar.url }} {% else %} {% static 'images/left-imgs/img-1.jpg' %}
          {% endif %}" alt="{{ teacher.title }}" alt="{{ teacher.title }}"></a>
    </div>
    <div class="tutor_content_dt">
      <div class="tutor150">
        <a href="#" class="tutor_name">{{ teacher.get_full_name|default_if_none:"Non renseigné" }}</a>
        <div class="mef78" title="Verify">
          <i class="uil uil-check-circle"></i>
        </div>
      </div>
      <div class="tutor_cate">{{ teacher.title|default_if_none:"Non renseigné"  }}</div>
      <ul class="tutor_social_links">
        <li><a href="#" class="fb"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="#" class="tw"><i class="fab fa-twitter"></i></a></li>
        <li><a href="#" class="ln"><i class="fab fa-linkedin-in"></i></a></li>
        <li><a href="#" class="yu"><i class="fab fa-youtube"></i></a></li>
      </ul>
      <div class="tut1250">
        <!-- <span class="vdt15">10 Étudiants</span> -->
        <span class="vdt15">{{ teacher.courses_created.count }} cours</span>
      </div>
    </div>
  </div>
</div>