<section class="bg-dark text-white py-8 w-full">
  <div class="container mx-auto px-8">
    <div class="table w-full">
      <div class="block sm:table-cell">
        <p class="uppercase text-grey text-sm sm:mb-6">Liens rapides</p>
        <ul class="list-reset text-xs mb-6">
          <li class="mt-2 inline-block mr-2 sm:block sm:mr-0">
            <a href="{% url 'courses' %}" class="text-grey hover-text-blue">Tutoriels</a>
          </li>
          <li class="mt-2 inline-block mr-2 sm:block sm:mr-0">
            <a href="{% url 'episodes' %}" class="text-grey hover-text-blue">Podcast</a>
          </li>
          <li class="mt-2 inline-block mr-2 sm:block sm:mr-0">
            <a href="{% url 'professional-training' %}" class="text-grey hover-text-blue">Formation</a>
          </li>
        </ul>
      </div>
      <div class="block sm:table-cell">
        <p class="uppercase text-grey text-sm sm:mb-6">Rejoignez-nous</p>
        <ul class="list-reset text-xs mb-6">
          <li class="mt-2 inline-block mr-2 sm:block sm:mr-0">
            <a href="{% url 'become-teacher' %}" class="text-grey hover-text-blue">Devenir Formateur</a>
          </li>
          <li class="mt-2 inline-block mr-2 sm:block sm:mr-0">
            <a href="{% url 'register' %}" class="text-grey hover-text-blue">Inscription</a>
          </li>
          <li class="mt-2 inline-block mr-2 sm:block sm:mr-0">
            <a href="{% url 'login' %}" class="text-grey hover-text-blue">Connexion</a>
          </li>
        </ul>
      </div>
      <div class="block sm:table-cell">
        <p class="uppercase text-grey text-sm sm:mb-6">Suivez-nous</p>
        <ul class="list-reset text-xs mb-6">
          <li class="mt-2 inline-block mr-2 sm:block sm:mr-0">
            <a href="https://web.facebook.com/xarala" class="text-grey hover-text-blue">Facebook</a>
          </li>
          <li class="mt-2 inline-block mr-2 sm:block sm:mr-0">
            <a href="https://www.linkedin.com/in/xarala221" class="text-grey hover-text-blue">Linkedin</a>
          </li>
          <li class="mt-2 inline-block mr-2 sm:block sm:mr-0">
            <a href="https://twitter.com/xarala221" class="text-grey hover-text-blue">Twitter</a>
          </li>
        </ul>
      </div>
      <div class="block sm:table-cell">
        <p class="uppercase text-grey text-sm sm:mb-6">La plateforme</p>
        <ul class="list-reset text-xs mb-6">
          <li class="mt-2 inline-block mr-2 sm:block sm:mr-0">
            <a href="{% url 'about' %}" class="text-grey hover-text-blue">Qui sommes nous ?</a>
          </li>
          <li class="mt-2 inline-block mr-2 sm:block sm:mr-0">
            <a href="{% url 'team' %}" class="text-grey hover-text-blue">L'equipe</a>
          </li>
          <li class="mt-2 inline-block mr-2 sm:block sm:mr-0">
            <a href="{% url 'community' %}" class="text-grey hover-text-blue">Communauté</a>
          </li>
          <li class="mt-2 inline-block mr-2 sm:block sm:mr-0">
            <a href="{% url 'contact' %}" class="text-grey hover-text-blue">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>