{% load static %}
<header class="bg-white">
  <div
    class="sm:p-2 p-6 container mx-auto flex flex-wrap items-center justify-between pl-0"
  >
    <a
      href="/"
      class="mb-6 md:mb-0 w-full text-center sm:text-center md:text-left md:w-auto font-display font-black text-3xl text-black uppercase"
    >
      <img
        src="{% static 'images/logo/logo.png' %}"
        alt="Logo Xarala"
        width="80"
        class="inline-block"
      />
    </a>

    <ul class="justify-center md:justify-end flex-1 flex list-reset">
      <li class="ml-4">
        <a
          href="{% url 'courses' %}"
          class="text-sm text-grey-800 no-underline hover:text-black"
          >Formation</a
        >
      </li>
      
      {% if request.user.is_authenticated %}
      <li class="ml-4">
        <a
          href="javascript:{document.getElementById('logout').submit()}"
          class="text-sm text-grey-800 no-underline hover:text-black"
          >Déconnexion</a
        >
      </li>
      <li class="ml-4">
        <a href="{% if user.user_type == "TC" %}{% url "created-courses" %} {% elif user.user_type == "ST" %}{% url "enrolled-courses" %} {% endif %}" class="text-sm bg-blue-600 text-white py-3 px-6"
          >Dashboard</a
        >
        <form action="{% url 'logout' %}" method="POST" id="logout">
          {% csrf_token %}
          <input type="hidden" />
        </form>

      </li>
      {% else %}
        
      <li class="ml-4">
        <a
          href="{% url 'login' %}"
          class="text-sm text-grey-800 no-underline hover:text-black"
          >Connexion</a
        >
      </li>
      <li class="ml-4">
        <a href="{% url 'register' %}" class="text-sm bg-blue-600 text-white py-3 px-6"
          >Inscription</a
        >
      </li>
      {% endif %}
        

    </ul>
  </div>
</header>
