{% extends "_base.html" %}
{% load static %}

{% block title %}
Parcours d'apprentissage
{% endblock title %}

{% block content %}

<section class="height-100vh flex-center">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="text-primary display-1">Boutique de Xarala</h1>
        <h2 class="mb-4">
          Sorry! <i class="fas fa-frown text-warning" aria-hidden="true"></i>
        </h2>
        <p>
          La page est en cours de conception.
        </p>
        <a href="/" class="btn btn-rounded btn-primary mt-5">Retour à la page d'accueil</a>
      </div>
    </div> <!-- END row-->
  </div> <!-- END container-->

</section>

{% endblock content %}