DATABASES = {
    "default": {
        "ENGINE": "django.db.backends.postgresql_psycopg2",
        "HOST": "localhost",
        "NAME": "<database-name>",
        "USER": "<database-user>",
        "PASSWORD": "<database-password>",
        "PORT": "5432",
    },
}

GOOGLE_RECAPTCHA_SECRET_KEY = ""
GOOGLE_RECAPTCHA_SITE_KEY = ""
SOCIAL_AUTH_GOOGLE_OAUTH2_KEY = ""
SOCIAL_AUTH_GOOGLE_OAUTH2_SECRET = ""