{% extends "_auth_base.html" %} {% load static %} {% block title %} Authentification {% endblock title %}
{% block content %} {% include "partials/_alerts.html" %}

<div class="col-lg-6 col-md-8">
  <div class="sign_form">
    <h2>Se connecter sur Xarala!</h2>
    <a href="{% url 'social:begin' 'google-oauth2' %}" class="text-light">
      <button class="social_lnk_btn color_btn_go">
        <i class="uil uil-google"></i>Continuez avec
        Google
      </button>

    </a>

    <a href="{% url 'login' %}?next={{ next|default_if_none:'/' }}" class="text-light">
      <button class="social_lnk_btn color_btn_fb   mt-15">
        <i class="uil uil-fast-mail"></i>Continuez avec
        votre email
      </button>
    </a>

  </div>
  {% include "_auth_footer.html" %}
</div>
{% endblock content %}


{% block extrajs %}
<script src='https://www.google.com/recaptcha/api.js?hl=fr'></script>
{% endblock extrajs %}