{% extends "_base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %}
{{ user }}
{% endblock title %}

{% block content %}

<div class="_216b01">
  <div class="container-fluid">
    <div class="row justify-content-md-center">
      <div class="col-md-10">
        <div class="section3125 rpt145">
          <div class="row">
            <div class="col-lg-7">
              <a href="#" class="_216b22">
                <span><i class="uil uil-cog"></i></span>Mon profil
              </a>
              <div class="dp_dt150">
                <div class="img148">
                  <img class="profile-pic" src="{% if user.avatar %} {{ user.avatar.url }}
            {% else %} {% static 'images/logo.png' %}
            {% endif %}" alt="{{ user.get_full_name }}">
                </div>
                <div class="prfledt1">
                  <h2>{{ user.get_full_name }}
                  </h2>
                  <span> {{ user.title|default_if_none:"Pas de titre" }}</span>
                </div>
              </div>
              <ul class="_ttl120">
                <li>
                  <div class="_ttl121">
                    <div class="_ttl122">Cours</div>
                    <div class="_ttl123">

                      {% if user.is_student %}
                      {{ user.courses_enrolled.count }}
                      {% endif %}

                      {% if user.is_teacher %}
                      {{ user.courses_created.count }}
                      {% endif %}

                    </div>
                  </div>
                </li>

                <!-- <li>
                  <div class="_ttl121">
                    <div class="_ttl122">Subscriptions</div>
                    <div class="_ttl123">452K</div>
                  </div>
                </li> -->
              </ul>
            </div>
            <div class="col-lg-5">
              <a href="#" class="_216b12">
                <span><i class="uil uil-cog"></i></span>Configuration
              </a>
              <div class="rgt-145">
                <ul class="tutor_social_links">
                  <li><a href="#" class="fb"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="#" class="tw"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="#" class="ln"><i class="fab fa-linkedin-in"></i></a></li>
                  <li><a href="#" class="yu"><i class="fab fa-youtube"></i></a></li>
                </ul>
              </div>
              <ul class="_bty149">
                <li><button class="studio-link-btn btn500" onclick="window.location.href = '/';">Studio</button></li>
                <li><button class="msg125 btn500" onclick="window.location.href = '#';">Modfier</button></li>
              </ul>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="_215b15">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="course_tabs">
          <nav>
            <div class="nav nav-tabs tab_crse" id="nav-tab" role="tablist">
              <a class="nav-item nav-link active" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab"
                aria-selected="true">A propos</a>
              <a class="nav-item nav-link" id="nav-courses-tab" data-toggle="tab" href="#nav-courses" role="tab"
                aria-selected="false">Cours</a>
              <a class="nav-item nav-link" id="nav-notification-tab" data-toggle="tab" href="#nav-notification"
                role="tab" aria-selected="false">Notifications</a>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="_215b17">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="course_tab_content">
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-about" role="tabpanel">
              <div class="_htg451">
                <div class="_htg452">
                  <h3>A propos</h3>
                  <p>{{ user.bio|safe }}.</p>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="nav-courses" role="tabpanel">
              <div class="crse_content">
                <h3>
                  Cours ({% if user.is_student %}
                  {{ user.courses_enrolled.count }}
                  {% endif %}

                  {% if user.is_teacher %}
                  {{ user.courses_created.count }}
                  {% endif %})
                </h3>
                <div class="_14d25">
                  <div class="row">
                    {% if user.is_student %}

                    {% for course in user.courses_enrolled.all %}
                    {% include "partials/_user_course-card.html" with course=course %}
                    {% endfor %}
                    {% endif %}

                    {% if user.is_teacher %}
                    {% for course in user.courses_created.all %}
                    {% include "partials/_user_course-card.html" with course=course %}
                    {% endfor %}
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade show" id="nav-notification" role="tabpanel">
              <div class="_htg451">
                <div class="_htg452">
                  <h3>Notifications</h3>
                  <div class="row">
                    <div class="col-md-9">
                      <p>Vos Notifications s'afficheront ici</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock content %}

{% block extrajs %}
<script>
  $(document).ready(function () {
    var readURL = function (input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
          $('.profile-pic').attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
      }
    }
    $(".file-upload").on('change', function () {
      readURL(this);
    });
    $(".upload-button").on('click', function () {
      $(".file-upload").click();
    });

    // update profile picture
    var $avatarForm = $('.avatar-form');
    $avatarForm.submit(function (event) {
      event.preventDefault();
      var files = $("#id_avatar")[0].files[0];
      var $formData = $avatarForm.serialize();
      var formData = new FormData()
      formData.append("csrfmiddlewaretoken", '{{ csrf_token }}')
      formData.append('avatar', files);
      var $thisURL = $avatarForm.attr('data-url') || window.loaction.href;
      $.ajax({
        method: 'POST',
        url: $thisURL,
        data: formData,
        contentType: false,
        processData: false,
        success: handleSuccess,
        error: handleError,
      });

      function handleSuccess(data) {
        console.log("succes", data)
        // $avatarForm[0].reset()
      }

      function handleError(ThrowError) {
        console.log("error", ThrowError)
      }
    });

    // update personal info
    var $personalInfoForm = $('.personal-info-form');
    $personalInfoForm.submit(function (event) {
      event.preventDefault();
      var $formData = $personalInfoForm.serialize();
      var $thisURL = $personalInfoForm.attr('data-url') || window.loaction.href;
      $.ajax({
        method: 'POST',
        url: $thisURL,
        data: $formData,
        success: handleSuccess,
        error: handleError,
      });

      function handleSuccess(data) {
        console.log("d", data)
        // $personalInfoForm[0].reset()
      }

      function handleError(ThrowError) {}
    });

    // update-password
    var $updatePasswordForm = $('.update-password');
    $updatePasswordForm.submit(function (event) {
      event.preventDefault();
      var $formData = $updatePasswordForm.serialize();
      var $thisURL = $updatePasswordForm.attr('data-url') || window.loaction.href;
      $.ajax({
        method: 'POST',
        url: $thisURL,
        data: $formData,
        success: handleSuccess,
        error: handleError,
      });

      function handleSuccess(data) {
        if (data.is_error) {
          alert(data.errors)
        }
        // $updatePasswordForm[0].reset()
      }

      function handleError(ThrowError) {}
    });

    // update-social
    var $updateSocialForm = $('.social-form');
    $updateSocialForm.submit(function (event) {
      event.preventDefault();
      var $formData = $updateSocialForm.serialize();
      var $thisURL = $updateSocialForm.attr('data-url') || window.loaction.href;
      $.ajax({
        method: 'POST',
        url: $thisURL,
        data: $formData,
        success: handleSuccess,
        error: handleError,
      });

      function handleSuccess(data) {
        if (data.is_error) {
          alert(data.errors)
        }
        // $updateSocialForm[0].reset()
      }

      function handleError(ThrowError) {}
    });

    // update-bio-form

    var $updateBioForm = $('.update-bio-form');
    $updateBioForm.submit(function (event) {
      event.preventDefault();
      var $formData = $updateBioForm.serialize();
      var $thisURL = $updateBioForm.attr('data-url') || window.loaction.href;
      $.ajax({
        method: 'POST',
        url: $thisURL,
        data: $formData,
        success: handleSuccess,
        error: handleError,
      });

      function handleSuccess(data) {
        if (data.is_error) {
          alert(data.errors)
        }
        // $updateSocialForm[0].reset()
      }

      function handleError(ThrowError) {}
    });

    // tanle
    // Activate tooltip
    $('[data-toggle="tooltip"]').tooltip();

    // Select/Deselect checkboxes
    var checkbox = $('table tbody input[type="checkbox"]');
    $("#selectAll").click(function () {
      if (this.checked) {
        checkbox.each(function () {
          this.checked = true;
        });
      } else {
        checkbox.each(function () {
          this.checked = false;
        });
      }
    });
    checkbox.click(function () {
      if (!this.checked) {
        $("#selectAll").prop("checked", false);
      }
    });

  });
</script>
{% endblock extrajs %}