{% extends "_base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block extrastyle %}
<style>

</style>
{% endblock extrastyle %}

{% block title %}
{{ user }}
{% endblock title %}

{% block content %}

{% include "partials/_second-breadcrumbs.html" with previous="Dashbord" previous_url="dashboard:dashboard" current="Profile" text=user.get_full_name|default_if_none:user.email %}

<section class="paddingTop-50 paddingBottom-120 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 mt-4">
        <div class="card shadow-v1">
          <div class="card-header text-center border-bottom pt-5 mb-4">
            <img class="rounded-circle mb-4 profile-pic" src="
            {% if user.avatar %} {{ user.avatar.url }}
            {% else %} {% static 'assets/img/262x230/6.jpg' %}
            {% endif %}
            " width="200" height="200" alt="{{ user }}">
            <h4>
              {{ user.get_full_name }}
            </h4>
            <p>
              {{ user.title|default_if_none:"Pas de titre" }}
            </p>
            <ul class="list-inline mb-0">
              <li class="list-inline-item m-2">
                <i class="ti-user text-primary"></i>
                <span class="d-block">Quiz</span>
                <span class="h6">0</span>
              </li>
              <li class="list-inline-item m-2">
                <i class="ti-book text-primary"></i>
                <span class="d-block">Cours</span>
                <span class="h6">{{ courses.count }}</span>
              </li>
              <li class="list-inline-item m-2">
                <i class="ti-star text-primary"></i>
                <span class="d-block">Projets</span>
                <span class="h6">0</span>
              </li>
            </ul>
          </div>
          <div class="card-body border-bottom">
            <ul class="list-unstyled">
              <li class="mb-3">
                <span class="d-block">Email:</span>
                <a class="h6" href="mailto:{{ user.email }}">{{ user.email }}</a>
              </li>
              <li class="mb-3">
                <span class="d-block">Phone:</span>
                <h6 class="h6">{{ user.phone }}</h6>
              </li>
              <li class="mb-3">
                <span class="d-block">Adresse:</span>
                <h6 class="h6">{{ user.address }}</h6>
              </li>
            </ul>
          </div>
          <div class="card-footer">
            <p>
              Réseaux Sociaux:
            </p>
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <a href="{{ user.facebook }}" class="btn btn-outline-facebook iconbox iconbox-sm">
                  <i class="ti-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="{{ user.twitter }}" class="btn btn-outline-twitter iconbox iconbox-sm">
                  <i class="ti-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="{{ user.github }}" class="btn btn-outline-google-plus iconbox iconbox-sm">
                  <i class="ti-github"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="{{ user.linkedin }}" class="btn btn-outline-linkedin iconbox iconbox-sm">
                  <i class="ti-linkedin"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div> <!-- END col-md-4 -->
      <div class="col-lg-8 mt-4">
        <div class="card shadow-v1 padding-30">
          <ul class="nav tab-line tab-line border-bottom mb-4" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#Tabs_1-1" role="tab" aria-selected="true">
                <i class="ti-user mr-1"></i> À propos
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#Tabs_1-2" role="tab" aria-selected="true">
                <i class="ti-blackboard mr-1"></i> Cours
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#Tabs_1-6" role="tab" aria-selected="true">
                <i class="ti-help mr-1"></i> Quiz
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#Tabs_1-4" role="tab" aria-selected="true">
                <i class="ti-info mr-1"></i> Annonces
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#Tabs_1-5" role="tab" aria-selected="true">
                <i class="ti-settings mr-1"></i> Configuration
              </a>
            </li>
          </ul>

          <div class="tab-content">
            <div class="tab-pane fade show active" id="Tabs_1-1" role="tabpanel">
              <h4>
                Biographie
              </h4>
              <p>
                {{ user.bio }}
              </p>
            </div>
            <div class="tab-pane fade" id="Tabs_1-2" role="tabpanel">
              <div class="row">

                {% if user.is_student %}
                {% include "partials/_student-course-table.html" with courses=courses %}
                {% elif user.is_teacher %}
                {% include "partials/_teacher-course-table.html" with courses=courses %}
                {% endif %}

              </div>
            </div> <!-- END tab-pane -->
            <div class="tab-pane fade" id="Tabs_1-6" role="tabpanel">
              <div class="row">
                <p class="text-primary">En cours de conception</p>
              </div>
            </div>
            <div class="tab-pane fade" id="Tabs_1-4" role="tabpanel">
              <p class="text-primary">En cours de conception</p>
            </div>

            <div class="tab-pane fade" id="Tabs_1-5" role="tabpanel">
              <div class="border-bottom mb-4 pb-4">
                <div class="media align-items-end mt-4">
                  <form class="avatar-form" method="POST" enctype="multipart/form-data"
                    data-url="{% url 'update-profile-image' %}">
                    {% csrf_token %}
                    <div class="position-relative">
                      {{ avatar_form.avatar|as_crispy_field }}
                      <img
                        src="{% if user.avatar %}{{ user.avatar.url }}{% else %}{% static 'assets/img/placeholder-1.jpg' %}{% endif %}"
                        class="profile-pic rounded-circle" alt="{{ user }}" width="200" height="200">
                    </div>
                    <div class="media-body ml-4 mb-4 mb-md-0">
                      <p>
                        Recommandation : JPG ou PNG 200x200 px
                      </p>
                      <button type="submit" class="btn btn-sm btn-outline-primary update-avatar">
                        Enrégistrer
                      </button>
                    </div>

                  </form>

                </div>
              </div>

              <div class="border-bottom mb-4 pb-4">
                <h4 class="mb-4">
                  Informations personnelles
                </h4>
                <form method="POST" data-url="{% url 'update-personal-info' %}" class="personal-info-form">
                  <div class="form-group">
                    {{ form|crispy }}
                  </div>
                  <button type="submit" class="btn btn-sm btn-primary">Enrégistrer</button>
                </form>

              </div>

              <div class="border-bottom mb-4 pb-4">
                <h4 class="mb-4">
                  les paramètres de sécurité
                </h4>
                <form class="update-password" method="POST" data-url="{% url 'update-password' %}">
                  <div class="form-group">
                    {{ password_form.old_password|as_crispy_field }}
                  </div>
                  <div class="form-group">
                    {{ password_form.new_password1|as_crispy_field }}
                    <small id="hint_id_new_password1" class="form-text text-muted">
                      <ul>
                        <li>Votre mot de passe ne peut pas être trop similaire à vos autres informations personnelles.
                        </li>
                        <li>Votre mot de passe doit contenir au moins 8 caractères.</li>
                        <li>Votre mot de passe ne peut pas être un mot de passe couramment utilisé.</li>
                        <li>Votre mot de passe ne peut pas être entièrement numérique.</li>
                      </ul>
                    </small>
                  </div>
                  <div class="form-group">
                    {{ password_form.new_password2|as_crispy_field }}
                  </div>
                  <button type="submit" class="btn btn-sm btn-primary">Enrégistrer</button>
                </form>
              </div>

              <div class="border-bottom mb-4 pb-4">
                <h4 class="mb-4">
                  Réseaux sociaux
                </h4>

                <form method="POST" data-url="{% url 'update-social' %}" class="social-form">
                  <div class="form-group">
                    {{ social_form|crispy }}
                  </div>
                  <button type="submit" class="btn btn-sm btn-primary">Enrégistrer</button>
                </form>

              </div>

              <div class="border-bottom mb-4 pb-4">
                <h4 class="mb-4">
                  Biographie
                </h4>
                <form method="post" class="update-bio-form" data-url="{% url 'update-bio' %}">
                  {% csrf_token %}
                  <div class="form-group">
                    {{ bio_form|crispy }}
                  </div>
                  <button type="submit" class="btn btn-sm btn-primary">Enrégistrer</button>
                </form>
              </div>
            </div> <!-- END tab-pane -->
          </div> <!-- END tab-content-->
        </div> <!-- END card-->
      </div> <!-- END col-md-8 -->
    </div>
    <!--END row-->
  </div>
  <!--END container-->
</section>

{% endblock content %}

{% block extrajs %}
<script>
  $(document).ready(function () {
    var readURL = function (input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
          $('.profile-pic').attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
      }
    }
    $(".file-upload").on('change', function () {
      readURL(this);
    });
    $(".upload-button").on('click', function () {
      $(".file-upload").click();
    });

    // update profile picture
    var $avatarForm = $('.avatar-form');
    $avatarForm.submit(function (event) {
      event.preventDefault();
      var files = $("#id_avatar")[0].files[0];
      var $formData = $avatarForm.serialize();
      var formData = new FormData()
      formData.append("csrfmiddlewaretoken", '{{ csrf_token }}')
      formData.append('avatar', files);
      var $thisURL = $avatarForm.attr('data-url') || window.loaction.href;
      $.ajax({
        method: 'POST',
        url: $thisURL,
        data: formData,
        contentType: false,
        processData: false,
        success: handleSuccess,
        error: handleError,
      });

      function handleSuccess(data) {
        console.log("succes", data)
        // $avatarForm[0].reset()
      }

      function handleError(ThrowError) {
        console.log("error", ThrowError)
      }
    });

    // update personal info
    var $personalInfoForm = $('.personal-info-form');
    $personalInfoForm.submit(function (event) {
      event.preventDefault();
      var $formData = $personalInfoForm.serialize();
      var $thisURL = $personalInfoForm.attr('data-url') || window.loaction.href;
      $.ajax({
        method: 'POST',
        url: $thisURL,
        data: $formData,
        success: handleSuccess,
        error: handleError,
      });

      function handleSuccess(data) {
        console.log("d", data)
        // $personalInfoForm[0].reset()
      }

      function handleError(ThrowError) {}
    });

    // update-password
    var $updatePasswordForm = $('.update-password');
    $updatePasswordForm.submit(function (event) {
      event.preventDefault();
      var $formData = $updatePasswordForm.serialize();
      var $thisURL = $updatePasswordForm.attr('data-url') || window.loaction.href;
      $.ajax({
        method: 'POST',
        url: $thisURL,
        data: $formData,
        success: handleSuccess,
        error: handleError,
      });

      function handleSuccess(data) {
        if (data.is_error) {
          alert(data.errors)
        }
        // $updatePasswordForm[0].reset()
      }

      function handleError(ThrowError) {}
    });

    // update-social
    var $updateSocialForm = $('.social-form');
    $updateSocialForm.submit(function (event) {
      event.preventDefault();
      var $formData = $updateSocialForm.serialize();
      var $thisURL = $updateSocialForm.attr('data-url') || window.loaction.href;
      $.ajax({
        method: 'POST',
        url: $thisURL,
        data: $formData,
        success: handleSuccess,
        error: handleError,
      });

      function handleSuccess(data) {
        if (data.is_error) {
          alert(data.errors)
        }
        // $updateSocialForm[0].reset()
      }

      function handleError(ThrowError) {}
    });

    // update-bio-form

    var $updateBioForm = $('.update-bio-form');
    $updateBioForm.submit(function (event) {
      event.preventDefault();
      var $formData = $updateBioForm.serialize();
      var $thisURL = $updateBioForm.attr('data-url') || window.loaction.href;
      $.ajax({
        method: 'POST',
        url: $thisURL,
        data: $formData,
        success: handleSuccess,
        error: handleError,
      });

      function handleSuccess(data) {
        if (data.is_error) {
          alert(data.errors)
        }
        // $updateSocialForm[0].reset()
      }

      function handleError(ThrowError) {}
    });

    // tanle
    // Activate tooltip
    $('[data-toggle="tooltip"]').tooltip();

    // Select/Deselect checkboxes
    var checkbox = $('table tbody input[type="checkbox"]');
    $("#selectAll").click(function () {
      if (this.checked) {
        checkbox.each(function () {
          this.checked = true;
        });
      } else {
        checkbox.each(function () {
          this.checked = false;
        });
      }
    });
    checkbox.click(function () {
      if (!this.checked) {
        $("#selectAll").prop("checked", false);
      }
    });

  });
</script>
{% endblock extrajs %}