{% extends "_auth_base.html" %}
{% load static %}

{% block title %}
Authentification
{% endblock title %}


{% block content %}
{% include "partials/_alerts.html" %}

<div class="col-lg-6 col-md-8">
  <div class="sign_form">
    <h2>Bienvenue chez Xarala</h2>
    <p>Inscrivez-vous et commencez à apprendre!</p>
    <form method="POST">
      {% csrf_token %}
      <div class="ui search focus">
        <div class="ui left icon input swdh11 swdh19">
          <input class="prompt srch_explore" type="text" name="first_name" required placeholder="Prénom">
        </div>
      </div>
      <div class="ui search focus mt-15">
        <div class="ui left icon input swdh11 swdh19">
          <input class="prompt srch_explore" type="text" name="last_name" required placeholder="Nom de famille">
        </div>
      </div>
      <div class="ui search focus mt-15">
        <div class="ui left icon input swdh11 swdh19">
          <input class="prompt srch_explore" type="email" name="email" required placeholder="Email">
        </div>
      </div>
      <div class="ui search focus mt-15">
        <div class="ui left icon input swdh11 swdh19">
          <input class="prompt srch_explore" type="password" name="password" required placeholder="Mot de passe">
        </div>
      </div>
      <div class="ui search focus mt-15">
        <div class="ui left icon input swdh11 swdh19">
          <input class="prompt srch_explore" type="password" name="password2" required
            placeholder="Confirmation du mot de passe">
        </div>
      </div>
      <div class="ui form mt-30 checkbox_sign">
        <div class="inline field">
          <div class="ui checkbox mncheck">
            <input type="checkbox" tabindex="0" class="hidden" name="is_teacher">
            <label>Je suis formateur</label>
          </div>
        </div>
      </div>

      <button class="login-btn" type="submit">Valider</button>
    </form>
    <p class="sgntrm145"> En vous inscrivant, vous acceptez <a href="{% url 'pages:privacy_policy' %}">nos conditions
        d'utilisation</a></p>
    <p class="mb-0 mt-30">Déja membre? <a href="{% url 'login' %}?next={{ next|default_if_none:'/' }}">Connexion</a></p>
  </div>
  {% include "_auth_footer.html" %}
</div>

{% endblock content %}