{% extends "_auth_base.html" %}
{% load static %}

{% block title %}
Authentification
{% endblock title %}


{% block content %}
{% include "partials/_alerts.html" %}

<div class="col-lg-6 col-md-8">

  <div class="sign_form">
    <h2>Obtenez votre mot de passe</h2>
    <form method="POST">
      {% csrf_token %}
      <div class="ui search focus mt-50">
        <div class="ui left icon input swdh95">
          <input class="prompt srch_explore" type="email" name="email" required placeholder="Email">
          <i class="uil uil-envelope icon icon2"></i>
        </div>
      </div>
      <button class="login-btn" type="submit">Réinitialiser le mot de passe</button>
    </form>
    <p class="mb-0 mt-30">Retour <a href="{% url 'login' %}?next={{ next|default_if_none:'/' }}">Se connecter</a></p>
  </div>
  {% include "_auth_footer.html" %}
</div>
{% endblock content %}