{% extends "_auth_base.html" %}
{% load static %}

{% block title %}
Authentification
{% endblock title %}


{% block content %}
{% include "partials/_alerts.html" %}

<div class="col-lg-6 col-md-8">

  <div class="sign_form">
    <h2>E-mail de réinitialisation envoyé</h2>

    <p>
      Vous allez recevoir sous peu un message. <br>
      Celui-ci contient un lien de vérification qui vous permettra de
      changer de mot de passe.
    </p>
    <a class="btn btn-danger" href="/">Page d'accueil</a>

  </div>
  {% include "_auth_footer.html" %}
</div>
{% endblock content %}