{% extends "_auth_base.html" %}
{% load static %}

{% block title %}
Authentification
{% endblock title %}


{% block content %}


<div class="col-lg-6 col-md-8">
  <div class="sign_form">
    <h2>Changement du mot de passe</h2>
    {% include "partials/_alerts.html" %}
    <form method="POST">
      {% csrf_token %}
      <div class="ui search focus mt-15">
        <div class="ui left icon input swdh95">
          <input class="prompt srch_explore" type="password" name="password1" required
            placeholder="Nouveau Mot de passe">
          <i class="uil uil-key-skeleton-alt icon icon2"></i>
        </div>
      </div>
      <div class="ui search focus mt-15">
        <div class="ui left icon input swdh95">
          <input class="prompt srch_explore" type="password" name="password2" required
            placeholder="Confirmation du Mot de passe">
          <i class="uil uil-key-skeleton-alt icon icon2"></i>
        </div>
      </div>
      <button class="login-btn" type="submit">Changer</button>
    </form>
  </div>
  {% include "_auth_footer.html" %}
</div>
{% endblock content %}