{% extends "_base.html" %}
{% load static %}

{% block title %}
Reinitialiation de mot de passe
{% endblock title %}


{% block content %}

<section class="padding-y-100 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mx-auto">
        <div class="card shadow-v2">
          <div class="card-header px-lg-5 border-bottom">
            <h4 class="mt-4">
              Obtenez votre mot de passe
            </h4>
          </div>
          <div class="card-body">
            <form method="POST" class="px-lg-5">
              {% csrf_token %}
              <p class="marginBottom-40">
                Mot de passe perdu? Veuillez saisir votre adresse e-mail. Vous recevrez un lien pour créer un nouveau
                mot de passe
                par email.
              </p>
              <div class="input-group input-group--focus marginBottom-40">
                <div class="input-group-prepend">
                  <span class="input-group-text bg-white ti-email"></span>
                </div>
                <input type="email" name="email" class="form-control border-left-0 pl-0" placeholder="Email" required>
              </div>
              <button class="btn btn-block btn-primary mb-5">Réinitialiser le mot de passe</button>
            </form>
          </div>
        </div>
      </div>
    </div> <!-- END row-->
  </div> <!-- END container-->
</section>

{% endblock content %}