/* course page */
.active-course {
  background-color: #10a8e5ff;
}
.active-course a {
  color: #ffffff;
}

/* community page */

.social-three li {
  margin: 0 -1px -1px 0;
}

.bg-facebook {
  background-color: #3b5998 !important;
  color: #fff;
}

.bg-twitter {
  background-color: #00aced;
  color: #fff;
}

.bg-instagram {
  background-color: #b300ad;
  color: #fff;
}

.bg-youtube {
  background-color: #bd0000;
  color: #fff;
}

.bg-discord {
  background-color: #2c2f33;
  color: #fff;
}

.bg-github {
  background-color: #4078c0;
  color: #fff;
}
