{% extends "_base.html" %}

{% block title %}
Page non trouvée
{% endblock title %}

{% block content %}

<div class="new-section">
  <div class="_215b15">
    <section class="height-100vh flex-center">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h1 class="text-primary display-1">404</h1>
            <h2 class="mb-4">
              Sorry! Page Non trouvée <i class="fas fa-frown text-warning" aria-hidden="true"></i>
            </h2>
            <p>
              Le lien que vous avez suivi est probablement rompu ou la page a été supprimée.
            </p>
            <a href="/" class="btn btn-rounded btn-primary mt-5">Retour à la page d'accueil</a>
          </div>
        </div> <!-- END row-->
      </div> <!-- END container-->

    </section>

  </div>
</div>
{% endblock content %}