{% extends "_base.html" %}

{% block title %}
500
{% endblock title %}

{% block content %}
<section class="height-100vh flex-center">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="text-primary display-1">500</h1>
        <h2 class="mb-4">
          Something went wrong 😭
        </h2>
        <a href="/" class="btn btn-rounded btn-primary mt-5">Retour à la page d'accueil</a>
      </div>
    </div> <!-- END row-->
  </div> <!-- END container-->

</section>
{% endblock content %}