<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
     <!-- Global site tag (gtag.js) - Google Analytics -->
     <script async src="https://www.googletagmanager.com/gtag/js?id=UA-143511541-1"></script>
     <script>
         window.dataLayer = window.dataLayer || [];
 
         function gtag() {
             dataLayer.push(arguments);
         }
         gtag('js', new Date());
 
         gtag('config', 'UA-143511541-1');
     </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %} Accueil {% endblock title %} | Xarala Academy
    </title>
    <meta
      name="description"
      content="xarala Academy - Cours en ligne - La technologie dans votre langue"
    />
    <link rel="stylesheet" type="text/css" href="{% static 'css/all.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}" />
    {% block style %}

    {% endblock style %}
    <!-- favicon -->
    <link rel="icon" href="{% static 'images/logo/logo.png' %}" sizes="32x32" />
    <link
      rel="icon"
      href="{% static 'images/logo/logo.png' %}"
      sizes="192x192"
    />
    <link
      rel="apple-touch-icon-precomposed"
      href="{% static 'images/logo/logo.png' %}"
    />
  </head>

  <body class="font-sans">
    <div class="container mx-auto">
      
      {% block header %}
      {% include "partials/_navbar.html" %}
      {% endblock header %}
        
      <!-- Put the sections here -->
      <!--  -->
      {% block banner %}

      {% include "partials/_heros_message.html" %}
      
      {% endblock banner %}
     
      
      <div class="container mx-auto ">
        {% block content %}

        {% endblock content %}
      </div>
      <!--  -->
      <!-- {% include "partials/newsletter.html" %} -->
      <!--  -->
      {% include "partials/footer.html" %}

      <div class="bg-dark text-white text-center text-sm py-6">
        <p>Copyright &copy; 2020 Xarala.</p>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine-ie11.min.js" defer></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
 
    {% block extrajs %}

    {% endblock %}

  </body>
</html>
