<!DOCTYPE html>

<html lang="fr">
{% load static %}

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-143511541-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-143511541-1');
  </script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, shrink-to-fit=9">
  <meta name="description" content="Xarala Academy La technologie dans votre langue">
  <meta name="keywords"
    content="Xarala Academy, Xarala, Apprendre à coder, Apprendre Python, Formation Xarala, Formation Python">
  <meta name="author" content="xarala">
  <title> Xarala Academy |
    {% block title %} Accueil, Cours en ligne - La technologie dans votre langue
    {% endblock title %}</title>

  <!-- Favicon Icon -->
  <link rel="icon" type="image/png" href="{% static 'images/logo.png' %}">

  <!-- Stylesheets -->
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet'>
  <link href='{% static "vendor/unicons-2.0.1/css/unicons.css" %}' rel='stylesheet'>
  <link href="{% static 'css/vertical-responsive-menu.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <link href="{% static 'css/responsive.css' %}" rel="stylesheet">
  <link href="{% static 'css/night-mode.css' %}" rel="stylesheet">

  <!-- Vendor Stylesheets -->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/OwlCarousel/assets/owl.carousel.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/OwlCarousel/assets/owl.theme.default.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'vendor/semantic/semantic.min.css' %}">
  <link href="{% static 'css/custom.css' %}" rel="stylesheet">
  {% block extrastyle %} {% endblock extrastyle %}
</head>

<body>
  <!-- Header Start -->
  {% include "partials/_header.html" %}
  <!-- Header End -->
  <!-- Left Sidebar Start -->
  <nav class="vertical_nav">
    <div class="left_section menu_left" id="js-menu">
      <div class="left_section">
        <ul>

          {% if user.is_authenticated %}
          <li class="menu--item">
            <a href="{% url 'dashboard:dashboard' %}"
              class="menu--link {% if 'dashboard' in request.path %} active {% endif %}" title="Tableau de Bord">
              <i class='uil uil-dashboard menu--icon'></i>
              <span class="menu--label">Tableau de Bord</span>
            </a>
          </li>
          {% endif %}

          <div class="left_section">
            <h6 class="left_title">La plateforme</h6>
            <ul>
              <li class="menu--item">
                <a href="{% url 'course:courses' %}" class="menu--link" title="Cours">

                  <i class='uil uil-video menu--icon'></i>
                  <span class="menu--label">Cours</span>
                </a>
              </li>
              <li class="menu--item">
                <a href="{% url 'blog:posts' %}" class="menu--link" title="Tutoriels">

                  <i class='uil uil-book-reader menu--icon'></i>
                  <span class="menu--label">Tutoriels</span>
                </a>
              </li>
              <li class="menu--item">
                <a href="{% url 'search:explorer' %}" class="menu--link" title="Explorer">
                  <i class='uil uil-search menu--icon'></i>
                  <span class="menu--label">Explorer</span>
                </a>
              </li>
              <!-- <li class="menu--item menu--item__has_sub_menu">
                <label class="menu--link" title="Categories">
                  <i class='uil uil-layers menu--icon'></i>
                  <span class="menu--label">Catégories</span>
                </label>
                <ul class="sub_menu">
                  <li class="sub_menu--item">
                    <a href="#" class="sub_menu--link">Development</a>
                  </li>
                  <li class="sub_menu--item">
                    <a href="#" class="sub_menu--link">Business</a>
                  </li>
                  <li class="sub_menu--item">
                    <a href="#" class="sub_menu--link">Finance & Accounting</a>
                  </li>
                  <li class="sub_menu--item">
                    <a href="#" class="sub_menu--link">IT & Software</a>
                  </li>
                  <li class="sub_menu--item">
                    <a href="#" class="sub_menu--link">Office Productivity</a>
                  </li>
                  <li class="sub_menu--item">
                    <a href="#" class="sub_menu--link">Personal Development</a>
                  </li>
                  <li class="sub_menu--item">
                    <a href="#" class="sub_menu--link">Design</a>
                  </li>
                  <li class="sub_menu--item">
                    <a href="#" class="sub_menu--link">Marketing</a>
                  </li>
                  <li class="sub_menu--item">
                    <a href="#" class="sub_menu--link">Lifestyle</a>
                  </li>
                  <li class="sub_menu--item">
                    <a href="#" class="sub_menu--link">Photography</a>
                  </li>
                  <li class="sub_menu--item">
                    <a href="#" class="sub_menu--link">Health & Fitness</a>
                  </li>
                  <li class="sub_menu--item">
                    <a href="#" class="sub_menu--link">Music</a>
                  </li>
                  <li class="sub_menu--item">
                    <a href="#" class="sub_menu--link">Teaching & Academics</a>
                  </li>
                </ul>
              </li> -->
            </ul>
          </div>

        </ul>
      </div>


      <div class="left_section pt-2">
        <ul>
          <li class="menu--item">
            <a href="{% url 'pages:about' %}" class="menu--link" title="Setting">
              <i class='uil uil-cog menu--icon'></i>
              <span class="menu--label">A propos</span>
            </a>
          </li>
          <li class="menu--item">
            <a href="#" class="menu--link" title="Help">
              <i class='uil uil-question-circle menu--icon'></i>
              <span class="menu--label">Aide</span>
            </a>
          </li>
          <li class="menu--item">
            <a href="{% url 'pages:contact' %}" class="menu--link" title="Feedback">
              <i class='uil uil-windsock menu--icon'></i>
              <span class="menu--label">Feedback</span>
            </a>
          </li>
          <!-- <li class="menu--item">
            <a href="feedback.html" class="menu--link" title="Send Feedback">
              <i class='uil uil-comment-alt-exclamation menu--icon'></i>
              <span class="menu--label">Send Feedback</span>
            </a>
          </li> -->
        </ul>
      </div>
      <div class="left_footer">
        <ul>
          <li><a href="{% url 'pages:about' %}">A propos</a></li>
          <li><a href="{% url 'pages:contact' %}">Nous contacter</a></li>
        </ul>
        <div class="left_footer_content">
          <p>© 2021 <strong>Xarala</strong>. Tous droits réservés.</p>
        </div>
      </div>
    </div>
  </nav>
  <!-- Left Sidebar End -->
  <!-- Body Start -->
  <div class="wrapper">

    <div class="sa4d25">
      <div class="container-fluid">
        {% include "partials/_alerts.html" %}
        {% if user.is_authenticated and not user.has_usable_password %}
        <div class="text-center pt-4 mt-4">
          <div class="alert alert-danger" role="alert">
            <a href="{% url 'oauth-new-password' %}" class="text-danger">Cliquez ici pour ajouter un mot de
              passe</a>
          </div>
        </div>
        {% else %}

        {% endif %}
        <div class="row">
          <div class="col-xl-9 col-lg-8">

            {% block content %}

            {% endblock content %}

          </div>
          <div class="col-xl-3 col-lg-4">
            <div class="right_side">

              {% if user.is_authenticated %}
              <div class="fcrse_2 mb-30">
                <div class="tutor_img">
                  <a href="{% url 'profile' %}"><img src="{% if user.avatar %} {{ user.avatar.url }}
            {% else %} {% static 'assets/img/262x230/6.jpg' %}
            {% endif %}" alt=""></a>
                </div>
                <div class="tutor_content_dt">
                  <div class="tutor150">
                    <a href="{% url 'profile' %}" class="tutor_name">{{ user.get_full_name }}</a>
                    <div class="mef78" title="Verify">
                      <i class="uil uil-check-circle"></i>
                    </div>
                  </div>
                  <div class="tutor_cate">{{ user.title|default_if_none:"Pas de titre" }}</div>
                  <ul class="tutor_social_links">
                    <li><a href="#" class="fb"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#" class="tw"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#" class="ln"><i class="fab fa-linkedin-in"></i></a></li>
                    <li><a href="#" class="yu"><i class="fab fa-youtube"></i></a></li>
                  </ul>
                  <div class="tut1250">
                    <span class="vdt15">
                      {% if user.is_student %}
                      {{ user.courses_enrolled.count }}
                      {% endif %}
                      {% if user.is_teacher %}
                      {{ user.courses_created.count }}
                      {% endif %}
                      Cours
                    </span>
                  </div>
                  <a href="{% url 'profile' %}" class="prfle12link">Mon profil</a>
                </div>
              </div>
              {% endif %}

              <div class="strttech120">
                <h4>Devenir instructeur</h4>
                <p>Les meilleurs formateurs enseignent à des milliers d'étudiants sur Xarala.co. Nous
                  fournissons les outils et les compétences pour enseigner ce que vous aimez.</p>
                <button class="Get_btn" onclick="window.location.href = '#';">Commencer à enseigner</button>
              </div>
              <div class="get1452">
                <h4>Nos recommandations</h4>
                <p>Répondez à quelques questions pour vos meilleurs choix</p>
                <button class="Get_btn">
                  <a href="http://bit.ly/3dF5JsF" target="_blank" class="text-light">Commencer</a>
                </button>
              </div>
              <div class="fcrse_3">
                <div class="cater_ttle">
                  <h4>Top Catégories</h4>
                </div>
                <ul class="allcate15">
                  <li><a href="#" class="ct_item"><i class='uil uil-arrow'></i>Development</a></li>
                  <li><a href="#" class="ct_item"><i class='uil uil-graph-bar'></i>Business</a></li>
                  <li><a href="#" class="ct_item"><i class='uil uil-monitor'></i>IT and Software</a></li>
                  <li><a href="#" class="ct_item"><i class='uil uil-ruler'></i>Design</a></li>
                  <li><a href="#" class="ct_item"><i class='uil uil-chart-line'></i>Marketing</a></li>
                  <li><a href="#" class="ct_item"><i class='uil uil-book-open'></i>Personal Development</a></li>
                  <li><a href="#" class="ct_item"><i class='uil uil-camera'></i>Photography</a></li>
                  <li><a href="#" class="ct_item"><i class='uil uil-music'></i>Music</a></li>
                </ul>
              </div>

            </div>
          </div>
          <!-- testimonials -->
        </div>
      </div>
    </div>
    {% include "partials/_footer.html" %}
  </div>

  <script src="{% static 'js/vertical-responsive-menu.min.js' %}"></script>
  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/OwlCarousel/owl.carousel.js' %}"></script>
  <script src="{% static 'vendor/semantic/semantic.min.js' %}"></script>
  <script src="{% static 'js/custom.js' %}"></script>
  <script src="{% static 'js/night-mode.js' %}"></script>
  {% block extrajs %} {% endblock extrajs %}
</body>

</html>