<!doctype html>
{% load static %}

<html class="no-js" lang="en-US">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-143511541-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-143511541-1');
    </script>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> xarala Academy -
        {% block title %}
        Cours en ligne, La technologie dans votre langue
        {% endblock %} | Xarala
    </title>
    <meta name="description" content="xarala Academy - Cours en ligne - La technologie dans votre langue">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- favicon -->
    <link rel="icon" href="{% static 'images/logo/logo.png' %}" sizes="32x32">
    <link rel="icon" href="{% static 'images/logo/logo.png' %}" sizes="192x192">
    <link rel="apple-touch-icon-precomposed" href="{% static 'images/logo/logo.png' %}">


    <!-- Import Template Icons CSS Files -->
    <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/simple-line-icons.css' %}">

    <!-- Import Bootstrap CSS File -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">

    <!-- Import Owl Carousel CSS File -->

    <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">

    <!-- TimeTo Countdown CSS Files -->
    <link rel="stylesheet" href="{% static 'assets/css/timeTo.css' %}">

    <!-- Import Template's CSS Files -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">


</head>


<body>
    {% include 'partials/header.html' %}
    {% include 'partials/alerts.html' %}

    {% block banner %}
    <section class="banner-section banner-01 background-bg" data-image-src="{% static 'images/banner/5.jpg' %}">
        <div class="overlay">
            <div class="section-padding">
                <div class="container">
                    <div class="banner-texts text-center">
                        <h6 class="sub-title mb-2">La technologie dans votre langue.</h6>
                        <h2 class="banner-title mb-5">Commencez à apprendre</h2>

                        <a href="#" class="btn btn-lg mt-2 banner-btn">J'en profite</a>
                    </div><!-- /.banner-texts -->
                </div><!-- /.container -->
            </div><!-- /.section-padding -->
        </div><!-- /.overlay -->
    </section><!-- /.banner-section -->
    {% endblock %}




    <!-- content -->

    {% block content %}

    <section class="popular-courses">
        <div class="section-padding">
            <div class="container">
                <div class="top-content">
                    <div class="left-content float-left">
                        <h2 class="section-title">Formation populaire</h2>
                        <p>Les compétences les plus attendues</p>
                    </div><!-- /.left-content -->

                    <div class="owl-controls float-right"></div><!-- /.owl-controls -->
                </div><!-- /.top-content -->

                <div class="course-items with-slider">
                    <div id="course-slider" class="course-slider owl-carousel">
                        <div class="item">
                            <div class="item-thumb">
                                <img src="{% static 'images/popular/1.jpg' %}" alt="Item Thumbnail">
                                <div class="avatar"><img class="rounded-circle" src="{% static 'images/avatar/1.png' %}"
                                        alt="Avatar Image"></div><!-- /.avatar -->
                            </div><!-- /.item-thumb -->
                            <div class="item-details">
                                <h3 class="item-title"><a href="course-single-01.html">Python Bootcamp: Go from zero to
                                        hero
                                        in Python</a></h3><!-- /.item-title -->
                                <span class="instructor"><a href="#">Justin Marks</a></span><!-- /.instructor -->
                                <div class="details-bottom">
                                    <div class="course-price float-left"><span class="currency">$</span><span
                                            class="price">15.99</span></div><!-- /.course-price -->
                                    <div class="rating float-right">
                                        <input type="hidden" class="rating-tooltip-manual" data-filled="fas fa-star"
                                            data-empty="far fa-star" data-fractions="2" />
                                    </div><!-- /.rating -->
                                </div><!-- /.details-bottom -->

                                <div class="item-meta">
                                    <span><i class="icons icon-people"></i> 129</span>
                                    <span><i class="icons icon-clock"></i> 22Hrs</span>
                                    <span><i class="icons icon-bubble"></i> 51</span>
                                </div><!-- /.item-meta -->
                            </div><!-- /.item-details -->
                        </div><!-- /.item -->

                        <div class="item">
                            <div class="item-thumb">
                                <img src="{% static 'images/popular/2.jpg' %}" alt="Item Thumbnail">
                                <div class="avatar"><img class="rounded-circle" src="{% static 'images/avatar/2.png' %}"
                                        alt="Avatar Image"></div><!-- /.avatar -->
                            </div><!-- /.item-thumb -->
                            <div class="item-details">
                                <h3 class="item-title"><a href="course-single-01.html">The Complete Web Developer
                                        Bootcamp</a></h3><!-- /.item-title -->
                                <span class="instructor"><a href="#">Justin Marks</a></span><!-- /.instructor -->
                                <div class="details-bottom">
                                    <div class="course-price float-left"><span class="currency">$</span><span
                                            class="price">15.99</span></div><!-- /.course-price -->
                                    <div class="rating float-right">
                                        <input type="hidden" class="rating-tooltip-manual" data-filled="fas fa-star"
                                            data-empty="far fa-star" data-fractions="2" />
                                    </div><!-- /.rating -->
                                </div><!-- /.details-bottom -->

                                <div class="item-meta">
                                    <span><i class="icons icon-people"></i> 129</span>
                                    <span><i class="icons icon-clock"></i> 22Hrs</span>
                                    <span><i class="icons icon-bubble"></i> 51</span>
                                </div><!-- /.item-meta -->
                            </div><!-- /.item-details -->
                        </div><!-- /.item -->

                        <div class="item">
                            <div class="item-thumb">
                                <img src="{% static 'images/popular/3.jpg' %}" alt="Item Thumbnail">
                                <div class="avatar"><img class="rounded-circle" src="{% static 'images/avatar/3.png' %}"
                                        alt="Avatar Image"></div><!-- /.avatar -->
                            </div><!-- /.item-thumb -->
                            <div class="item-details">
                                <h3 class="item-title"><a href="course-single-01.html">Complete Web Developer in 2018:
                                        Zero
                                        to Mastery</a></h3><!-- /.item-title -->
                                <span class="instructor"><a href="#">Justin Marks</a></span><!-- /.instructor -->
                                <div class="details-bottom">
                                    <div class="course-price float-left"><span class="currency">$</span><span
                                            class="price">15.99</span></div><!-- /.course-price -->
                                    <div class="rating float-right">
                                        <input type="hidden" class="rating-tooltip-manual" data-filled="fas fa-star"
                                            data-empty="far fa-star" data-fractions="2" />
                                    </div><!-- /.rating -->
                                </div><!-- /.details-bottom -->

                                <div class="item-meta">
                                    <span><i class="icons icon-people"></i> 129</span>
                                    <span><i class="icons icon-clock"></i> 22Hrs</span>
                                    <span><i class="icons icon-bubble"></i> 51</span>
                                </div><!-- /.item-meta -->
                            </div><!-- /.item-details -->
                        </div><!-- /.item -->

                        <div class="item">
                            <div class="item-thumb">
                                <img src="{% static 'images/popular/4.jpg' %}" alt="Item Thumbnail">
                                <div class="avatar"><img class="rounded-circle" src="{% static 'images/avatar/4.png' %}"
                                        alt="Avatar Image"></div><!-- /.avatar -->
                            </div><!-- /.item-thumb -->
                            <div class="item-details">
                                <h3 class="item-title"><a href="course-single-01.html">Course On: Complete Java
                                        Masterclass</a></h3><!-- /.item-title -->
                                <span class="instructor"><a href="#">Justin Marks</a></span><!-- /.instructor -->
                                <div class="details-bottom">
                                    <div class="course-price float-left"><span class="currency">$</span><span
                                            class="price">15.99</span></div><!-- /.course-price -->
                                    <div class="rating float-right">
                                        <input type="hidden" class="rating-tooltip-manual" data-filled="fas fa-star"
                                            data-empty="far fa-star" data-fractions="2" />
                                    </div><!-- /.rating -->
                                </div><!-- /.details-bottom -->

                                <div class="item-meta">
                                    <span><i class="icons icon-people"></i> 129</span>
                                    <span><i class="icons icon-clock"></i> 22Hrs</span>
                                    <span><i class="icons icon-bubble"></i> 51</span>
                                </div><!-- /.item-meta -->
                            </div><!-- /.item-details -->
                        </div><!-- /.item -->

                        <div class="item">
                            <div class="item-thumb">
                                <img src="{% static 'images/popular/7.jpg' %}" alt="Item Thumbnail">
                                <div class="avatar"><img class="rounded-circle" src="{% static 'images/avatar/1.png' %}"
                                        alt="Avatar Image"></div><!-- /.avatar -->
                            </div><!-- /.item-thumb -->
                            <div class="item-details">
                                <h3 class="item-title"><a href="course-single-01.html">Complete JavaScript Course 2018:
                                        Build Real Projects!</a></h3><!-- /.item-title -->
                                <span class="instructor"><a href="#">Justin Marks</a></span><!-- /.instructor -->
                                <div class="details-bottom">
                                    <div class="course-price float-left"><span class="currency">$</span><span
                                            class="price">15.99</span></div><!-- /.course-price -->
                                    <div class="rating float-right">
                                        <input type="hidden" class="rating-tooltip-manual" data-filled="fas fa-star"
                                            data-empty="far fa-star" data-fractions="2" />
                                    </div><!-- /.rating -->
                                </div><!-- /.details-bottom -->

                                <div class="item-meta">
                                    <span><i class="icons icon-people"></i> 129</span>
                                    <span><i class="icons icon-clock"></i> 22Hrs</span>
                                    <span><i class="icons icon-bubble"></i> 51</span>
                                </div><!-- /.item-meta -->
                            </div><!-- /.item-details -->
                        </div><!-- /.item -->
                    </div><!-- /.course-slider -->
                </div><!-- /.course-items -->
            </div><!-- /.container -->
        </div><!-- /.section-padding -->
    </section><!-- /.popular-courses -->





    <section class="course-category">
        <div class="section-padding">
            <div class="container">
                <div class="top-content text-center">
                    <h2 class="section-title">Catégories</h2>
                    <p>Quel sera votre prochain sujet d'apprentissage ?</p>
                </div><!-- /.top-content -->

                <div class="category-items">
                    <div class="item radius text-center">
                        <div class="item-thumb"><img class="radius" src="{% static 'images/category/1.jpg' %}"
                                alt="Item Thumbnail"></div><!-- /.item-thumb -->
                        <div class="item-details">
                            <a href="#">
                                <div class="item-texts">
                                    <i class="icon-layers"></i><span class="item-title">Design</span>
                                </div><!-- /.item-texts -->
                            </a>
                        </div><!-- /.item-details -->
                    </div><!-- /.item -->
                    <div class="item radius text-center">
                        <div class="item-thumb"><img class="radius" src="{% static 'images/category/2.jpg' %}"
                                alt="Item Thumbnail"></div><!-- /.item-thumb -->
                        <div class="item-details">
                            <a href="#">
                                <div class="item-texts">
                                    <i class="icon-chemistry"></i><span class="item-title">Development</span>
                                </div><!-- /.item-texts -->
                            </a>
                        </div><!-- /.item-details -->
                    </div><!-- /.item -->
                    <div class="item radius text-center">
                        <div class="item-thumb"><img class="radius" src="{% static 'images/category/3.jpg' %}"
                                alt="Item Thumbnail"></div><!-- /.item-thumb -->
                        <div class="item-details">
                            <a href="#">
                                <div class="item-texts">
                                    <i class="icon-puzzle"></i><span class="item-title">IT & Software</span>
                                </div><!-- /.item-texts -->
                            </a>
                        </div><!-- /.item-details -->
                    </div><!-- /.item -->
                    <div class="item radius text-center">
                        <div class="item-thumb"><img class="radius" src="{% static 'images/category/4.jpg' %}"
                                alt="Item Thumbnail"></div><!-- /.item-thumb -->
                        <div class="item-details">
                            <a href="#">
                                <div class="item-texts">
                                    <i class="icon-briefcase"></i><span class="item-title">Business</span>
                                </div><!-- /.item-texts -->
                            </a>
                        </div><!-- /.item-details -->
                    </div><!-- /.item -->
                    <div class="item radius text-center">
                        <div class="item-thumb"><img class="radius" src="{% static 'images/category/5.jpg' %}"
                                alt="Item Thumbnail"></div><!-- /.item-thumb -->
                        <div class="item-details">
                            <a href="#">
                                <div class="item-texts">
                                    <i class="icon-handbag"></i><span class="item-title">Marketing</span>
                                </div><!-- /.item-texts -->
                            </a>
                        </div><!-- /.item-details -->
                    </div><!-- /.item -->

                    <div class="item radius text-center">
                        <div class="item-thumb"><img class="radius" src="{% static 'images/category/6.jpg' %}"
                                alt="Item Thumbnail"></div><!-- /.item-thumb -->
                        <div class="item-details">
                            <a href="#">
                                <div class="item-texts">
                                    <i class="icon-layers"></i><span class="item-title">Lifestyle</span>
                                </div><!-- /.item-texts -->
                            </a>
                        </div><!-- /.item-details -->
                    </div><!-- /.item -->
                    <div class="item radius text-center">
                        <div class="item-thumb"><img class="radius" src="{% static 'images/category/7.jpg' %}"
                                alt="Item Thumbnail"></div><!-- /.item-thumb -->
                        <div class="item-details">
                            <a href="#">
                                <div class="item-texts">
                                    <i class="icon-chemistry"></i><span class="item-title">Photography</span>
                                </div><!-- /.item-texts -->
                            </a>
                        </div><!-- /.item-details -->
                    </div><!-- /.item -->
                    <div class="item radius text-center">
                        <div class="item-thumb"><img class="radius" src="{% static 'images/category/8.jpg' %}"
                                alt="Item Thumbnail"></div><!-- /.item-thumb -->
                        <div class="item-details">
                            <a href="#">
                                <div class="item-texts">
                                    <i class="icon-puzzle"></i><span class="item-title">Music</span>
                                </div><!-- /.item-texts -->
                            </a>
                        </div><!-- /.item-details -->
                    </div><!-- /.item -->
                    <div class="item radius text-center">
                        <div class="item-thumb"><img class="radius" src="{% static 'images/category/9.jpg' %}"
                                alt="Item Thumbnail"></div><!-- /.item-thumb -->
                        <div class="item-details">
                            <a href="#">
                                <div class="item-texts">
                                    <i class="icon-briefcase"></i><span class="item-title">Academics</span>
                                </div><!-- /.item-texts -->
                            </a>
                        </div><!-- /.item-details -->
                    </div><!-- /.item -->
                    <div class="item radius text-center">
                        <div class="item-thumb"><img class="radius" src="{% static 'images/category/10.jpg' %}"
                                alt="Item Thumbnail"></div><!-- /.item-thumb -->
                        <div class="item-details">
                            <a href="#">
                                <div class="item-texts">
                                    <i class="icon-handbag"></i><span class="item-title">Language</span>
                                </div><!-- /.item-texts -->
                            </a>
                        </div><!-- /.item-details -->
                    </div><!-- /.item -->
                </div><!-- /.category-items -->

                <div class="btn-container text-center bm8">
                    <a href="#" class="btn btn-lg section-btn">Browse all</a>
                </div>
            </div><!-- /.container -->
        </div><!-- /.section-padding -->
    </section><!-- /.course-category -->



    <section class="facts background-bg" data-image-src="{% static 'images/bg2.jpg' %}">
        <div class="overlay">
            <div class="section-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="item media">
                                <div class="item-icon mr-3"><i class="icons icon-book-open"></i></div>
                                <!-- /.item-icon -->
                                <div class="item-details">
                                    <span class="count">765</span><!-- /.count -->
                                    <h3 class="item-title">Courses Published</h3><!-- /.item-title -->
                                </div><!-- /.item-details -->
                            </div><!-- /.item -->
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="item media">
                                <div class="item-icon mr-3"><i class="icons icon-eyeglass"></i></div>
                                <!-- /.item-icon -->
                                <div class="item-details">
                                    <span class="count">249</span><!-- /.count -->
                                    <h3 class="item-title">Expert Instructors</h3><!-- /.item-title -->
                                </div><!-- /.item-details -->
                            </div><!-- /.item -->
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="item media">
                                <div class="item-icon mr-3"><i class="icons icon-people"></i></div><!-- /.item-icon -->
                                <div class="item-details">
                                    <span class="count">8348</span><!-- /.count -->
                                    <h3 class="item-title">Happy Learners</h3><!-- /.item-title -->
                                </div><!-- /.item-details -->
                            </div><!-- /.item -->
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="item media">
                                <div class="item-icon mr-3"><i class="icons icon-trophy"></i></div><!-- /.item-icon -->
                                <div class="item-details">
                                    <span class="count">99</span><!-- /.count -->
                                    <h3 class="item-title">Awards Achieved</h3><!-- /.item-title -->
                                </div><!-- /.item-details -->
                            </div><!-- /.item -->
                        </div>
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.section-padding -->
        </div><!-- /.overlay -->
    </section><!-- /.facts -->



    <section class="events">
        <div class="section-padding">
            <div class="container">
                <div class="top-content">
                    <div class="left-content float-left">
                        <h2 class="section-title">Events</h2>
                        <p>Donec rutrum congue leo eget malesuada</p>
                    </div><!-- /.left-content -->
                    <div class="right-content float-right"><a href="#" class="btn">View all</a></div>
                    <!-- /.right-content -->
                </div><!-- /.top-content -->

                <div class="row">
                    <div class="col-md-6">
                        <div class="event media">
                            <div class="event-time">
                                <time datetime="2017-07-28"><span class="date">28</span> July</time>
                            </div>
                            <div class="event-details media-body">
                                <div class="event-thumb radius"><img src="{% static 'images/event/1.jpg' %}"
                                        alt="Event Thumbnail"></div><!-- /.enent-thumb -->
                                <h2 class="event-title"><a href="event-details.html">Expand Your Programming
                                        Knowledge</a>
                                </h2><!-- /.event-title -->
                                <div class="event-meta">
                                    <span class="time"><i class="icon-clock"></i> 4am - 8pm</span><!-- /.time -->
                                    <span class="place"><i class="icon-location-pin"></i> New York, USA</span>
                                    <!-- /.place -->
                                </div><!-- /.event-meta -->
                                <p>
                                    One morning, when Gregor Samsa woke from troubled dreams, he found himself
                                    transformed
                                    in his bed into a horrible vermin.
                                </p>
                            </div><!-- /.event-details -->
                        </div><!-- /.event -->
                    </div>
                    <div class="col-md-6">
                        <div class="event media">
                            <div class="event-time">
                                <time datetime="2017-07-28"><span class="date">28</span> July</time>
                            </div>
                            <div class="event-details media-body">
                                <div class="event-thumb radius"><img src="{% static 'images/event/2.jpg' %}"
                                        alt="Event Thumbnail"></div><!-- /.enent-thumb -->
                                <h2 class="event-title"><a href="event-details.html">Land an Exciting New Tech Job</a>
                                </h2>
                                <!-- /.event-title -->
                                <div class="event-meta">
                                    <span class="time"><i class="icon-clock"></i> 4am - 8pm</span><!-- /.time -->
                                    <span class="place"><i class="icon-location-pin"></i> New York, USA</span>
                                    <!-- /.place -->
                                </div><!-- /.event-meta -->
                                <p>
                                    He lay on his armour back and lifted his head a little that he could see his brown
                                    belly, slightly domed and divided by into sections.
                                </p>
                            </div><!-- /.event-details -->
                        </div><!-- /.event -->
                    </div>
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.section-padding -->
    </section>



    <section class="recent-posts black-bg">
        <div class="section-padding">
            <div class="container">
                <div class="top-content">
                    <div class="left-content float-left">
                        <h2 class="section-title">Recent Blog Posts</h2>
                        <p>Donec rutrum congue leo eget malesuada</p>
                    </div><!-- /.left-content -->
                    <div class="owl-controls float-right"></div><!-- /.owl-controls -->
                </div><!-- /.top-content -->

                <div id="post-slider" class="post-slider owl-carousel">
                    <div class="item">
                        <article class="post">
                            <div class="entry-thumbnail radius"><img src="{% static 'images/posts/1.jpg' %}"
                                    alt="Post Thumbnail"></div><!-- /.entry-thumbnail -->
                            <div class="entry-content">
                                <h3 class="entry-title"><a href="single.html">WordPress Theme Development Resources</a>
                                </h3>
                                <!-- /.entry-title -->
                                <div class="entry-meta">
                                    <span class="author"><i class="icon-user"></i> <a href="#">Anthony Doe</a></span>
                                    <!-- /.author -->
                                    <span class="time"><i class="icon-calendar"></i> 26/05/2018</span><!-- /.time -->
                                </div><!-- /.entry-meta -->
                            </div><!-- /.entry-content -->
                        </article><!-- /.post -->
                    </div>
                    <div class="item">
                        <article class="post">
                            <div class="entry-thumbnail radius"><img src="{% static 'images/posts/2.jpg' %}"
                                    alt="Post Thumbnail"></div><!-- /.entry-thumbnail -->
                            <div class="entry-content">
                                <h3 class="entry-title"><a href="single.html">ow To Create A Local Business Directory
                                        Site
                                        In WordPress</a></h3><!-- /.entry-title -->
                                <div class="entry-meta">
                                    <span class="author"><i class="icon-user"></i> <a href="#">Anthony Doe</a></span>
                                    <!-- /.author -->
                                    <span class="time"><i class="icon-calendar"></i> 26/05/2018</span><!-- /.time -->
                                </div><!-- /.entry-meta -->
                            </div><!-- /.entry-content -->
                        </article><!-- /.post -->
                    </div>
                    <div class="item">
                        <article class="post">
                            <div class="entry-thumbnail radius"><img src="{% static 'images/posts/3.jpg' %}"
                                    alt="Post Thumbnail"></div><!-- /.entry-thumbnail -->
                            <div class="entry-content">
                                <h3 class="entry-title"><a href="single.html">How To Tell If A Site Is WordPress Or
                                        Not</a>
                                </h3><!-- /.entry-title -->
                                <div class="entry-meta">
                                    <span class="author"><i class="icon-user"></i> <a href="#">Anthony Doe</a></span>
                                    <!-- /.author -->
                                    <span class="time"><i class="icon-calendar"></i> 26/05/2018</span><!-- /.time -->
                                </div><!-- /.entry-meta -->
                            </div><!-- /.entry-content -->
                        </article><!-- /.post -->
                    </div>
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.section-padding -->
    </section><!-- /.recent-posts -->

    {% endblock %}






    {% block newsletter %}
    <section class="subscribe text-center gray-bg subscribe_form">
        <div class="section-padding">
            <div class="container">
                <h4 class="title">Subscribe Weekly Newsletter</h4>

                <form id="subscribe" class="mc4wp-form mc4wp-form-1971 bm8 " method="post" data-id="1971"
                    data-name="Mail Form"> {% csrf_token %}
                    <input class="subscribe-email" type="email" id="email_id" name="email_id"
                        placeholder="Enter Email Address Here" required="">
                    <input class="subscribe-submit" type="submit" id="email_submit" name="submit" value="Subscribe now">
                </form>
            </div><!-- /.container -->
        </div><!-- /.section-padding -->
    </section><!-- /.subscribe -->
    {% endblock %}





    {% include 'partials/footer.html' %}



    <script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
    {% block extrajs %}

    {% endblock %}

</body>


</html>