/* Preloader */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  /* change if the mask should have another color then white */
  z-index: 99;
  /* makes sure it stays on top */
}

#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  /* centers the loading animation horizontally one the screen */
  top: 50%;
  /* centers the loading animation vertically one the screen */
  background-image: url("loading.gif");
  /* path to your loading animation */
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
  /* is width and height divided by two */
}


/* lesson detail */
.container.main-content {
  margin-top: 5rem;
}

/* panels */

.clickable {
  cursor: pointer;
}

.panel-heading span {
  margin-top: -20px;
  font-size: 15px;
}

/* titre cours */

h2.lesson-title {
  font-size: 14px;
}

/* active course */
.active-course {
  background-color: #10a8e5ff;
}

a {
  text-decoration: none;
  color: #4c505f;
}

.active-course a {
  color: #ffffff;
}

.content-table .title {
  color: #37474f;
  font-size: 2em;
  font-weight: 600;
  margin: 5px 5px;
  padding: 0;
}

/* next and previous */

.l-container {
  margin: auto;
  width: auto;
  padding: 30px;
  text-align: left;
}

.l-container .c-dev-title1 {
  margin: 30px 0 20px;
  padding: 5px 0;
  border-bottom: 1px solid #999;
  font-weight: bold;
}

/*c-pager ------------------------------------------------------------*/
.c-pager ul {
  margin: auto;
  display: table;
}

.c-pager ul li {
  padding: 0 2px;
  display: table-cell;
}

.c-pager ul li a {
  box-sizing: border-box;
  padding: 10px 25px;
  border: 1px solid #666;
  border-radius: 4px;
  display: block;
  color: #036;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  transition: all 300ms ease;
}

.c-pager ul li a:hover {
  background: #444;
  color: #fff;
}

.pager {
  text-align: center;
}

.pager .page-numbers {
  margin: 0 2px;
  padding: 10px;
  border: 1px solid #444;
  display: inline-block;
  color: #036;
  text-decoration: none;
  transition: all 300ms ease;
}

.pager .page-numbers:hover,
.pager .page-numbers.current {
  background: #444;
  color: #fff;
}

.pager .page-numbers.dots {
  padding: 11px 5px;
  border: none;
}

@media (min-width: 768px) {
  .report-card {
    margin-bottom: .5rem;
  }
}