/* Preloader */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  /* change if the mask should have another color then white */
  z-index: 99;
  /* makes sure it stays on top */
}

#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  /* centers the loading animation horizontally one the screen */
  top: 50%;
  /* centers the loading animation vertically one the screen */
  background-image: url("loading.c54fc36cec8b.gif");
  /* path to your loading animation */
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
  /* is width and height divided by two */
}


/* lesson detail */
.container.main-content {
  margin-top: 5rem;
}

/* panels */

.clickable {
  cursor: pointer;
}

.panel-heading span {
  margin-top: -20px;
  font-size: 15px;
}

/* titre cours */

h2.lesson-title {
  font-size: 14px;
}

/* active course */
.active-course {
  background-color: #10a8e5ff;
}

a {
  text-decoration: none;
  color: #4c505f;
}

.active-course a {
  color: #ffffff;
}

/* .content-table .title {
  color: #37474f;
  font-size: 2em;
  font-weight: 600;
  margin: 5px 5px;
  padding: 0;
} */

/* next and previous */

.l-container {
  margin: auto;
  width: auto;
  padding: 15px;
  text-align: left;
}

.l-container .c-dev-title1 {
  margin: 30px 0 20px;
  padding: 5px 0;
  border-bottom: 1px solid #999;
  font-weight: bold;
}

.c-pager {
  padding-left: 0px;
  margin-left: -50px;
}

/*c-pager ------------------------------------------------------------*/
.c-pager ul {
  margin: auto;
  display: table;
}

.c-pager ul li {
  padding: 0 2px;
  display: table-cell;
}

.c-pager ul li a {
  box-sizing: border-box;
  padding: 10px 25px;
  border: 1px solid #666;
  border-radius: 4px;
  display: block;
  color: #036;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  transition: all 300ms ease;
}

.c-pager ul li a:hover {
  background: #444;
  color: #fff;
}

.pager {
  text-align: center;
}

.pager .page-numbers {
  margin: 0 2px;
  padding: 10px;
  border: 1px solid #444;
  display: inline-block;
  color: #036;
  text-decoration: none;
  transition: all 300ms ease;
}

.pager .page-numbers:hover,
.pager .page-numbers.current {
  background: #444;
  color: #fff;
}

.pager .page-numbers.dots {
  padding: 11px 5px;
  border: none;
}

@media (min-width: 768px) {
  .report-card {
    margin-bottom: .5rem;
  }
}


/* courses details */
#content {
  position: relative;
  overflow: hidden;
  background-color: #fff;
}

.content-wrap {
  padding: 50px 0;
  position: relative;
}

#content .container {
  position: relative;
}

.plyr--video {
  background: #000;
  overflow: hidden;
}

.chapter {
  color: #10a8e5ff;
  font-weight: bold;
}

/* community page */

.social-three li {
  margin: 0 -1px -1px 0;
}

.bg-facebook {
  background-color: #3b5998 !important;
  color: #fff;
}

.bg-twitter {
  background-color: #00aced;
  color: #fff;
}

.bg-instagram {
  background-color: #b300ad;
  color: #fff;
}

.bg-youtube {
  background-color: #bd0000;
  color: #fff;
}

.bg-gplus {
  background-color: #eb5e4c;
  color: #fff;
}

.bg-vimeo {
  background-color: #35c6ea;
  color: #fff;
}

.bg-dicord {
  background-color: #2c2f33;
  color: #fff;
}


.bg-github {
  background-color: #4078c0;
  color: #fff;
}