{% extends "_base.html" %}
{% load static %}

{% block title %}
Tableau de bord
{% endblock title %}

{% block content %}

<section class="page-section border-bottom-2 bg-light">
  <div class="col-12">
    <ul class="nav tab-state-primary mb-3 justify-content-center">
      <li class="nav-item m-1">
        <a href="{% url 'profile' %}" class="nav-link border rounded text-center p-3">
          <i class="ti-user d-block mb-1"></i>
          Profile
        </a>
      </li>
      <li class="nav-item m-1">
        <a href="#" class="nav-link border rounded text-center p-3">
          <i class="ti-help d-block mb-1"></i>
          Quiz
        </a>
      </li>



      <li class="nav-item m-1">
        <a href="#" class="nav-link border rounded text-center p-3">
          <i class="ti-blackboard d-block mb-1"></i>
          Cours ({{ total_courses }})
        </a>
      </li>
    </ul>

  </div>
</section>


{% endblock content %}