{% extends 'base.html' %}


{% block title %}
Evenetment
{% endblock %}


{% block banner %}

{% endblock %}

{% block content %}
<section class="events">
  <div class="section-padding">
    <div class="container">
      <div class="row">


        {% if events %}

        {% for event in events %}
        <div class="col-md-6">
          <div class="event media">
            <div class="event-time media-left">
              <time datetime="{{ event.date_created|date:'m-d-Y' }}"><span
                  class="date">{{ event.date_created|date:"d" }}</span> {{ event.date_created|date:"F" }}</time>
            </div>
            <div class="event-details media-body">
              <div class="event-thumb radius"><img src="{{ event.image.url }}" alt="Event Thumbnail"></div>
              <!-- /.enent-thumb -->
              <h2 class="event-title"><a href="{% url 'event-detail' event.slug %}">{{ event.title }}</a></h2>
              <!-- /.event-title -->
              <div class="event-meta">
                <span class="time"><i class="icon-clock"></i> {{ event.date_start|date:"H" }}H -
                  {{ event.date_end|date:"H" }}H</span><!-- /.time -->
                <span class="place"><i class="icon-location-pin"></i> {{ event.location }}, {{ event.country }}</span>
                <!-- /.place -->
              </div><!-- /.event-meta -->
              <p>
                {{ event.short_description }}
              </p>
            </div><!-- /.event-details -->
          </div><!-- /.event -->
        </div>
        {% endfor %}

        {% else %}

        <p class="text-center alert alert-info">Pas d'eventement</p>

        {% endif %}


      </div><!-- /.row -->
    </div><!-- /.container -->
  </div><!-- /.section-padding -->
</section>
{% endblock %}