{% extends 'base.html' %}


{% block title %}
Evenetment {{ object.title }}
{% endblock %}


{% block banner %}

{% endblock %}

{% block content %}


<section class="events">
  <div class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="event-single-contents">
            <div class="event-banner background-bg text-center" data-image-src="{{ event.image.url }}">
              <div class="overlay">
                <div id="countdown"></div>
              </div><!-- /.overlay -->
            </div><!-- /.event-banner -->

            <h2 class="event-title">{{ object.title }}</h2><!-- /.event-title -->

            <p>
              <strong>{{ object.short_description }}</strong>
            </p>

            <h2>Contenu</h2>

            <p>{{ event.content }}</p>

            <h2>Event Speakers</h2>

            <div class="row">




              {% if object.speakers %}


              {% for speaker in event.speakers.all %}
              <div class="col-md-3 col-sm-6">
                <div class="speaker">
                  <div class="avatar radius"><img src="{{ speaker.avatar.url }}" alt="Avatar Image"></div>
                  <!-- /.avatar -->
                  <div class="speaker-details">
                    <h3 class="name"><a href="#">{{ speaker.first_name }} {{ speaker.last_name }} </a></h3>
                    <!-- /.name -->
                    <span class="designation">{{ speaker.title }}</span><!-- /.designation -->
                  </div><!-- /.speaker-details -->
                </div><!-- /.speaker -->
              </div>
              {% endfor %}


              {% else %}

              <p class="text-center">Pas de speaker</p>

              {% endif %}




            </div>

            <!-- <h2 class="mt-4">Event Location</!-->

            <!-- <div id="googleMaps" class="google-map-container"></div> -->

          </div><!-- /.event-single-contents -->
        </div>

        <div class="col-md-4">
          <aside class="sidebar">
            <button class="btn btn-lg enroll-btn">Join the event</button>

            <div class="widget widget_event_meta">

              <div class="meta-info">
                <ul class="info-list">
                  <li><span class="price">Free</span></li>
                  <li><span class="meta-id">Date</span> Aug 20- Aug 22</li>
                  <li><span class="meta-id">Time</span> 11.00am - 04.30.00pm</li>
                  <li><span class="meta-id">Place</span> Paris, France</li>
                  <li><span class="meta-id">Total Seats</span> 250</li>
                  <li>
                    <span class="meta-id">Share</span>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-google-plus"></i></a>
                    <a href="#"><i class="fab fa-pinterest"></i></a>
                  </li>
                </ul>
              </div>
            </div><!-- /.widget -->
          </aside><!-- /.sidebar -->
        </div>
      </div><!-- /.row -->
    </div><!-- /.container -->
  </div><!-- /.section-padding -->
</section>



{% endblock %}