{% extends "_base.html" %}
{% load static %}

{% block title %}
Les cours sur {{ category }}
{% endblock title %}


{% block content %}

{% include "partials/_breadcrumbs.html" with previous="Cours" previous_url="course:courses" current=category text="Tous les cours" %}

<section class="paddingTop-50 paddingBottom-100 bg-light-v2">
  <div class="container">
    <div class="row align-items-start">

      <div class="col-lg-12 order-1 order-lg-2">

        {% include "partials/_course-list.html" with courses=course_list %}
      </div> <!-- END col-lg-9 -->

    </div> <!-- END row-->
    {% include "partials/_pagination.html" %}

  </div> <!-- END container-->
</section>


{% endblock %}