{% extends "_base.html" %}
{% load static %}

{% block title %}
Les cours sur {{ category }}
{% endblock title %}


{% block content %}
<div class="section3125">
  <div class="sa4d25">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-12 col-lg-12">

          <h4 class="item_title">Les cours sur <span class="text-xarala">{{ category }}</span> </h4>
          <div class="la5lo1">
            <div class="owl-carousel featured_courses owl-theme">
              {% for course in course_list %}
              {% include "partials/_course-card.html" with course=course %}
              {% endfor %}
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}