{% extends "_base.html" %}
{% load embed_video_tags %}

{% block title %}
{{ lesson.title }}
{% endblock title %}

{% block content %}

<div class="section3125">

  <div class="container-fluid">
    <h2>
      {{ lesson.title }}
    </h2>
    <div class="row">
      <div class="col-lg-12">
        <div class="embed-responsive embed-responsive-16by9">
          {% if lesson.video_url %}
          {% video lesson.video_url 'small' %}
          {% else %}
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ lesson.video_id }}?rel=0"
            allowfullscreen></iframe>
          {% endif %}
        </div>
        <p>
          {{ lesson.text|safe }}
        </p>
        <!-- <div class="row">
          <div class="col-md-12">
            <div class="blog_pagination">
              <a href="#" class="bp_left">
                <i class="uil uil-angle-double-left"></i>
                <div class="kslu15">
                  <div class="prevlink">Précédent</div>
                  <div class="prev_title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                </div>
              </a>
              <a href="#" class="bp_right">
                <div class="kslu16">
                  <div class="prevlink1">Suivant</div>
                  <div class="prev_title1">Vestibulum vulputate nulla quis dignissim ultricies.</div>
                </div>
                <i class="uil uil-angle-double-right"></i>
              </a>
            </div>
          </div>
        </div> -->

      </div>

      <div class="col-lg-12">
        <div id="accordion" class="ui-accordion ui-widget ui-helper-reset">
          {% if object.course_chapters.all %}
          {% for chapter in object.course_chapters.all %}
          <a href="javascript:void(0)"
            class="accordion-header ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-corner-all">
            <div class="section-header-left">
              <span class="section-title-wrapper">
                <i class='uil uil-presentation-play crse_icon'></i>
                <span class="section-title-text">{{ chapter.name }}</span>
              </span>
            </div>
            <div class="section-header-right">
              <span class="num-items-in-section">{{ chapter.course_lessons.count }} lectures</span>

            </div>
          </a>

          <div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom">

            {% if chapter.course_lessons.all  %}
            {% for lesson in chapter.course_lessons.all  %}
            {% if lesson.chapter.id == chapter.id %}

            <div class="lecture-container">
              <div class="left-content w-100">
                <i class='uil uil-play-circle icon_142'></i>
                <div class="top">
                  <div class="title">
                    <a href="{% url 'course:course-detail' object.slug %}?lecture={{lesson.slug}}"
                      class="{% if lesson.slug in request.get_full_path %} text-primary {% else %} text-dark  {% endif %}">
                      {{ lesson.title }}</a>

                  </div>
                </div>
              </div>

            </div>

            {% endif %}
            {% endfor %}
            {% endif %}


          </div>


          {% endfor %}
          {% endif %}

        </div>

      </div>
    </div>
  </div>

</div>
{% endblock content %}