{% extends "_base.html" %}
{% load static %}
{% load embed_video_tags %}

{% block title %}
{{ course.title }}
{% endblock title %}

{% block content %}

<div class="section3125">

  <div class="modal vd_mdl fade" id="videoModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="modal-body">
          <iframe src="https://www.youtube.com/embed/{{ course.get_introudction.video_id }}"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

      </div>
    </div>
  </div>

  <div class="_215b01">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="section3125">
            <div class="row justify-content-center">
              <div class="col-xl-4 col-lg-5 col-md-6">
                <div class="preview_video">
                  <a href="#" class="fcrse_img" data-toggle="modal" data-target="#videoModal">
                    <img
                      src="{% if course.thumbnail %} {{ course.thumbnail.url }} {% else %} {% static 'images/logo.png' %} {% endif %}"
                      alt="{{ course.title }}">
                    <div class="course-overlay">
                      <div class="badge_seller">Recommandé</div>
                      <span class="play_btn1"><i class="uil uil-play"></i></span>
                      <span class="_215b02">Aperçu du cours</span>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-xl-8 col-lg-7 col-md-6">
                <div class="_215b03">
                  <h2>{{ course.title }}</h2>
                  <span class="_215b04"> {{ course.description|safe }}!</span>
                </div>
                <div class="_215b05">
                  <span><i class='uil uil-user'></i></span> {{ course.count_students }} Étudiants inscrits
                </div>
                <div class="_215b06">
                  <div class="_215b07">
                    <span><i class='uil uil-comment'></i></span>
                    Langue: {{ course.language.name }}
                  </div>

                </div>
                <ul class="_215b31">
                  {% if course.price == 0 %}

                  <li>
                    <button class="btn_adcart">
                      <a href="{% if button_text == 'S\'inscrire'  %}{% url 'course:subscribe_user_to_course' course.slug %}{% else %}/courses/{{ course.slug }}/?lecture={{course.get_introudction.slug}}{% endif %}"
                        class="text-light">{{ button_text }}</a>
                    </button>

                  </li>

                  {% else %}
                  <li><button class="btn_adcart">Ajouter au panier</button></li>
                  <li><button class="btn_buy">Acheter maintenant</button></li>
                  {% endif %}

                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="_215b15 _byt1458">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">

          <div class="course_tabs">
            <nav>
              <div class="nav nav-tabs tab_crse justify-content-center" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab"
                  aria-selected="true">À propos de ce cours</a>
                <a class="nav-item nav-link" id="nav-courses-tab" data-toggle="tab" href="#nav-courses" role="tab"
                  aria-selected="false">Contenu</a>
                <a class="nav-item nav-link" id="nav-teacher-tab" data-toggle="tab" href="#nav-teacher" role="tab"
                  aria-selected="false">Formateur</a>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="_215b17">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="course_tab_content">
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active" id="nav-about" role="tabpanel">
                <div class="fcrse_2">
                  <div class="_htg451">
                    <div class="_htg452">
                      <h3>Objectifs</h2>
                        <span> Aucun!</span>
                    </div>
                    <div class="_htg452  mt-35">
                      <h3>Description</h2>
                        <span> {{ course.description|safe }}!</span>
                    </div>
                    <div class="_htg452 mt-35">
                      <h3>Projets</h2>
                        <span> Aucun!</span>
                    </div>
                    <div class="_htg452 mt-35">
                      <h3>Pré-requis</h2>
                        <span> Aucun!</span>
                    </div>
                  </div>
                </div>


              </div>
              <div class="tab-pane fade" id="nav-courses" role="tabpanel">
                <div class="fcrse_2">
                  <div class="_112456">
                    <ul class="accordion-expand-holder">
                      <li><span class="accordion-expand-all _d1452">Développer tout</span></li>
                      <li><span class="_fgr123"> {{ course.count_lessons }} lectures</span></li>
                    </ul>
                  </div>
                  <div id="accordion" class="ui-accordion ui-widget ui-helper-reset">

                    {% if object.course_chapters.all %}
                    {% for chapter in object.course_chapters.all %}
                    <a href="javascript:void(0)"
                      class="accordion-header ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-corner-all">
                      <div class="">
                        <span class="section-title-wrapper">
                          <i class='uil uil-presentation-play crse_icon'></i>
                          <span class="section-title-text">{{ chapter.name }}</span>
                        </span>
                      </div>

                    </a>
                    <div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom">

                      {% if chapter.course_lessons.all  %}
                      {% for lesson in chapter.course_lessons.all  %}
                      {% if lesson.chapter.id == chapter.id %}

                      <div class="lecture-container">
                        <div class="left-content w-100">
                          <i class='uil uil-play-circle icon_142'></i>
                          <div class="top">
                            <div class="title"> {{ lesson.title }}</div>
                          </div>
                        </div>
                      </div>

                      {% endif %}
                      {% endfor %}
                      {% endif %}


                    </div>

                    {% endfor %}
                    {% endif %}

                  </div>
                  <!-- <a class="btn1458" href="#">20 More Sections</a> -->
                </div>
              </div>

              <div class="tab-pane fade" id="nav-teacher" role="tabpanel">
                <div class="fcrse_2">
                  <div class="tutor_img">
                    <a href="{% url 'profile' %}"><img src="{% if course.teacher.avatar %} {{ course.teacher.avatar.url }}
            {% else %} {% static 'images/logo.png' %}
            {% endif %}" alt=""></a>
                  </div>
                  <div class="tutor_content_dt">
                    <div class="tutor150">
                      <a href="{% url 'profile' %}" class="tutor_name">{{ course.teacher.get_full_name }}</a>
                      <div class="mef78" title="Verify">
                        <i class="uil uil-check-circle"></i>
                      </div>
                    </div>
                    <div class="tutor_cate">{{ course.teacher.title|default_if_none:"Pas de titre" }}</div>
                    <ul class="tutor_social_links">
                      <li><a href="#" class="fb"><i class="fab fa-facebook-f"></i></a></li>
                      <li><a href="#" class="tw"><i class="fab fa-twitter"></i></a></li>
                      <li><a href="#" class="ln"><i class="fab fa-linkedin-in"></i></a></li>
                      <li><a href="#" class="yu"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                    <div class="tut1250">
                      <span class="vdt15">
                        {{ course.teacher.courses_created.count }} Cours
                      </span>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


{% endblock content %}