{% extends "_base.html" %}
{% load static %}

{% block title %}
Tous les cours
{% endblock title %}

{% block meta %}
<meta property="og:title" content="Tous les cours de Xarala">
<meta name="description" property="og:description" content="Formation pratique et simple.">
<meta property="og:image" content="{% static 'images/logo.png' %}">
<meta property="og:image:alt" content="Logo Xarala">
<meta property="og:url" content="{{ request.get_host }}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@xaralatech">
<meta name="twitter:creator" content="@xaralatech">
<meta name="twitter:title" content="Xarala Academy">
<meta name="twitter:description" content="Formation pratique et simple.">
<meta name="twitter:image" content="{% static 'images/logo.png' %}">
<meta name="twitter:image:alt" content="Logo de Xarala.">
{% endblock meta %}

{% block content %}
<div class="section3125">
  <div class="sa4d25">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-12 col-lg-12">

          <h4 class="item_title">Cours en vedette</h4>
          <div class="la5lo1">
            <div class="owl-carousel featured_courses owl-theme">
              {% for course in courses %}
              {% include "partials/_course-card.html" with course=course %}
              {% endfor %}
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="section3125">
  <div class="sa4d25">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-12 col-lg-12">
          <h4 class="item_title">Cours populaires</h4>
          <div class="la5lo1">
            <div class="owl-carousel featured_courses owl-theme">
              {% for course in courses %}
              {% include "partials/_course-card.html" with course=course %}
              {% endfor %}
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- course by category -->
{% for category in categories %}
<div class="section3125">
  <div class="sa4d25">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-12 col-lg-12">
          <h4 class="item_title">{{ category }}</h4>
          <div class="la5lo1">
            <div class="owl-carousel featured_courses owl-theme">
              {% for course in category.course_set.published %}
              {% include "partials/_course-card.html" with course=course %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}


{% endblock content %}