{% extends "_base.html" %}

{% block title %}
{{ lesson.title }}
{% endblock title %}

{% block content %}

<div class="sa4d25">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-8 col-lg-8">
        <div class="section3125">
          <div class="live1452">
            <iframe src="https://www.youtube.com/embed/{{ lesson.video_id }}?rel=0?autoplay=1"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <div class="user_dt5">
            {{ lesson.text|safe }}
            <!-- <div class="row">
          <div class="col-md-12">
            <div class="blog_pagination">
              <a href="#" class="bp_left">
                <i class="uil uil-angle-double-left"></i>
                <div class="kslu15">
                  <div class="prevlink">Précédent</div>
                  <div class="prev_title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                </div>
              </a>
              <a href="#" class="bp_right">
                <div class="kslu16">
                  <div class="prevlink1">Suivant</div>
                  <div class="prev_title1">Vestibulum vulputate nulla quis dignissim ultricies.</div>
                </div>
                <i class="uil uil-angle-double-right"></i>
              </a>
            </div>
          </div>
        </div> -->

          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4">
        <div class="right_side">
          <div class="fcrse_3">
            <div class="cater_ttle">
              <h4>Contenu du cours</h4>
            </div>
            <div class="live_chat">
              <div class="mb-2">
                {% if object.course_chapters.all %}
                {% for chapter in object.course_chapters.all %}

                <h5>Section {{ forloop.counter }}: {{ chapter.name }}</h5>

                {% if chapter.course_lessons.all  %}
                {% for lesson in chapter.course_lessons.all  %}
                {% if lesson.chapter.id == chapter.id %}

                <p class="ml-2">
                  {{ forloop.counter }}:
                  <a href="{% url 'course:course-detail' object.slug %}?lecture={{lesson.slug}}"
                    class="{% if lesson.slug in request.get_full_path %} text-primary {% else %} text-dark  {% endif %}">
                    {{ lesson.title }}</a>
                </p>
                {% endif %}
                {% endfor %}
                {% endif %}

                {% endfor %}
                {% endif %}
              </div>
            </div>
            <!-- prise de notes -->
            <!-- <div class="live_comment">
              <input class="live_input" type="text" placeholder="Say Something..." />
              <button class="btn_live"><i class='uil uil-message'></i></button>
            </div> -->
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

{% endblock content %}