{% extends "_base.html" %}
{% load static %}

{% block title %}
Parcours d'apprentissage
{% endblock title %}

{% block content %}

<div class="new-section">
  <div class="_215b15">
    <section class="height-100vh">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h1 class="text-primary text-uppercase display-1">Parcours</h1>
            <h2 class="mb-4">
              Oups! <i class="fas fa-frown text-warning" aria-hidden="true"></i>
            </h2>
            <p>
              La page est en cours de conception.
            </p>
            <a href="/" class="btn btn-rounded btn-primary mt-5 mb-4">Retour à la page d'accueil</a>
          </div>
        </div>
        <!-- END row-->
      </div>
      <!-- END container-->
    </section>
  </div>
</div>

{% endblock content %}