{% extends "_dashboard_base.html" %}
<!--  -->
{% block content %}
<div class="bg-blue p-2 shadow text-xl text-white">
  <h3 class="font-bold pl-2 mt-2">Logs</h3>
</div>
<div class="flex flex-wrap">
  <div class="w-full">
    <table class="w-full p-5 text-gray-700">
      <thead>
        <tr>
          <th class="text-left text-blue">Utilisateur</th>
          <th class="text-left text-blue">Action</th>
          <th class="text-left text-blue">Date</th>
        </tr>
      </thead>

      <tbody>
        {% if logs %}
        {% for log in logs %}

        <tr>
          <td>
            {{ log.user }}
          </td>
          <td>
            {{ log.action }}
          </td>
          <td>
            {{ log.created_at|date:"d-m" }}
          </td>
        </tr>
        {% endfor %}
        {% endif %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}
