{% extends 'base.html' %}
{% load static %}

{% block title %}
Liste des articles
{% endblock %}


{% block banner %}

{% endblock %}

{% block content %}

<section class="blog-posts">
  <div class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-8">

          {% if posts %}

          {% for post in posts %}

          <article class="post type-post format-standard">
            <div class="entry-thumbnail radius">

              {% if post.image_url %}
              <img src="{{ post.image_url }}" alt="Post Thumbnail">
              {% else %}
              <img src="{{ post.image.url }}" alt="Post Thumbnail">
              {% endif %}

            </div>
            <!-- /.entry-thumbnail -->
            <div class="entry-content media">
              <div class="post-date">
                <time datetime="{{ post.date_created|date:'m-d-Y' }}"><span
                    class="date">{{ post.date_created|date:"d" }}</span> {{ post.date_created|date:"F" }}</time>
              </div><!-- /.post-date -->

              <div class="content-details media-body">
                <h3 class="entry-title"><a href="{% url 'blog-detail' post.slug %}">{{ post.title }}</a></h3>
                <!-- /.entry-title -->
                <div class="entry-meta">
                  <span class="author"><i class="icon-user"></i> <a href="#">{{ post.author.get_full_name }}</a></span>
                  <!-- /.author -->
                  <span class="tag"><i class="icon-tag"></i> <a
                      href="#">{{ post.tags.first|default_if_none:"" }}</a></span><!-- /.tag -->
                  <!--<span class="comments"><i class="icon-bubbles"></i> <a href="#">13 comments</a></span>-- /.tag -->
                </div><!-- /.entry-meta -->

                <p>
                  {{ post.content|safe|truncatewords:50 }}
                </p>


                <a href="{% url 'blog-detail' post.slug %}" class="btn btn-lg">Voir plus</a>
              </div><!-- /.content-details -->
            </div><!-- /.entry-content -->
          </article><!-- /.post -->
          {% endfor %}


          {% else %}

          <p class="text-center alert alert-info">Ooops!, pas d'artilce pour le moment!</p>

          {% endif %}





          <nav aria-label="Page navigation example">
            {% if is_paginated %}
            <ul class="pagination">
              {% if page_obj.has_previous %}
              <li class="page-item"><a class="page-link" href="?page={{page_obj.previous_page_number}}">&laquo;</a></li>
              {% else %}
              <li class="page-item disabled"><a class="page-link" href="#">&laquo;</a></li>
              {% endif %}
              {% for i in paginator.page_range %}
              {% if page_obj.number == i %}
              <li class="page-item"><a class="page-link active">{{ i }}</a></li>
              {% else %}
              <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
              {% endfor %}
              {% if page_obj.has_next %}
              <li class="page-item">
                <a href="?page={{page_obj.next_page_number}}" class="page-link">&raquo;</a>
              </li>
              {% else %}
              <li class="page-item disabled">
                <a class="page-link">&raquo;</a>
              </li>
              {% endif %}
            </ul>
            {% endif %}
          </nav>
        </div>

        <div class="col-md-4">
          <aside class="sidebar">
            <div class="widget widget_search">
              <div class="widget-details">
                <form method="get" class="search-form" action="#">
                  <input type="text" class="form-control" placeholder="Search ..." name="s" title="Search here"
                    required>
                  <input type="submit" class="form-control">
                </form>
              </div><!-- /.widget-details -->
            </div>
            <!--/.widget-->

            <div class="widget widget_categories">
              <h2 class="widget-title">Catégories</h2>
              <div class="widget-details">
                <ul>

                  {% for tag in tags %}
                  <li><a href="{% url 'blog_tag' tag.name %}">{{ tag.name }}</a></li>
                  {% endfor %}


                </ul>
              </div><!-- /.widget-details -->
            </div>
            <!--/.widget-->

            {% if popular_posts %}
            <div class="widget widget_popular_post">
              <h2 class="widget-title">Articles populaires</h2>
              <div class="widget-details">
                {% for post in popular_posts %}
                <article class="post type-post media">
                  <div class="entry-thumbnail">
                    <img src="images/widget/2.jpg" alt="post" />
                  </div>
                  <!--/.entry-thumbnail-->

                  <div class="entry-content media-body">
                    <h3 class="entry-title"><a href="#">How To Tell If A Site Is WordPress Or Not</a></h3>
                    <div class="entry-meta">
                      <span class="time"><i class="icons icon-calendar"></i> <time datetime="2018-05-28">28 July,
                          2018</time></span>
                    </div><!-- /.entry-meta -->
                  </div>
                  <!--/.entry-content media-body-->
                </article>

                {% endfor %}
              </div><!-- /.widget-details -->
            </div>
            <!--/.widget-->
            {% endif %}

            <div class="widget widget_tag_cloud">
              <h2 class="widget-title">Tags Cloud</h2>
              <div class="widget-details">
                <div class="tagcloud">

                  {% if tags %}

                  {% for tag in tags %}
                  <a href="#">{{ tag.name }}</a>
                  {% endfor %}

                  {% else %}
                  <a href="#">Theme</a>

                  {% endif %}

                </div>
                <!--/.tagcloud-->
              </div><!-- /.widget-details -->
            </div>
          </aside>
          <!--/.sidebar-->
        </div>
      </div><!-- /.row -->
    </div><!-- /.container -->
  </div><!-- /.section-padding -->
</section><!-- /.blog-posts -->


{% endblock %}