{% extends '_base.html' %}
{% load static %}

{% block title %}
Le blog de Xarala - {{ post.title }}
{% endblock title %}

{% block content %}
<div class="page-section bg-alt border-bottom-2">
  <div class="container page__container">

    <div class="d-flex flex-column flex-lg-row align-items-center">
      <div
        class="d-flex flex-column flex-md-row align-items-center align-items-md-start flex mb-16pt mb-lg-0 text-center text-md-left">
        <div class="avatar overlay overlay--primary mb-16pt mb-md-0 mr-md-16pt">
          <img
            src="{% if post.image %} {{ post.image.url }} {% else %} {% static 'public/images/placeholder-1.jpg'  %} {% endif %}"
            alt="{{ post.title }}" class="avatar-img rounded" alt="{{ post.title }}">
          <div class="overlay__content"></div>
        </div>
        <div class="flex">
          <h1 class="h2 measure-lead-max mb-16pt">{{ post.title }}</h1>
          <div class="d-flex align-items-center">
            <a href="#" class="avatar avatar-sm mr-12pt">
              <img
                src="{% if post.author.avatar %} {{ post.author.avatar.url }} {% else %} {% static 'assets/img/262x230/1.jpg' %} {% endif %}"
                alt="{{ post.author.get_full_name }}" class="avatar-img rounded-circle">
            </a>
            <div class="mr-16pt">
              <a href="#" class="card-title">{{ post.author.get_full_name }}</a>
              <div class="d-flex align-items-center">
                <small class="text-50 mr-2">3 days ago</small>
                <small class="text-50 mr-2">2 min read</small>
                <a href="" class="text-50"><small>Liked</small></a>
              </div>
            </div>
            <div>
              <a href="" class="text-50 d-flex align-items-center text-decoration-0"><i
                  class="material-icons icon--left">favorite_border</i> 3</a>
            </div>
          </div>

        </div>
      </div>
      <div class="ml-lg-16pt">
        <a href="{% url 'blog:posts' %}" class="btn btn-light">Blog</a>
      </div>
    </div>

  </div>
</div>

<div class="page-section border-bottom-2">
  <div class="container page__container">

    <div class="row">
      <div class="col-lg-8">

        <div class="mb-24pt">
          {% for tag in post.tags.all %}

          <a href="#" class="chip chip-outline-secondary">{{ tag }}</a>
          {% endfor %}
        </div>

        <div class="d-flex flex-column flex-md-row align-items-md-center mb-16pt">
          <div class="mb-16pt mb-md-0 mr-md-16pt">
            <div class="rounded p-relative o-hidden overlay overlay--primary">
              <img class="img-fluid rounded"
                src="{% if post.image %} {{ post.image.url }} {% else %} {% static 'public/images/placeholder-1.jpg'  %} {% endif %}"
                alt="{{ post.title }}" alt="image">
              <div class="overlay__content"></div>
            </div>
          </div>
          <div class="flex">
            <!-- lead measure-paragraph-max -->
            {{post.description|safe}}
          </div>
        </div>


      </div>
      <div class="col-lg-4">

        <div class="page-separator">
          <div class="page-separator__text">Écris par</div>
        </div>

        <div class="media align-items-center mb-16pt">
          <span class="media-left mr-16pt">
            <img
              src="{% if post.author.avatar %} {{ post.author.avatar.url }} {% else %} {% static 'assets/img/262x230/1.jpg' %} {% endif %}"
              width="40" alt="{{ post.author.get_full_name }}" class="rounded-circle">
          </span>
          <div class="media-body">
            <a class="card-title m-0" href="#">{{ post.author.get_full_name }}</a>
            <p class="text-50 lh-1 mb-0">Auteur</p>
          </div>
        </div>
        <p class="text-70">
          {{ post.author.bio }}.</p>

        <a href="#" class="btn btn-white mb-24pt">Follow</a>

        <div class="page-separator">
          <div class="page-separator__text">Recommandation</div>
        </div>

        <div class="mb-8pt d-flex align-items-center">
          <a href="{{ post.get_absolute_url }}" class="avatar avatar-lg overlay overlay--primary mr-12pt">
            <img
              src="{% if post.image %} {{ post.image.url }} {% else %} {% static 'public/images/placeholder-1.jpg'  %} {% endif %}"
              alt="{{ post.title }}" class="avatar-img rounded">
            <span class="overlay__content"></span>
          </a>
          <div class="flex">
            <a class="card-title mb-4pt" href="{{ post.get_absolute_url }}">{{ post.title }}</a>
            <div class="d-flex align-items-center">
              <small class="text-muted mr-8pt"><a href="{{ post.get_absolute_url }}">{{ post.tags.first }}</a></small>
              <small class="text-muted mr-8pt">35 Views</small>
              <small class="text-muted">11 Nov, 2018</small>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
{% endblock content %}