/* navbar */
.navbar-burger {
  background-color: #4c505f;
}

/* home page */
.courses {
  background-color: #eaf0f1;
}

#menu-toggle:checked + #menu {
  display: block;
}
/* course page */
.active-course {
  background-color: #10a8e5ff;
}
.active-course a {
  color: #ffffff;
}
.course-price {
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  font-size: 1.6rem;
}

.course-title {
  margin: 1rem 0 1rem 0;
  font-weight: 700;
  font-size: 0.9rem;
  line-height: 1.4;
  text-align: center;
}

/* course lesson */
.mt-small {
  margin-top: 0.35rem;
}

.pt-small {
  padding-top: 0.08rem;
}

.transition {
  transition: all 0.15s ease-out;
}

.hover-invert-img:hover img.invert-me {
  filter: invert(1);
}

.img-hover-animate img {
  transition: margin 0.3s ease-out;
  margin-right: 0px;
}

.img-hover-animate:hover img {
  margin-right: 15px;
}

.border-3 {
  border-width: 3px;
}

.play-btn-pos {
  top: 50%;
  left: 50%;
  margin-left: -32px;
  margin-top: -32px;
}

.badge-filter {
  filter: grayscale(1) brightness(1.15);
  opacity: 0.5;
}

.badge-filter:hover {
  filter: grayscale(0) brightness(1);
  opacity: 1;
}

#menuBtn {
  margin-top: -0.35rem;
  opacity: 0.8;
  transform: scale(0.9);
  transition: all 0.2s ease-out;
}

#menuBtn:hover {
  opacity: 1;
  transform: scale(0.96);
}

#sideNav {
  transition: all 0.3s ease-in-out;
}

#app.opened #sideNav {
  left: 0rem;
  margin-left: 0rem;
}

#app.opened #sideNavBg {
  content: "";
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  position: fixed;
  z-index: 10;
  background: rgba(0, 0, 20, 0.4);
}

#app #closeSideNav {
  transition: all 0.3s ease-in-out;
  margin-right: -6rem;
}

#app.opened #closeSideNav {
  margin-right: 2.5rem;
}

/* slider */
.carousel-open:checked + .carousel-item {
  position: static;
  opacity: 100;
}

.carousel-item {
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
  display: block;
}

.carousel-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}

#carousel-1:checked
  ~ .control-1
  ~ .carousel-indicators
  li:nth-child(1)
  .carousel-bullet,
#carousel-2:checked
  ~ .control-2
  ~ .carousel-indicators
  li:nth-child(2)
  .carousel-bullet,
#carousel-3:checked
  ~ .control-3
  ~ .carousel-indicators
  li:nth-child(3)
  .carousel-bullet {
  color: #000;
  /*Set to match the Tailwind colour you want the active one to be */
}

/* community page */

.social-three li {
  margin: 0 -1px -1px 0;
}

.bg-facebook {
  background-color: #3b5998 !important;
  color: #fff;
}

.bg-twitter {
  background-color: #00aced;
  color: #fff;
}

.bg-instagram {
  background-color: #b300ad;
  color: #fff;
}

.bg-youtube {
  background-color: #bd0000;
  color: #fff;
}

.bg-discord {
  background-color: #2c2f33;
  color: #fff;
}

.bg-github {
  background-color: #4078c0;
  color: #fff;
}

/* footer */
.footer-copyright {
  background-color: #a4b0bd;
}

.embed-responsive-item {
  height: 25rem;
}
/* course overview tabs */
/* Tab content - closed */
.tab-content {
  max-height: 0;
  -webkit-transition: max-height 0.35s;
  -o-transition: max-height 0.35s;
  transition: max-height 0.35s;
}
/* :checked - resize to full height */
.tab input:checked ~ .tab-content {
  max-height: 100vh;
}
/* Label formatting when open */
.tab input:checked + label {
  /*@apply text-xl p-5 border-l-2 border-indigo-500 bg-gray-100 text-indigo*/
  font-size: 1.25rem; /*.text-xl*/
  padding: 1.25rem; /*.p-5*/
  border-left-width: 2px; /*.border-l-2*/
  border-color: #10a8e5ff; /*.border-indigo*/
  background-color: #f8fafc; /*.bg-gray-100 */
  color: #10a8e5ff; /*.text-indigo*/
}
/* Icon */
.tab label::after {
  float: right;
  right: 0;
  top: 0;
  display: block;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5;
  font-size: 1.25rem;
  text-align: center;
  -webkit-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
}
/* Icon formatting - closed */
.tab input[type="checkbox"] + label::after {
  content: "+";
  font-weight: bold; /*.font-bold*/
  border-width: 1px; /*.border*/
  border-radius: 9999px; /*.rounded-full */
  border-color: #b8c2cc; /*.border-grey*/
}
.tab input[type="radio"] + label::after {
  content: "\25BE";
  font-weight: bold; /*.font-bold*/
  border-width: 1px; /*.border*/
  border-radius: 9999px; /*.rounded-full */
  border-color: #b8c2cc; /*.border-grey*/
}
/* Icon formatting - open */
.tab input[type="checkbox"]:checked + label::after {
  transform: rotate(315deg);
  background-color: #10a8e5ff; /*.bg-indigo*/
  color: #f8fafc; /*.text-grey-lightest*/
}
.tab input[type="radio"]:checked + label::after {
  transform: rotateX(180deg);
  background-color: #10a8e5ff; /*.bg-indigo*/
  color: #f8fafc; /*.text-grey-lightest*/
}

/* alerts */
/*Banner open/load animation*/
.alert-banner {
  -webkit-animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/*Banner close animation*/
.alert-banner input:checked ~ * {
  -webkit-animation: slide-out-top 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: slide-out-top 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

/*Footer open/load animation*/
.alert-footer {
  -webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/*Footer close animation*/
.alert-footer input:checked ~ * {
  -webkit-animation: slide-out-bottom 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: slide-out-bottom 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

/*Toast open/load animation*/
.alert-toast {
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/*Toast close animation*/
.alert-toast input:checked ~ * {
  -webkit-animation: fade-out-right 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: fade-out-right 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* -------------------------------------------------------------
 * Animations generated using Animista * w: http://animista.net, 
 * ---------------------------------------------------------- */

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
}
@keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
}
@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes slide-out-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
}
@keyframes slide-out-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
}
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes fade-out-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
  }
}
@keyframes fade-out-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
  }
}

/* xarala Framework */
.bg-blue {
  background-color: #10a8e5ff;
}
.bg-dark {
  background-color: #4c505f;
}

.text-blue {
  color: #10a8e5ff;
}
.text-dark {
  color: #4c505f;
}
.hover-text-dark:hover {
  color: #4c505f;
}

.text-green {
  color: #2ecc72;
}

.border-blue {
  border: 1px solid #10a8e5ff;
}
.hover-bg-blue:hover {
  background-color: #10a8e5ff;
}
.hover-text-blue:hover {
  color: #10a8e5ff;
}
/* mobile */

@media screen and (max-width: 600px) {
  .embed-responsive-item {
    height: 10rem;
  }
}

/* from  */
.h-without-header {
  height: calc(100vh - 9rem);
}
.h-1\/4 {
  height: 25%;
}
.h-2\/4 {
  height: 50%;
}
.h-3\/4 {
  height: 75%;
}
