{% extends '_base.html' %}

{% block title %}
Authentification, inscription
{% endblock %}

{% block banner %}

{% endblock %}


{% block content %}
  <section class="auth-section max-w-sm mx-auto px-6">
            <!-- Alerts -->
    {% include 'partials/alerts.html' %}
    <div class="text-center font-semibold text-black">
      Inscrivez-vous, c'est gratuit!
    </div>
    <form method="post">
      {% csrf_token %}
      <div class="mb-4">
        <label class="block text-md font-light mb-2" for="username">Email</label>
        <input class="w-full bg-drabya-gray border-gray-500 appearance-none border p-4 font-light leading-tight focus:outline-none focus:shadow-outline" type="email" name="email" id="email" placeholder="me@gmail.com" required>
      </div>
      <div class="mb-4">
        <label class="block text-md font-light mb-2" for="password">Mot de passe</label>
        <input class="w-full bg-drabya-gray border-gray-500 appearance-none border p-4 font-light leading-tight focus:outline-none focus:shadow-outline" type="password" name="password1" id="password1" placeholder="*********">
      </div>

      <div class="mb-4">
        <label class="block text-md font-light mb-2" for="password2">Confirmation</label>
        <input class="w-full bg-drabya-gray border-gray-500 appearance-none border p-4 font-light leading-tight focus:outline-none focus:shadow-outline" type="password" name="password2" id="password2" placeholder="*********">
      </div>
    
      <div class="flex items-center justify-between mb-5">
        <button class="bg-indigo-600 hover:bg-blue-700 text-white font-light py-2 px-6 rounded focus:outline-none focus:shadow-outline" type="submit">
          Inscription
        </button>
        <a class="inline-block align-baseline font-light text-sm text-indigo-600 hover:text-indigo-500" href="{% url 'password_reset' %}">
          Mot de passe oublié ?
        </a>
      </div>
      <p class="text-center text-md font-light">Déja membre ? <a class="font-light text-md text-indigo-600" href="{% url 'account_login' %}?next={{ next|default_if_none:'/' }}">Connectez-vous</a></p>
    </form>

  </section>
{% endblock %}