{% extends "_dashboard_base.html" %} {% load static %} {% load crispy_forms_tags %} {% block title %} {{ title }} {% endblock title %} {% block sidebar %} {% include "partials/_sidebar_dashboard.html" %} {% endblock sidebar %} {% block content %}

<div class="row">
    <div class="col-lg-12">
        <h2 class="st_title">
            <i class="uil uil-apps"></i>Tableau de bord Apprenant
        </h2>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6">
        <div class="card_dash">
            <div class="card_dash_left">
                <h5>Total des cours achetés</h5>
                <h2>{{ courses.count|default_if_none:"0" }}</h2>
                <span class="crdbg_1">New 5</span>
            </div>
            <div class="card_dash_right">
                <img src="{% static 'images/dashboard/online-course.svg' %}" alt="">
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6">
        <div class="card_dash">
            <div class="card_dash_left">
                <h5>Total des instructeurs suivis</h5>
                <h2>{{ total_instructor_subscribing|default_if_none:"0" }}</h2>
                <span class="crdbg_2">New 3</span>
            </div>
            <div class="card_dash_right">
                <img src="{% static 'images/dashboard/knowledge.svg' %}" alt="">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-6 col-lg-6 col-md-6">
        <div class="section3125 mt-50">
            <h4 class="item_title">Derniers cours achetés</h4>
            <div class="la5lo1">
                <div class="owl-carousel courses_performance owl-theme">
                    {% for course in courses %}
                    <div class="item">
                        <div class="fcrse_1">
                            <a href="{% url 'course:course-overview' course.slug %}" class="fcrse_img">
                                <img src="
                    {% if course.thumbnail %} {{ course.thumbnail.url }}
                    {% else %} {% static 'images/courses/img-1.jpg' %}
                    {% endif %}
                    " alt="" />
                                <div class="course-overlay"></div>
                            </a>
                            <div class="fcrse_content">
                                <div class="vdtodt">
                                    <span class="vdt14">{{ course.date_created|date:"D d M Y" }}</span>
                                </div>
                                <a href="#" class="crsedt145">{{ course.title }}</a>
                                <div class="allvperf">
                                    <div class="crse-perf-left">Prix</div>
                                    <div class="crse-perf-right">
                                        {{ course.price|floatformat|default_if_none:"0" }} F CFA
                                    </div>
                                </div>
                                <div class="allvperf">
                                    <div class="crse-perf-left">Nombre d'inscrits</div>
                                    <div class="crse-perf-right">
                                        {{ course.students.count|default_if_none:"0" }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}